<% content_for :title, "Confirmation" %>
<div class="row">
  <%= render partial: '/layouts/flash_message' %>
  <div class="col-md-12">    
    <div class="ibox-content">
      <h2 class="font-bold">Resend confirmation</h2>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'form account-form', id: 'resend_confirmation_inst' }) do |f| %>

        <div class='form-group'>
          <%= f.email_field :email, placeholder: 'Enter your email address.', class: 'form-control', tabindex: 1, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          <%= devise_error_messages! %>
        </div>

        <button type='submit' class='btn btn-primary block full-width m-b' data-disable-with='Loading...'>
          Resend confirmation instructions
        </button>
      <% end %>
    </div>
  </div>
</div>