.holidays-list .padrgt0{
	padding-right: 0px;
}
.holidays-list .padlft0{
	padding-left: 0px;
}
.holidays-list .h-list .ibox-content{
  padding-left: 0;
  padding-right: 0;
  padding-top: 0px;
}
#toast-container > .toast-info {
	background-image: none !important;
}

#toast-container > .toast-error {
	background-image: none !important;
}

#toast-container > .toast-success {
	background-image: none !important;
}
.general-holidays td:first-child{
	padding-left: 4%;
}

.fc-today-button, .fc-button{
	text-transform: capitalize;
}

.fc-event-container a{
	border-radius: 0px;
  text-align: center;
  padding: 5px;
}
.fc-event-container a{
	padding: 4px 6px;
	background-color: #1ab394;
	border-color: #1ab394;
}
.fc-unthemed .fc-today{
	background: #e7eaec !important;
}
