<div class='modal inmodal' id='edit-hr-holiday-popup' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content animated bounceInRight'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
        <h4 class='modal-title'>
          <i class="fa fa-globe"></i>
          Edit Holiday
        </h4>
      </div>
      
      <%= nested_form_for holiday, html: {class: 'form-horizontal edit-hr-holiday-form'}, remote: true do |form| %>
        <div class='modal-body'>

          <div class="form-group">
            <%= form.label :htype, 'Type of Holiday', class: 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= form.select :htype, options_for_select(Rails.application.secrets.holiday_type.invert.to_a, form.object.htype), {include_blank: 'Select Type'}, {class: 'form-control'} %>
            </div>
          </div>

          <div class="form-group">
            <%= form.label :name, 'Holiday Name', class: 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= form.text_field :name, placeholder: 'Holiday Name', class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= form.label :hdate, 'Holiday Date', class: 'col-sm-3 control-label' %>
            <div class="col-sm-5">
              <%= form.text_field :hdate, value: form.object.hdate.strftime('%d/%m/%Y'), class: 'form-control holiday-date', placeholder: 'DD/MM/YYYY' %>
            </div>
          </div>

        </div>

        <div class='modal-footer'>          
          <button type='submit' class='btn btn-primary m-b-2' data-disable-with="<%= loader %>">Update Holiday</button>
          <button type='button' class='btn btn-white m-b' data-dismiss='modal'>Close</button>
        </div>
      <% end %>

    </div>
  </div>
</div>
