<div class='modal inmodal' id='edit-hr-holiday-popup' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content animated bounceInRight'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
        <h4 class='modal-title'>
          <i class="fa fa-globe"></i>
          Import Holidays
        </h4>
      </div>
      
      <%= form_for holiday, url: {controller: 'holidays', action: 'import_holiday'}, method: :post, html: {class: 'form-horizontal edit-hr-holiday-form'}, remote: true do |form| %>
        <div class='modal-body'>

          <div class="form-group">                        
            <div class="col-sm-6">              
              <div class="i-checks">
                <label>                  
                  <%= form.radio_button :import_by, 1, class: 'import_by' %>
                  <i></i> All Saturday Off
                </label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="i-checks">
                <label>
                  <%= form.radio_button :import_by, 2, class: 'import_by' %>
                  <i></i> 1st , 3rd and 5th Saturday Off
                </label>
              </div>
            </div>
            <br/><br/>
            <div class="col-sm-6">
              <div class="i-checks">
                <label>
                  <%= form.radio_button :import_by, 3, class: 'import_by' %>
                  <i></i> 2nd and 4th Saturday Off
                </label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="i-checks">
                <label>
                  <%= form.radio_button :import_by, 4, checked: true, class: 'import_by' %>
                  <i></i> Import from file (Only CSV)
                </label>
              </div>
            </div>            
          </div>

          <div class="form-group import-hld-section">
            <%= form.label :file, 'Upload File', class: 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <div class="fileinput fileinput-new" data-provides="fileinput">
                <span class="btn btn-default btn-file">
                  <span class="fileinput-new">Select file</span>
                  <span class="fileinput-exists">Change</span>                  
                  <%= form.file_field :file, class: 'required', accept: ".csv" %>
                </span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
              </div>
              <div class="clearfix"></div>
              <span>
                Only CSV file supported. <%= link_to 'Download Format', '/holidays.csv' %> <br/>
                <small>
                  Note: <br/>
                  <ol>
                    <li>
                      holiday_type : 1 for National Holiday and 2 for General Holiday
                    </li>
                    <li>
                      holiday_date : Format must be : DD/MM/YYYY
                    </li>
                  </ol>
                </small>
              </span>
            </div>
          </div>

        </div>

        <div class='modal-footer'>          
          <button type='submit' class='btn btn-primary m-b-2' data-disable-with="<%= loader %>">Add Holidays</button>
          <button type='button' class='btn btn-white m-b' data-dismiss='modal'>Close</button>
        </div>
      <% end %>

    </div>
  </div>
</div>
