<div id='edit-hr-holiday'></div>
<% if holidays.present? %>
	<div class="panel-heading">
	  <div class="panel-options">
	    <ul class="nav nav-tabs">
	      <li class="active">
	      	<a href="#nation-tab-1" data-toggle="tab" aria-expanded="true">National Holidays</a>
	      </li>
	      <li class="">
	      	<a href="#general-tab-2" data-toggle="tab" aria-expanded="false">General Holidays</a>
	      </li>
	    </ul>
	  </div>	  
	</div>
	<div class="panel-body padtop0">
		<div class="tab-content">
			<div class="tab-pane active" id="nation-tab-1">
				<% if holidays.nationals.present? %>
					<table class="table table-hover">
				    <thead>
				      <tr>
				        <th>Holiday Name</th>
				        <th>Date</th>		        
				        <th></th>
				      </tr>
				    </thead>
				    <tbody>
			      	<% holidays.nationals.each do |holiday| %>
			      		<%= render partial: '/holidays/table', locals: {holiday: holiday} %>
				      <% end %>
				    </tbody>
				  </table>
				<% else %>
					<p>No Holiday Found </p>
				<% end %>
			</div>
			<div class="tab-pane" id="general-tab-2">
				<% if holidays.generals.present? %>
					<table class="table table-hover">
				    <thead>
				      <tr>
				        <th>Holiday Name</th>
				        <th>Date</th>
				        <th></th>
				      </tr>
				    </thead>
				    <tbody>
				    	<% holidays.generals.group_by{|hld| hld.hdate.month }.each do |month, hldays| %>
				      	<tr>
				      		<td colspan='3'>
				      			<strong><%= Date::MONTHNAMES[month] %> <%= Date.today.year %></strong>
				      		</td>
				      	</tr>
				      	<% hldays.each do |holiday| %>
									<%= render partial: '/holidays/table', locals: {holiday: holiday} %>
					      <% end %>
				    	<% end %>
				    </tbody>
				  </table>
				<% else %>
					<p> No Holiday Found </p>
				<% end %>
			</div>
		</div>
	</div>
<% else %>
	<div class="panel-heading">
	  <div class="panel-options">
	  	<p>No Holiday Found !</p>
	 	</div>
	</div>
<% end %>