<tr id='<%= holiday.uniq_number %>' class='<%= holiday.holiday_type.downcase %>-holidays'>
  <td class='col-lg-9'><%= holiday.name %></td>
  <td><%= holiday.hdate.strftime('%d/%m/%Y') %></td>
  <td>
  	<% if is_hr_access? && holiday.hdate >= Time.zone.now.to_date %>
  		<%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_holiday_path(holiday), class: 'btn btn-xs btn-default', data: {disable_with: icon_loader, remote: true} %>
  		<%= link_to "<i class='fa fa-trash'></i>".html_safe, 'javascript:void(0);', class: 'btn btn-xs btn-danger', data: {behavior: 'holiday-delete', href: holiday_path(holiday)} %>
  	<% end %>
  </td>
</tr>
