<% content_for :title, "Calendar" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-6'>
    <%= show_breadcrumb('Holidays : Calendar View') %>
  </div>
  <div class="col-sm-6 text-right">
    <h2>
      <%= link_to 'Back', holidays_path, data: {disable_with: loader}, class: 'btn btn-primary btn-xs' %>
    </h2>
  </div>
</div>

<div class='row'>
	<div class='col-lg-12 pad0'>
  	<div class='wrapper wrapper-content animated fadeInUp'>
      <div class='ibox'>
        <div class='ibox-content'>
					 <div id="holiday-calendar"></div>         
        </div>
      </div>
    </div>
 	</div>
</div>