$('#edit-hr-holiday').html("<%= escape_javascript(render partial: '/holidays/form') %>")
$('#edit-hr-holiday-popup').modal({backdrop: 'static', keyboard: false})

$.getScript('/assets/hr/holidays.js')

var dateToday = new Date();
$('.holiday-date').datepicker({
  autoclose: true,  
  startDate: '-1d',
  daysOfWeekDisabled: '0',
  format: "dd/mm/yyyy"
})


$('.edit-hr-holiday-form').validate({
	rules: {
		'holiday[name]': {
			required: true,
		},
		'holiday[hdate]': {
			required: true,
			remote: {
				type: 'get',
				url: '/holidays/getExistHoliday',
				data: {id: '<%= holiday.id %>'},
				dataType: 'json'
			}				
		},
		'holiday[htype]': {
			required: true
		}
	},
	messages: {
		'holiday[name]': {
			required: "Name can't be blank!"				
		},
		'holiday[hdate]': {
			required: "Date can't be blank!",
			remote: 'Already added for this date!'
		},
		'holiday[htype]': {
			required: "Type can't be blank!"
		}
	}
})
