<% if @error.present? %>
  toastr.error('<%= @error %>')
<% else %>
  toastr.success('Successfully imported holidays.')

	$('#edit-hr-holiday-popup').modal('hide');
	$(".list-of-holidays").html("<%= escape_javascript(render partial: '/holidays/list') %>")

	$.getScript('/assets/hr/holidays.js')
<% end %>