$('#edit-hr-holiday').html("<%= escape_javascript(render partial: '/holidays/import') %>")
$('#edit-hr-holiday-popup').modal({backdrop: 'static', keyboard: false})

$('.i-checks').iCheck({  
  radioClass: 'iradio_square-green',
});


$('input:radio').on('ifChecked', function(event){ 
	if($(this).val() == '4'){
		$("#holiday_file").addClass('required');
		$(".import-hld-section").removeClass('hide');
	}else{
		$("#holiday_file").removeClass('required');
		$(".import-hld-section").addClass('hide');
	}	
});

$("#new_holiday").validate()