<% content_for :title, "Holiday List" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-6'>
    <%= show_breadcrumb('Holidays') %>
  </div>
</div>

<div class='row holidays-list'>
	<div class="<%= is_hr_access? ? 'col-lg-8' : 'col-lg-12' %> padrgt0">
  	<div class='wrapper wrapper-content animated fadeInUp h-list'>
      <div class='ibox'>
        <div class='ibox-title'>
          <h5>All holidays associated to this organization</h5>
          <div class='new-project-popup'></div>
          <div class='ibox-tools'>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <% if is_hr_access? %>
                <li><%= link_to 'Import Holidays', import_holidays_path, data: {disable_with: loader, remote: true} %></li>
              <% end %>
              <li><%= link_to 'View Calendar', calendar_holidays_path, data: {disable_with: loader} %></li>
            </ul>
          </div>
        </div>        
        <div class='ibox-content list-of-holidays'>
          <%= render partial: '/holidays/list' %>          
        </div>
      </div>
    </div>
 	</div>
  <% if is_hr_access? %>
    <div class='col-lg-4 padlft0'>
      <div class='wrapper wrapper-content animated fadeInUp'>
        <div class='ibox'>
          <div class='ibox-title'>
            <h5>Add Holiday</h5>
          </div>        
          <div class='ibox-content'>

            <%= form_for holiday, html: { class: 'new-project-client-page' }, remote: true do |form| %>
                            
              <div class="form-group">
                <%= form.label :name, 'Holiday Name'%>
                <%= form.text_field :name, placeholder: 'Holiday Name', class: 'form-control' %>
              </div>

              <div class='form-group'>
                <%= form.label :hdate, 'Holiday Date'%>                            
                <%= form.text_field :hdate, class: 'form-control holiday-date', placeholder: 'DD/MM/YYYY' %>
              </div>  

              <div class="form-group">
                <%= form.label :htype, 'Type of Holiday'%>
                <%= form.select :htype, options_for_select(Rails.application.secrets.holiday_type.invert.to_a), {include_blank: 'Select Type'}, {class: 'form-control'} %>
              </div>

              <div class="hr-line-dashed"></div>
              <%= button_tag 'Add Holiday', class: 'btn btn-primary', data: { disable_with: loader} %>            
            <% end %>

          </div>
        </div>
      </div>
    </div> 
  <% end %>
</div>