$.getScript('/assets/hr/holidays.js')
$('#edit-hr-holiday-popup').modal('hide');
$(".list-of-holidays").html("<%= escape_javascript(render partial: '/holidays/list') %>")

toastr.success('Holiday has been updated.')