<div class='panel-body'>
  <%= render partial: '/employees/header', locals: {header: 'Bank Account Detail'} %>
  <%= nested_form_for(current_profile, url: {controller: 'employees', action: 'update', id: employee.slug}, html: { method: :put, class: 'form-horizontal', id: 'bank-account-detail' }, remote: true) do |profile| %>
  	<div class='col-lg-6'>
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Bank Name</label>
	      <div class='col-sm-8'>
	      	<%= profile.text_field :bank_name, class: 'form-control required', placeholder: 'Bank Name' %>
	      </div>
	    </div>	    
		</div>
  	<div class='col-lg-6'>
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Account #</label>
	      <div class='col-sm-8'>
	      	<%= profile.text_field :account_number, class: 'form-control required', placeholder: 'Account Number' %>
	      </div>
	    </div>	    
		</div>

  	<div class='col-lg-6'>
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>IFSC Code</label>
	      <div class='col-sm-8'>
	      	<%= profile.text_field :ifsc_code, class: 'form-control required', placeholder: 'IFSC Code' %>
	      </div>
	    </div>	    
		</div>

	  <div class="clearfix"></div>

    <div class='hr-line-dashed'></div>
    
    <div class='form-group'>
      <div class='col-sm-8 col-sm-offset-2'>
      	<%= link_to 'Cancel', root_path, class: 'btn btn-white', data: {disable_with: loader} %>
        <%= button_tag 'Save Changes', class: 'btn btn-primary', data: { disable_with: loader} %>
      </div>
    </div>

  <% end %>
</div>