<div class='panel-body'>
  <%= render partial: '/employees/header', locals: {header: 'Basic Profile Setting'} %>
  <%= nested_form_for(current_profile, url: {controller: 'employees', action: 'update', id: employee.slug}, html: { method: :put, class: 'form-horizontal', id: 'basic-employee-profile' }, remote: true) do |profile| %>
	
  	<div class='col-lg-6'>
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Email</label>
	      <div class='col-sm-8'>
	      	<p class="form-control-static"><%= employee.email %></p>		        
	      </div>
	    </div>	    

	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Firstname</label>
	      <div class='col-sm-8'>
	        <%= profile.text_field :firstname, class: 'form-control', placeholder: 'Write your firstname' %>
	      </div>
	    </div>

	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Gender</label>
	      <div class='col-sm-8'>
	        <%= profile.select :gender, options_for_select(Rails.application.secrets.gender_type.invert.to_a, profile.object.gender), {include_blank: 'Select your sex'}, {class: 'form-control'} %>
	      </div>
	    </div>
    </div>

  	<div class='col-lg-6'>
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Username</label>
	      <div class='col-sm-8'>
	      	<p class="form-control-static"><%= employee.username %></p>		        
	      </div>
	    </div>
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Lastname</label>
	      <div class='col-sm-8'>
	        <%= profile.text_field :lastname, class: 'form-control', placeholder: 'Write your lastname' %>
	      </div>
	    </div>
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Appointment Type</label>
	      <div class='col-sm-8'>
	        <%= profile.select :appointment_type, options_for_select(Rails.application.secrets.appointment_type.invert.to_a, profile.object.appointment_type), {include_blank: 'Select Appointment Type'}, {class: 'form-control'} %>
	      </div>
	    </div>
	  </div>
	  <div class='col-lg-6'>
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Designation</label>
	      <div class='col-sm-8'>
	        <%= profile.text_field :designation, class: 'form-control', placeholder: 'Write your designation' %>
	      </div>
	    </div>
	  </div>

	  <div class="clearfix"></div>
		<legend><small>Profile Picture</small></legend>

		<div class='col-lg-12'>
	    <div class='form-group'>
	      <label class='col-sm-2 control-label'>Logo</label>
	      <div class='col-sm-6'>
					<div class="fileinput fileinput-new input-group" data-provides="fileinput">
            <div class="form-control" data-trigger="fileinput">
            	<i class="glyphicon glyphicon-file fileinput-exists"></i>
            	<span class="fileinput-filename"></span>
            </div>
          	<span class="input-group-addon btn btn-default btn-file">
          		<span class="fileinput-new">Select file</span>
          		<span class="fileinput-exists">Change</span>
          		<input type="hidden">            		
          		<%= profile.file_field :avatar %>
          	</span>
            <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
          </div>		        
	      </div>
	    </div>
		</div>

		<legend><small>Other Information</small></legend>

		<div class='col-lg-12'>
			<div class='form-group'>
	      <label class='col-sm-2 control-label'>About Me</label>
	      <div class='col-sm-10'>
	      	<%= profile.text_area :about_me, class: 'form-control', placeholder: 'Write something about your self here...', maxlength: 260 %>
	      </div>
	    </div>
		</div>

		<div class='col-lg-6'>
			<div class='form-group'>
	      <label class='col-sm-4 control-label'>Birth Date</label>
	      <div class='col-sm-8'>		      
          <div class="input-group date">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>              
            <%= profile.text_field :birth_date, value: profile.object.birth_date.present? ? profile.object.birth_date.strftime('%d/%m/%Y') : '', class: 'form-control', placeholder: 'DD/MM/YYYY' %>
          </div>
	      </div>
	    </div>	
		</div>

		<div class='col-lg-6'>
			<div class='form-group'>
	      <label class='col-sm-4 control-label'>Marriage Date</label>
	      <div class='col-sm-8'>		      
          <div class="input-group date">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>              
            <%= profile.text_field :marriage_date, value: profile.object.marriage_date.present? ? profile.object.marriage_date.strftime('%d/%m/%Y') : '', class: 'form-control', placeholder: 'DD/MM/YYYY' %>
          </div>
	      </div>
	    </div>			
		</div>

  	<div class='col-lg-6'>
			<div class='form-group'>
	      <label class='col-sm-4 control-label'>Joining Date</label>
	      <div class='col-sm-8'>		      
          <div class="input-group date">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>              
            <%= profile.text_field :joining_date, value: profile.object.joining_date.present? ? profile.object.joining_date.strftime('%d/%m/%Y') : '', class: 'form-control date-old', placeholder: 'DD/MM/YYYY' %>
          </div>
	      </div>
	    </div>	
    </div>
  	<div class='col-lg-6'>
			<div class='form-group'>
	      <label class='col-sm-4 control-label'>Resign Date</label>
	      <div class='col-sm-8'>		      
          <div class="input-group date">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>              
            <%= profile.text_field :resign_date, value: profile.object.resign_date.present? ? profile.object.resign_date.strftime('%d/%m/%Y') : '', class: 'form-control', placeholder: 'DD/MM/YYYY' %>
          </div>
	      </div>
	    </div>	
	  </div>

	  <div class="col-lg-6">
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Blood Group</label>
	      <div class='col-sm-8'>
	      	<%= profile.select :blood_group, options_for_select(Rails.application.secrets.blood_groups, profile.object.blood_group), {include_blank: 'Select your blood group'}, {class: 'form-control'} %>
	      </div>
	    </div>	  
	  </div>
		
	  <div class="clearfix"></div>

    <div class='hr-line-dashed'></div>
    
    <div class='form-group'>
      <div class='col-sm-8 col-sm-offset-2'>
      	<%= link_to 'Cancel', root_path, class: 'btn btn-white', data: {disable_with: loader} %>
        <%= button_tag 'Save Changes', class: 'btn btn-primary', data: { disable_with: loader} %>
      </div>
    </div>

  <% end %>
</div>
