<div class='panel-body'>
	<%= render partial: '/employees/header', locals: {header: 'Login Access'} %>
	<%= nested_form_for(current_organization_user, url: {controller: 'employees', action: 'employee_document_update', id: employee.slug}, html: { method: :put, class: '', id: 'cancel-account', remote: true }) do |form| %>	  
		<div class='col-lg-12'>
	    <div class='form-group'>
	      <div class='col-sm-6'>
	        <label>	        	
	        	<%= form.check_box :status_id, class: 'i-checks' %>
						Enable/Disable Login Access
	        </label>
	      </div>
	    </div>
		</div>

	  <div class="clearfix"></div>
    <div class='hr-line-dashed'></div>
    
    <div class='form-group'>
      <div class='col-sm-8 col-sm-offset-2'>
      	<%= link_to 'Cancel', root_path, class: 'btn btn-white', data: {disable_with: loader} %>
        <%= button_tag 'Save Changes', class: 'btn btn-primary', data: { disable_with: loader} %>
      </div>
    </div>
	<% end %>    
</div>
