<div class='panel-body'>
	<%= render partial: '/employees/header', locals: {header: 'Employee Certificates'} %>
  <%= nested_form_for(current_profile, url: {controller: 'employees', action: 'update', id: employee.slug}, html: { method: :put, class: 'form-horizontal', id: 'employee-certificate-profile' }, remote: true) do |profile| %>
  	<%= profile.fields_for :certificates do |crft| %>	
	  	
	  	<div class='col-lg-5'>
		    <div class='form-group'>
		      <label class='col-sm-4 control-label'>Certificate Name</label>
		      <div class='col-sm-8'>
		      	<%= crft.text_field :name, class: 'form-control required', placeholder: 'Degree/Certificate Name' %>
		      </div>
		    </div>	    
			</div>
			<div class='col-lg-3'>
				<div class='form-group'>
		      <label class='col-sm-4 control-label'>Class/Grade</label>
		      <div class='col-sm-8'>
		      	<%= crft.text_field :klass, class: 'form-control required', placeholder: 'Grade' %>
	        </div>
		    </div>	
			</div>
			<div class='col-lg-3'>
				<div class='form-group'>
		      <label class='col-sm-3 control-label'>Year</label>
		      <div class='col-sm-3 pad0 m-r-5'>
	          <%= crft.select :month, options_for_select((1..12).to_a, crft.object.month), {include_blank: 'Month'}, {class: 'form-control'} %>
	        </div>
	        <div class='col-sm-5 pad0'>
	          <%= crft.select :year, options_for_select((2000..Time.zone.now.year).to_a, crft.object.year), {include_blank: 'Year'}, {class: 'form-control'} %>
		      </div>
		    </div>	
			</div>
			<div class='col-lg-1'>
		    <div class='form-group'>
		    	<span class="badge badge-danger">
		    		<%= crft.link_to_remove 'Remove', class: 'color-white' %>
		    	</span>
				</div>
			</div>
			<div class="clearfix"></div>
			<hr> 				
  	<% end %>
  	<p><%= profile.link_to_add "Add Certificate", :certificates %></p>

	  <div class="clearfix"></div>

    <div class='hr-line-dashed'></div>
    
    <div class='form-group'>
      <div class='col-sm-8 col-sm-offset-2'>
      	<%= link_to 'Cancel', root_path, class: 'btn btn-white', data: {disable_with: loader} %>
        <%= button_tag 'Save Changes', class: 'btn btn-primary', data: { disable_with: loader} %>
      </div>
    </div>	
	<% end %>
</div>	 