<div class='panel-body'>
	<%= render partial: '/employees/header', locals: {header: 'Employee Detail Information'} %>
  <%= nested_form_for(current_profile, url: {controller: 'employees', action: 'update', id: employee.slug}, html: { method: :put, class: 'form-horizontal', id: 'basic-employee-profile' }, remote: true) do |profile| %>
	  <div class='col-lg-6'>
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Personal Email</label>
	      <div class='col-sm-8'>
	        <%= profile.email_field :personal_email, class: 'form-control', placeholder: 'Personal email address' %>
	      </div>
	    </div>

	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Skype</label>
	      <div class='col-sm-8'>
	        <%= profile.text_field :skype, class: 'form-control', placeholder: 'Current Company Skype ID' %>
	      </div>
	    </div>

			<div class='form-group'>
		    <label class='col-sm-4 control-label'>Phone Number</label>
		    <div class='col-sm-8'>
		      <%= profile.text_field :phone_number, class: 'form-control phone-number', placeholder: '(XXX) XXX-XXXX' %>
		    </div>
		  </div>

	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Website</label>
	      <div class='col-sm-8'>
	        <%= profile.url_field :website, class: 'form-control', placeholder: 'http://www.google.co.in' %>
	      </div>
	    </div>		
		</div>
		<div class='col-lg-6'>
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Personal Skype</label>
	      <div class='col-sm-8'>
	        <%= profile.text_field :personal_skype, class: 'form-control', placeholder: 'Skype' %>
	      </div>
	    </div>

	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Mobile Number</label>
	      <div class='col-sm-8'>
	        <%= profile.text_field :mobile_number, class: 'form-control phone-number', placeholder: '(XXX) XXX-XXXX' %>
	      </div>
	    </div>

		  <div class='form-group'>
		    <label class='col-sm-4 control-label'>Home Number</label>
		    <div class='col-sm-8'>
		      <%= profile.text_field :home_number, class: 'form-control home-number', placeholder: '(XX) XXX-XXX-XX' %>
		    </div>
		  </div>

		</div>

		<div class="clearfix"></div>
		<legend><small>Current Addess</small></legend>

		<div class='col-lg-12'>
	    <div class='form-group'>
	      <label class='col-sm-2 control-label'>Address</label>
	      <div class='col-sm-6'>
	        <%= profile.text_field :address, class: 'form-control', placeholder: 'Write your address here...' %>
	      </div>
	    </div>
		</div>

		<div class='col-lg-6'>
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>City</label>
	      <div class='col-sm-8'>
	        <%= profile.text_field :city, class: 'form-control', placeholder: 'City Name' %>
	      </div>
	    </div>			
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Country</label>
	      <div class='col-sm-8'>
	        <%= profile.text_field :country, class: 'form-control', placeholder: 'Country Name' %>
	      </div>
	    </div>			
		</div>

		<div class='col-lg-6'>
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>State</label>
	      <div class='col-sm-8'>
	        <%= profile.text_field :state, class: 'form-control', placeholder: 'State Name' %>
	      </div>
	    </div>
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Zipcode</label>
	      <div class='col-sm-8'>
	        <%= profile.number_field :zipcode, class: 'form-control', placeholder: 'Zipcode', minlength: 4, maxlength: 6 %>
	      </div>
	    </div>		    
		</div>

		<legend><small>Permanent Addess</small></legend>

		<div class='col-lg-12'>
	    <div class='form-group'>
	      <label class='col-sm-2 control-label'></label>
	      <div class='col-sm-6'>
	        <label>	        	
	        	<%= profile.check_box :same_as_current_address, class: 'i-checks' %>
	        	Same as current address 
	        </label>
	      </div>
	    </div>
		</div>

		<div class='col-lg-12'>
	    <div class='form-group'>
	      <label class='col-sm-2 control-label'>Address</label>
	      <div class='col-sm-6'>
	        <%= profile.text_field :permanent_address, class: 'form-control', placeholder: 'Write your address here...' %>
	      </div>
	    </div>
		</div>

		<div class='col-lg-6'>
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>City</label>
	      <div class='col-sm-8'>
	        <%= profile.text_field :permanent_city, class: 'form-control', placeholder: 'City Name' %>
	      </div>
	    </div>			
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Country</label>
	      <div class='col-sm-8'>
	        <%= profile.text_field :permanent_country, class: 'form-control', placeholder: 'Country Name' %>
	      </div>
	    </div>			
		</div>

		<div class='col-lg-6'>
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>State</label>
	      <div class='col-sm-8'>
	        <%= profile.text_field :permanent_state, class: 'form-control', placeholder: 'State Name' %>
	      </div>
	    </div>
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Zipcode</label>
	      <div class='col-sm-8'>
	        <%= profile.number_field :permanent_zipcode, class: 'form-control', placeholder: 'Zipcode', minlength: 4, maxlength: 6 %>
	      </div>
	    </div>		    
		</div>

		<legend><small>Parent Information</small></legend>
		
		<div class="col-lg-6">
			<div class='form-group'>
	      <label class='col-sm-4 control-label'>Parent Name</label>
	      <div class='col-sm-8'>
	        <%= profile.text_field :parent_name, class: 'form-control', placeholder: 'Write your parent name' %>
	      </div>
	    </div>

	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Phone Number</label>
	      <div class='col-sm-8'>
	        <%= profile.text_field :parent_phone_number, class: 'form-control phone-number', placeholder: '(XXX) XXX-XXXX' %>
	      </div>
	    </div>

		</div>
		<div class="col-lg-6">
			<div class='form-group'>
	      <label class='col-sm-4 control-label'>Relationship</label>
	      <div class='col-sm-8'>
	        <%= profile.text_field :relationship_with_parent, class: 'form-control', placeholder: 'Relationship' %>
	      </div>
	    </div>
		</div>

		<div class='col-lg-12'>
	    <div class='form-group'>
	      <label class='col-sm-2 control-label'>Address</label>
	      <div class='col-sm-6'>
	        <%= profile.text_field :parent_address, class: 'form-control', placeholder: 'Write your address here...' %>
	      </div>
	    </div>
		</div>

		<div class='col-lg-6'>
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>City</label>
	      <div class='col-sm-8'>
	        <%= profile.text_field :parent_city, class: 'form-control', placeholder: 'City Name' %>
	      </div>
	    </div>			
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Country</label>
	      <div class='col-sm-8'>
	        <%= profile.text_field :parent_country, class: 'form-control', placeholder: 'Country Name' %>
	      </div>
	    </div>			
		</div>

		<div class='col-lg-6'>
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>State</label>
	      <div class='col-sm-8'>
	        <%= profile.text_field :parent_state, class: 'form-control', placeholder: 'State Name' %>
	      </div>
	    </div>
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Zipcode</label>
	      <div class='col-sm-8'>
	        <%= profile.number_field :parent_zipcode, class: 'form-control', placeholder: 'Zipcode', minlength: 4, maxlength: 6 %>
	      </div>
	    </div>		    
		</div>


	  <div class="clearfix"></div>

    <div class='hr-line-dashed'></div>
    
    <div class='form-group'>
      <div class='col-sm-8 col-sm-offset-2'>
      	<%= link_to 'Cancel', root_path, class: 'btn btn-white', data: {disable_with: loader} %>
        <%= button_tag 'Save Changes', class: 'btn btn-primary', data: { disable_with: loader} %>
      </div>
    </div>

  <% end %>
</div>
