<div class='panel-body'>
	<%= render partial: '/employees/header', locals: {header: 'Employee Documents'} %>
  <div class="col-lg-8 pad0 b-r">
		<% if current_organization_user.employee_documents.present? %>
			<% current_organization_user.employee_documents.each do |document| %>
				<div id='<%= document.uniq_number %>' class="file-box">
		      <div class="file">
		        <%= link_to employee_employee_document_download_path(employee, document), title: 'Click to download document' do %>
		          <span class="corner"></span>
		          <%= document_attachment_type2(document) %>
		          <div class="file-name">
		          	<%= document.document_name %>
		            <br>
		            <small>Added: <%= local_time_ago(document.created_at) %></small>
		          	<div class="pull-right">
		          		<%= link_to "<i class='fa fa-trash'></i>".html_safe, 'javascript:void(0);', class: '', data: {behavior: 'emp-document-delete', href: employee_employee_document_path(employee, document)} %>
		          	</div>		            
		          </div>
		        <% end %>
		      </div>
		    </div>
			<% end %>
		<% else %>
			<p>No documents uploaded yet ! </p>
		<% end %>
  </div>

  <div class="col-lg-4">
  	<%= nested_form_for(current_organization_user, url: {controller: 'employees', action: 'employee_document_update', id: employee.slug}, html: { method: :put, class: '', id: 'employee-document-profile', remote: true }) do |form| %>
  		<legend>Add Employee Document </legend>
  		<%= form.fields_for :employee_documents, form.object.employee_documents.build do |ed| %>	

		    <div class='form-group'>
		      <label class=''>Document Name/Type</label>		      
		      <%= ed.text_field :document_name, class: 'form-control required', placeholder: 'Document Name / Type' %>
		    </div>

		    <div class='form-group'>
		      <label class=''>Upload Document</label><br/>
					<div class="fileinput fileinput-new" data-provides="fileinput">
					  <span class="btn btn-default btn-file">
					    <span class="fileinput-new">Select file</span>
					    <span class="fileinput-exists">Change</span>
					    <%= ed.file_field :document, class: 'required' %>
					  </span>
					  <span class="fileinput-filename"></span>
					  <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
					</div>
		    </div>
  		<% end %>
		  <div class="clearfix"></div>

	    <div class='hr-line-dashed'></div>
	    
	    <div class='form-group'>
	      <%= button_tag 'Add Document', class: 'btn btn-primary', data: { disable_with: loader} %>	      
	    </div>  		
  	<% end %>
  </div>

</div>