  <h3>
  	<%= header %>
  	<small class="pull-right">
  		<strong> EMP. CODE - <%= current_profile.emp_code %> </strong> | 
  		Member since - <%= local_time_ago(employee.created_at) %>  			
  	</small>
  </h3>
  <hr>
