<div class='panel-body'>
  <%= render partial: '/employees/header', locals: {header: 'Previous Company Information'} %>
  <%= nested_form_for(current_profile, url: {controller: 'employees', action: 'update', id: employee.slug}, html: { method: :put, class: 'form-horizontal', id: 'prev-company-profile' }, remote: true) do |profile| %>
  	<%= profile.fields_for :profile2s do |pf2| %>	
	  	
	  	<div class='col-lg-6'>
		    <div class='form-group'>
		      <label class='col-sm-4 control-label'>Company Name</label>
		      <div class='col-sm-8'>
		      	<%= pf2.text_field :company_name, class: 'form-control required', placeholder: 'Company Name' %>
		      </div>
		    </div>	    
			</div>
			<div class='col-lg-3'>
				<div class='form-group'>
		      <label class='col-sm-4 control-label'>StartDate</label>
		      <div class='col-sm-8'>		      
	          <div class="input-group">
	            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>              
	            <%= pf2.text_field :start_date, value: pf2.object.start_date.present? ? pf2.object.start_date.strftime('%d/%m/%Y') : '', class: 'form-control date-old', placeholder: 'DD/MM/YYYY' %>
	          </div>
		      </div>
		    </div>	
			</div>
			<div class='col-lg-3'>
				<div class='form-group'>
		      <label class='col-sm-4 control-label'>EndDate</label>
		      <div class='col-sm-8'>		      
	          <div class="input-group">
	            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>              
	            <%= pf2.text_field :end_date, value: pf2.object.end_date.present? ? pf2.object.end_date.strftime('%d/%m/%Y') : '', class: 'form-control date-old', placeholder: 'DD/MM/YYYY' %>
	          </div>
		      </div>
		    </div>	
			</div>
			<div class='col-lg-12'>
		    <div class='form-group'>
		    	<label class='col-sm-2 control-label'>Reason for resignation</label>		      
		      <div class='col-sm-10'>
		      	<%= pf2.text_area :reason_for_resignation, class: 'form-control', placeholder: 'Write your resignation' %>
		      </div>
		    </div>			
			</div>
			<div class='col-lg-12'>
		    <div class='form-group pull-right'>
		    	<span class="badge badge-danger">
		    		<%= pf2.link_to_remove 'Remove', class: 'color-white' %>
		    	</span>
				</div>
			</div>
			<div class="clearfix"></div>
			<hr> 				
  	<% end %>
  	<p><%= profile.link_to_add "Add Company", :profile2s %></p>

	  <div class="clearfix"></div>

    <div class='hr-line-dashed'></div>
    
    <div class='form-group'>
      <div class='col-sm-8 col-sm-offset-2'>
      	<%= link_to 'Cancel', root_path, class: 'btn btn-white', data: {disable_with: loader} %>
        <%= button_tag 'Save Changes', class: 'btn btn-primary', data: { disable_with: loader} %>
      </div>
    </div>

  <% end %>
</div>