<div class='col-md-6'>
  <div class='profile-image'>
    <%= image_tag(current_profile.profile_image('medium'), alt: 'Logo', class: 'img-circle m-b-md circle-border') %>
  </div>
  <div class='profile-info'>
    <div class=''>
      <div>
        <h2 class='no-margins'><%= current_profile.fullname %></h2>
        <h4><%= current_profile.try(:designation) %></h4>
        <small><%= current_profile.try(:about_me) %></small>
      </div>
    </div>
  </div>
</div>
<div class='col-md-3'>
  <table class='table small m-b-xs'>
    <tbody>
      <tr>
        <td><strong>142</strong> Projects</td>
        <td><strong>22</strong> Followers</td>
      </tr>
      <tr>
        <td><strong>61</strong> Comments</td>
        <td><strong>54</strong> Articles</td>
      </tr>
      <tr>
        <td><strong>154</strong> Tags</td>
        <td><strong>32</strong> Friends</td>
      </tr>
    </tbody>
  </table>
</div>
<div class='col-md-3'>
  <small>Sales in last 24h</small>
  <h2 class='no-margins'>206 480</h2>
  <div id='sparkline1'>
    <canvas style='display: inline-block; width: 236px; height: 50px; vertical-align: top;' width='236' height='50'></canvas>
  </div>
</div>
