<% content_for :title, "Edit Employee" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-6'>
    <%= show_breadcrumb("Employee - <b>#{current_profile.fullname}</b> profile".html_safe) %>
  </div>
</div>

<div class='row employees-list'>
	<div class="wrapper wrapper-content animated fadeInRight">

  <div class='row m-b-lg m-t-lg emp-profile'>
    <%= render partial: '/employees/profile' %>
  </div>

  <div class='ibox float-e-margins'>
    <div class='row'>
      <div class='col-lg-12'>
        <div class='tabs-container'>   
          <ul class='nav nav-tabs'>
            <li class='active'>
              <a data-toggle='tab' href='#tab-1-basic-profile' aria-expanded='false'> 
                <i class='fa fa-user'></i> Basic Profile 
              </a>
            </li>
            <li class=''>
              <a data-toggle='tab' href='#tab-3-detail-profile' aria-expanded='false'>
                <i class='fa fa-user'></i> Contact Detail
              </a>
            </li>
            <li class=''>
              <a data-toggle='tab' href='#tab-2-prev-company-detail' aria-expanded='false'>
                <i class='fa fa-university'></i> Company Detail
              </a>
            </li>
            <li class=''>
              <a data-toggle='tab' href='#tab-6-certificate-detail' aria-expanded='false'>
                <i class='fa fa-certificate'></i> Certificates
              </a>
            </li>
            <li class=''>
              <a data-toggle='tab' href='#tab-5-bank-account-detail' aria-expanded='false'>
                <i class='fa fa-credit-card'></i> Bank A/c Detail
              </a>
            </li>                        
            <li class=''>
              <a data-toggle='tab' href='#tab-4-employee-document' aria-expanded='false'>
                <i class='fa fa-paperclip'></i> Documents
              </a>
            </li>
            <li class=''>
              <a data-toggle='tab' href='#tab-5-cancel-account' aria-expanded='false'>
                <i class='fa fa-close'></i> Archive A/c
              </a>
            </li>            
          </ul>
          
          <div class='tab-content '>
            <div id='tab-1-basic-profile' class='tab-pane active'>
            	<%= render partial: '/employees/basic_profile' %>
            </div>
            
            <div id='tab-2-prev-company-detail' class='tab-pane'>
              <%= render partial: '/employees/prev_company_info' %>
            </div>
            
            <div id='tab-3-detail-profile' class='tab-pane'>
              <%= render partial: '/employees/detail_profile' %>
            </div>
            
            <div id='tab-4-employee-document' class='tab-pane'>
            	<%= render partial: '/employees/documents' %>
            </div>

            <div id='tab-5-bank-account-detail' class="tab-pane">
              <%= render partial: '/employees/bank_detail' %>
            </div>

            <div id='tab-5-cancel-account' class='tab-pane'>
              <%= render partial: '/employees/cancel_account' %>
            </div>

            <div id='tab-6-certificate-detail' class="tab-pane">
              <%= render partial: '/employees/certificates' %>
            </div>

          </div>        

        </div>
      </div>
    </div>
  </div>

  </div>
</div>