<% if current_organization_user.valid? %>
	<% if params[:organizations_user][:employee_documents_attributes].present? %>
		$('#tab-4-employee-document').html("<%= escape_javascript(render partial: '/employees/documents') %>")
	<% end %>
	toastr.success('Successfully updated employee details.')
<% else %>
	toastr.error("<%= current_organization_user.errors.full_messages.join(', ') %>")
<% end %>
$.getScript('/assets/employee.js')