<% content_for :title, "Employee List" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-6'>
    <%= show_breadcrumb('Employees') %>
  </div>
</div>

<div class='row employees-list'>
	<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      
      <% if employees.present? %>
      	<% employees.each do |employee| %>
      		<% if employee.profile.present? %>
			      <div class="col-lg-4">
			        <div class="contact-box">
			        	<%= link_to edit_employee_path(employee.user) do %>		          
			            <div class="col-sm-4">
			              <div class="text-center">
			                <%= image_tag(employee.profile.profile_image('medium'), alt: 'Logo', class: 'img-circle m-t-xs img-responsive img-center') %>
			                <div class="m-t-xs font-bold"></div>
			              </div>
			            </div>
			            <div class="col-sm-8">
			              <h3 class="truncate" title='<%= employee.profile.fullname %>'><strong><%= employee.profile.fullname %></strong></h3>
			              <p class="truncate">
			              	<span title='<%= employee.profile.designation %>'><%= employee.profile.designation.present? ? employee.profile.designation : 'Undefine'  %></span>
			              	<br/>
			              	<strong><%= role_for_employee(employee) %></strong>
			              </p>
			            </div>
			           	<div class="clearfix"></div>
			          <% end %>
			        </div>
			      </div>
			    <% end %>
		    <% end %>
		  <% end %>

		</div>          
  </div>
</div>