<% if employee.valid? %>	
	$(".emp-profile").html("<%= escape_javascript(render partial: '/employees/profile') %>")
	toastr.success('Successfully updated employee details.')
<% else %>
	toastr.error("<%= employee.errors.full_messages.join(',') %>")
<% end %>
$.getScript('/assets/employee.js')