<nav class='navbar-default navbar-static-side' role='navigation'>
  <div class='sidebar-collapse'>
    <ul class='nav metismenu' id='side-menu'>
      <li class='nav-header'>
        <div class='dropdown profile-element'>
          <span>
            <%= image_tag(current_user_profile.profile_image('small'), class: 'img-circle') %>
          </span>
          <a data-toggle='dropdown' class='dropdown-toggle' href='#'>
            <span class='clear'>
              <span class='block m-t-xs'>
                <strong class='font-bold'><%= current_user.fullname %></strong>
              </span>
              <span class='text-muted text-xs block'>
                <%= my_current_role(@current_role) %>
                <b class='caret'></b>
              </span>
            </span>
          </a>
          <ul class='dropdown-menu animated fadeInRight m-t-xs'>
            <li><%= link_to 'Profile', edit_user_registration_path, data: {disable_with: 'Loading...' } %></li>
            <li><a href='contacts.html'>Contacts</a></li>
            <li><a href='mailbox.html'>Mailbox</a></li>
            <li class='divider'></li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, data: {disable_with: "<i class='fa fa-spin fa-spinner'></i> wait...".html_safe, confirm: 'Are you sure want to logout?'} do %>
                <i class='fa fa-sign-out'></i> Logout
              <% end %>
            </li>
          </ul>
        </div>
        <div class='logo-element'>PMS</div>
      </li>
      <li class="<%= 'active' if controller.controller_name == 'admin' %>">
      	<%= link_to root_path, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i><span class='nav-label'>Loading...</span>".html_safe } do %>
          <i class='fa fa-th-large'></i>
          <span class='nav-label'>Dashboards</span>
      	<% end %>
      </li>
      <li class="<%= 'active' if controller.controller_name == 'organizations' %>">
      	<%= link_to admin_organizations_path, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i><span class='nav-label'>Loading...</span>".html_safe } do %>
          <i class='fa fa-bank'></i>
          <span class='nav-label'>Organizations</span>
      	<% end %>
      </li>
      
      <li class="<%= 'active' if controller.controller_name == 'plans' %>">
        <%= link_to admin_plans_path, data: {disable_with: loader } do %>
          <i class='fa fa-money'></i>
          <span class='nav-label'>Plans</span>
        <% end %>
      </li>
      
      <li class="<%= 'active' if controller.controller_name == 'transactions' %>">
        <%= link_to admin_transactions_path, data: {disable_with: loader } do %>
          <i class='fa fa-credit-card'></i>
          <span class='nav-label'>Transactions</span>
        <% end %>
      </li>            
    </ul>
  </div>
</nav>
