<div class="footer fixed">
  <div class="pull-right">
    10GB of <strong>250GB</strong> Free.
  </div>
  <div>
    <strong>Copyright</strong> Project Management System &copy; 2016-2017
  </div>
</div>
