<nav class='navbar-default navbar-static-side' role='navigation'>
  <div class='sidebar-collapse'>
    <ul class='nav metismenu' id='side-menu'>
      <li class='nav-header'>
        <div class='dropdown profile-element'>          
          <span>            
            <%= image_tag(current_user_profile.profile_image('small'), class: 'img-circle', alt: 'Profile') %>
          </span>
          <a data-toggle='dropdown' class='dropdown-toggle' href='#'>
            <span class='clear'>
              <span class='block m-t-xs'>
                <strong class='font-bold'><%= current_user.fullname %></strong>
              </span>
              <span class='text-muted text-xs block'>
                <%= my_current_role(@current_role) %>
                <b class='caret'></b>
              </span>
            </span>
          </a>
          <ul class='dropdown-menu animated fadeInRight m-t-xs'>
            <li><%= link_to 'Profile', edit_user_registration_path, data: {disable_with: 'Loading...' } %></li>
            <li><a href='contacts.html'>Contacts</a></li>
            <li><a href='mailbox.html'>Mailbox</a></li>
            <li class='divider'></li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, data: {disable_with: "<i class='fa fa-spin fa-spinner'></i> wait...".html_safe, confirm: 'Are you sure want to logout?'} do %>
                <i class='fa fa-sign-out'></i> Logout
              <% end %>
            </li>
          </ul>
        </div>
        <div class='logo-element'>PMS</div>
      </li>
      <li class="<%= 'active' if controller.controller_name == 'users' && controller.action_name == 'dashboard' %>">
        <%= link_to root_path, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i><span class='nav-label'>Loading...</span>".html_safe } do %>
          <i class='fa fa-th-large'></i>
          <span class='nav-label'>Dashboard</span>
        <% end %>
      </li>

      <% if ['organization_owner'].include?(@current_role) %>
        <li class="<%= 'active' if controller.controller_name == 'users' && controller.action_name != 'dashboard' %>">
          <%= link_to users_path, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i><span class='nav-label'>Loading...</span>".html_safe } do %>
            <i class='fa fa-users'></i>
            <span class='nav-label'>Users</span>
          <% end %>
        </li>
      <% end %>

      <% if ['organization_owner'].include?(@current_role) %>
        <li class="<%= 'active' if controller.controller_name == 'projects' %>">
          <%= link_to projects_path, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i><span class='nav-label'>Loading...</span>".html_safe } do %>
            <i class='fa fa-database'></i>
            <span class='nav-label'>Projects</span>
          <% end %>
        </li>
      <% end %>

      <% if ['organization_owner'].include?(@current_role) %>

        <li class="<%= 'active' if ['holidays', 'employees'].include?(controller.controller_name) %>">
          <a href="javascript:void(0);">
            <i class="fa fa-cogs"></i>
            <span class="nav-label">HR</span>
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse" style="height: 0px;">
            <li class="<%= 'active' if controller.controller_name == 'holidays' %>">
              <%= link_to 'Holiday', holidays_path, data: {disable_with: loader} %>
            </li>
            <li class="<%= 'active' if controller.controller_name == 'employees' %>">
              <%= link_to 'Employee', employees_path, data: {disable_with: loader } %>
            </li>
            <li><a href="javascript:void(0);">Leaves</a></li>
            <li><a href="javascript:void(0);">Salary Report</a></li>
          </ul>
        </li>

        <li class="">
          <a href="javascript:void(0);">
            <i class="fa fa-cogs"></i>
            <span class="nav-label">Sales</span>
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse" style="height: 0px;">
            <li><a href="javascript:void(0);">Leads</a></li>
          </ul>
        </li>

        <li class="">
          <a href="javascript:void(0);">
            <i class="fa fa-cogs"></i>
            <span class="nav-label">Finance</span>
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse" style="height: 0px;">
            <li><a href="javascript:void(0);">Leads</a></li>
          </ul>
        </li>        
      <% end %>

    </ul>

  </div>
</nav>
