<li class="" id="task1">
	<a href="javascript:void(0);" class=""><%= task.code %></a> : <%= task.summary %>
  <div class="agile-detail">		                
    <%- task.users.each do |user| %>
    	<a href="javascript:void(0);" class="pull-right btn btn-xs btn-white">
    		<%= profile_short_name(@current_organization, user) %>		                			
    	</a>
    <% end %>
    <i class="fa fa-clock-o"></i> <%= task.created_at.strftime('%d/%m/%Y') %>
  </div>
</li>
