<% if params[:task][:summary].present? %>
	$("#task_summary").val('');
	$('#todo').prepend("<%= escape_javascript(render partial: '/secure/agile_boards/task', locals: {task: @task}) %>")
<% else %>
	toastr.error("Task can't be blank")
<% end %>