<% content_for :title, "Agile Board" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-6'>
    <%= show_breadcrumb('Agile Board') %>
  </div>
</div>

<div class="row wrapper wrapper-content animated fadeInRight">
	<div class="row">

		<% [1,2,4,6].each_with_index do |status_id, index| %>		
			<div class="col-lg-3">
	      <div class="ibox">
	        <div class="ibox-content">
	          <h3><%= Rails.application.secrets.task_statuses[status_id] %></h3>
	          <% if index == 0 %>
		          <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>
		          
		          <%= form_tag "/secure/projects/#{project.slug}/agile_boards/add_task", remote: true do %>
			          <div class="input-group">
			          	<%= text_field_tag 'task[summary]', nil, placeholder: 'Add new task', class: 'input input-sm form-control' %>
			            <span class="input-group-btn">
										<%= button_tag(type: "submit", class: "btn btn-sm btn-white", data: {disable_with: loader}) do %>
										  <i class='fa fa-plus'></i> Add
										<% end %>			            	
			            </span>
			          </div>
		          <% end %>
	          <% end %>

	          <ul class="sortable-list connectList agile-list ui-sortable" id="todo">
	            <% tasks.with_status_of(status_id).each do |task| %>
	            	<%= render partial: '/secure/agile_boards/task', locals: {task: task} %>
		          <% end %>
						</ul>
	        </div>
	      </div>
	    </div>
	  <% end %>

	</div>
</div>

