<div class="row">
  <%= render partial: '/layouts/flash_message' %>
  <div class="col-md-6">
    <h2 class="font-bold">Welcome to <br/>Project Management System</h2>
    <p>All your projects needs all under one roof...</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <p><small>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</small></p>
  </div>
  <div class="col-md-6">    
    <div class="ibox-content">
      <h3 class="font-bold">Please sign in to get access.</h3>
      <%= form_for resource, as: resource_name, url: session_path(resource_name), html: {class: 'm-t', id: 'signin-authentication'} do |f| %>  
        <div class='form-group'>
          <%= f.text_field :login, placeholder: 'Username or Email', class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
        </div>

        <button type='submit' class='btn btn-primary block full-width m-b' data-disable-with='Loading...'>
          Login
        </button>

        <%= link_to new_password_path(resource_name), data: {disable_with: 'Loading...'} do %>
          <small>Forgot password?</small>
        <% end %>
        <br />
        <%= link_to new_confirmation_path(resource_name), data: {disable_with: 'Loading...'} do %>
          <small>Didn't receive confirmation instructions?</small>
        <% end %>

        <p class="text-muted text-center"><small>Do not have an account?</small></p>
        <%= link_to 'Create an account', new_registration_path(resource_name), data: {disable_with: 'Loading...'}, class: 'btn btn-sm btn-white btn-block' %>
      <% end %>
    </div>
  </div>
</div>