<% content_for :title, "Dashboard" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-lg-10'>
    <h2>Admin Dashboard</h2>
    <%= render_breadcrumbs %>
  </div>
  <div class='col-lg-2'></div>
</div>  
          
<div class='wrapper wrapper-content'>
  <div class='row m-b-lg m-t-lg'>
    
  </div>
</div>
