#activity-tab-4 .ibox-content{
	padding: 0px 5px 5px 5px;
	border-style: none;
}
#activity-tab-4 .feed-activity-list .feed-element{
	margin-top: 5px;
}
#activity-tab-4 .feed-element{
	padding-bottom: 5px !important;
}
.project-report .flot-chart{
	height: auto;
}
.project-report .float-e-margins .btn{
	margin-bottom: 0px;
}
.project-report #project-flot-pie-chart, .project-report #project-2-flot-pie-chart{
	width: 45%;
  float: left;
  margin: 10px 10px 10px 60px;	
}