<div class='modal inmodal fade' id='editUser<%= params[:id] %>' tabindex='-1' role='dialog'  aria-hidden='true'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
        <h4 class='modal-title'>Edit user profile for - <%= user.fullname %></h4>        
      </div>
      <%= nested_form_for user, html: { method: :put, class: 'form-horizontal org-user-edit' } do |form| %>
      
        <div class='modal-body'>
          <%= form.fields_for :profile do |profile| %>
            <div class="col-lg-2">
              <div class="form-group">                
                <div class="col-sm-12 text-center">
                  <%= image_tag(user.profile_image, class: 'img-circle preview_user_avatar')%>
                  <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn btn-default btn-file">
                      <span class="fileinput-new">Select file</span>
                      <span class="fileinput-exists">Change</span>
                      <%= profile.file_field :avatar, accept: 'image/*' %>
                    </span>                    
                  </div>                  
                </div>
              </div>
            </div>

            <div class="col-lg-5">
              <div class="form-group">
                <%= form.label :firstname, 'First Name', class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= form.text_field :firstname, placeholder: 'First Name', class: 'form-control' %>
                </div>
              </div>
            </div>

            <div class="col-lg-5">
              <div class="form-group">
                <%= form.label :lastname, 'Last Name', class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= form.text_field :lastname, placeholder: 'Last Name', class: 'form-control' %>
                </div>
              </div>
            </div>

            <% if !is_organization_owner?(user,@current_organization) %>
              <%= form.fields_for :organizations_users, form.object.organizations_users.find_by(organization_id: @current_organization.id) do |ou| %>                                
                <div class="col-lg-5">
                  <div class="form-group">
                    <%= ou.label :role_id, 'Role', class: 'col-sm-4 control-label' %>
                    <div class="col-sm-8">
                      <%= ou.select :role_id, options_for_select(Rails.application.secrets.display_roles.invert.to_a, ou.object.role_id ), {include_blank: false }, {class: 'form-control'} %>
                    </div>
                  </div>              
                </div>
                <div class="col-lg-5">
                  <div class="form-group">
                    <%= ou.label :status_id, 'Status', class: 'col-sm-4 control-label' %>
                    <div class="col-sm-8">
                      <%= ou.select :status_id, options_for_select(Rails.application.secrets.statuses.invert.to_a, ou.object.status_id), {include_blank: false }, {class: 'form-control'} %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>

            <div class="col-lg-10">
              <div class="form-group">
                <%= profile.label :about_me, 'About Me', class: 'col-sm-2 control-label' %>
                <div class="col-sm-10">
                  <%= profile.text_area :about_me, placeholder: "Write something about #{user.fullname}", class: 'form-control', rows: 3 %>
                </div>
              </div>
            </div>

            <legend>Basic Information</legend>

            <div class="clearfix"></div>

            <div class="col-lg-8">
              <div class="form-group">
                <%= profile.label :designation, 'Designation', class: 'col-sm-2 control-label ml8' %>
                <div class="col-sm-9">
                  <%= profile.text_field :designation, class: 'form-control', placeholder: 'Designation' %>                  
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="form-group">
                <%= profile.label :joining_date, 'Joining Date', class: 'col-sm-5 control-label' %>
                <div class="input-group date col-sm-7">
                  <%= profile.text_field :joining_date, value: profile.object.joining_date.present? ? profile.object.joining_date.strftime('%d/%m/%Y') : '', class: 'form-control', placeholder: 'DD/MM/YYYY' %>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-lg-4">
              <div class="form-group">
                <%= profile.label :birth_date, 'Birth Date', class: 'col-sm-5 control-label' %>                  
                <div class="input-group date col-sm-7">                  
                  <%= profile.text_field :birth_date, value: profile.object.birth_date.present? ? profile.object.birth_date.strftime('%d/%m/%Y') : '', class: 'form-control', placeholder: 'DD/MM/YYYY' %>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>              
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="form-group">
                <%= profile.label :marriage_date, 'Mrg. Date', class: 'col-sm-5 control-label' %>
                <div class="input-group date col-sm-7">  
                  <%= profile.text_field :marriage_date, value: profile.object.marriage_date.present? ? profile.object.marriage_date.strftime('%d/%m/%Y') : '', class: 'form-control', placeholder: 'DD/MM/YYYY' %>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>              
                </div>
              </div>
            </div> 

            <div class="col-lg-4">
              <div class="form-group">
                <%= profile.label :resign_date, 'Resign Date', class: 'col-sm-5 control-label' %>
                <div class="input-group date col-sm-7">                  
                  <%= profile.text_field :resign_date, value: profile.object.resign_date.present? ? profile.object.resign_date.strftime('%d/%m/%Y') : '', class: 'form-control', placeholder: 'DD/MM/YYYY' %>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>              
                </div>
              </div>
            </div>

            <legend>Previous Company Information</legend>
            
            <div class="col-lg-8">
              <div class="form-group">
                <%= profile.label :prev_company_name, 'Prev. Company', class: 'col-sm-3 control-label' %>
                <div class="col-sm-8">                  
                  <%= profile.text_field :prev_company_name, class: 'form-control', placeholder: 'Previous Company Name' %>                  
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <%= profile.label :prev_company_exp, 'Experiance', class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">                
                  <%= profile.text_field :prev_company_exp, class: 'form-control', placeholder: '0.0' %>
                </div>
              </div>
            </div> 

            <legend>Contact Information</legend>
            
            <div class="col-lg-4">
              <div class="form-group">
                <%= profile.label :phone_number, 'Phone No.', class: 'col-sm-5 control-label' %>
                <div class="col-sm-7">
                  <%= profile.text_field :phone_number, class: 'form-control phone-number', placeholder: 'Phone Number' %>                  
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <%= profile.label :mobile_number, 'Mobile No.', class: 'col-sm-5 control-label' %>
                <div class="col-sm-7">
                  <%= profile.text_field :mobile_number, class: 'form-control phone-number', placeholder: 'Mobile Number' %>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <%= profile.label :home_number, 'Home No.', class: 'col-sm-5 control-label' %>
                <div class="col-sm-7">
                  <%= profile.text_field :home_number, class: 'form-control home-number', placeholder: 'Home Number' %>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>
          <% end %>
          <div class="clearfix"></div>
        </div>
        
        <div class='modal-footer'>
          <button type='button' class='btn btn-white' data-dismiss='modal'>Close</button>          
          <%= button_tag 'Save Changes', class: 'btn btn-primary', data: { disable_with: loader} %>
        </div>

      <% end %>
    </div>
  </div>
</div>