<div class='margins-rmv'>
	<% if @current_organization.invitations.with_tokens.present? %>
		<div class='ibox-title'>
			<h5>Invited Users</h5>
			<div class='ibox-tools'>
				<a class='collapse-link'>
					<i class='fa fa-chevron-up'></i>
				</a>
			</div>
		</div>
		<div class='ibox-content' style='display: block;'>
			<div class='clients-list clients-list2'>
				<div class='table-responsive'>
					<table class='table table-striped table-hover'>
						<tbody>
							<% @current_organization.invitations.with_tokens.each do |invitation| %>
								<tr id='<%= invitation.uniq_number %>'>																																				
									<td class='contact-type'><i class='fa fa-envelope'> </i></td>
									<td><%= invitation.invite_email %></td>
									<td><%= invitation.role %></td>
									<td><%= local_time(invitation.created_at) %></td>
									<td>
										<%= link_to 'javascript:void(0);', class: 'btn btn-xs btn-danger delete-invitation', data: {behavior: 'delete', href: invitation_path(invitation)} do %>
	    								<i class="fa fa-trash"></i>
	    							<% end %>													
									</td>
								</tr>
							<% end %>										
						</tbody>
					</table>
				</div>
			</div>
		</div>
	<% end %>
</div>
