<div class='modal inmodal fade' id='newUserInvite' tabindex='-1' role='dialog'  aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
        <h4 class='modal-title'>Add / Invite User</h4>
        <p>Add/Invite user for your organization.</p>
      </div>

      <%= form_for current_user.invitations.build, html: { method: :post, class: 'form-horizontal org-user-new' }, remote: true do |form| %>
      
        <div class='modal-body'>

          <div class="col-lg-12">          
            <div class="form-group">
              <%= form.label :invite_email, 'Email', class: 'col-sm-3 control-label' %>
              <div class="col-sm-8">
                <%= form.email_field :invite_email, placeholder: 'Email', class: 'form-control' %>
              </div>
            </div>
          </div>
          
          <div class="col-lg-12">          
            <div class="form-group">
              <%= form.label :role_id, 'Role', class: 'col-sm-3 control-label' %>
              <div class="col-sm-8">
                <%= form.select :role_id, options_for_select(Rails.application.secrets.display_roles.invert.to_a), {include_blank: 'Select Role'}, {class: 'form-control'} %>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>
        </div>
        
        <div class='modal-footer'>
          <button type='button' class='btn btn-white' data-dismiss='modal'>Close</button>          
          <%= button_tag 'Save Changes', class: 'btn btn-primary', data: { disable_with: loader} %>
        </div>

      <% end %>
    </div>
  </div>
</div>