<%= form_tag users_path, method: :get, remote: true do %>
	<div class='input-group'>
		<%= text_field_tag :search, params[:search], placeholder: 'Search by email, firstname and lastname', class: 'input form-control' %>
		<span class='input-group-btn'>
			<%= button_tag "<i class='fa fa-search'></i> Search".html_safe, class: 'btn btn-primary', data: { disable_with: loader} %>
		</span>
	</div>
<% end %>
