<div class='table-responsive'>
	<table class='table table-striped table-hover'>
		<tbody>
			<% users.each do |org_user| %>
				<tr>
					<td class='client-avatar'><%= image_tag(org_user.profile_image, alt: 'Logo') %></td>
					<td>
						<%= link_to "##{org_user.user.username}", data: {toggle: 'tab'}, class: 'client-link' do %>
							<%= org_user.try(:profile).try(:fullname) || org_user.user.fullname %>
						<% end %>
					</td>
					<td><%= role_for_current_organization(org_user.user, @current_organization) %></td>
					<td class='contact-type'><i class='fa fa-envelope'> </i></td>
					<td><%= org_user.user.email %></td>
					<td class='client-status'><%= user_status(org_user.status_id) %></td>
				</tr>
			<% end %>										
		</tbody>
	</table>
</div>
