<% content_for :title, "Dashboard" %>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Profile</h2>
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li><a>Extra Pages</a></li>
      <li class="active"><strong>Profile</strong></li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>  


