$('.user-fa-pencil-edit').html("<%= escape_javascript(render partial: '/users/edit') %>")
$("#editUser"+'<%= params[:id] %>').modal('show')

// Mask Inputs
$(".phone-number").mask("(999) 999-9999");
$(".home-number").mask("(99) 999-999-99");

// Date Format
$('.date').datepicker({
  todayBtn: "linked",
  keyboardNavigation: false,
  forceParse: false,
  calendarWeeks: true,
  autoclose: true,
  format: "dd/mm/yyyy"
});

// Preview Image Before Upload
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function (e) {
      $('.preview_user_avatar').attr('src', e.target.result);
    } 
    reader.readAsDataURL(input.files[0]);
  }
}
    
$("#user_profile_attributes_avatar").change(function(){
  readURL(this);
});

// Validation
$('.org-user-edit').validate({
	rules: {
		'user[firstname]': {
			required: true
		},
		'user[lastname]': {
			required: true
		},
		'user[role]': {
			required: true
		}
	},
	messages: {
		'user[firstname]': {
			required: "Firstname can't be blank !"
		},
		'user[lastname]': {
			required: "Lastname can't be blank !"
		},
		'user[role]': {
			required: "Role can't be blank !"
		}
	}
})