<% content_for :title, "Users" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-4'>
    <%= show_breadcrumb('Users') %>
  </div>
</div>

<div class='wrapper wrapper-content animated fadeInRight'>
	<div class='row'>
		<div class='col-sm-8'>

			<div class='ibox float-e-margins users-invitations-list'>
				<%= render partial: '/users/invitations' %>
			</div>

			<div class='ibox'>
				<div class='ibox-content'>
					<%= link_to new_user_path, data: {disable_with: loader}, remote: true do %>
						<i class='fa fa-plus'></i> Add/Invite User
					<% end %>
					<% if users.present? %>
						<%= render partial: '/users/search' %>
						<div class='clients-list org-ownr-users-list'>
							<%= render partial: '/users/user_listing' %>
						</div>
					<% else %>
						<p>No users found yet for your organization !</p>
					<% end %>
					<div class='user-fa-pencil-edit'></div>
				</div>
			</div>
		</div>
		
		<div class='col-sm-4'>
			<div class='ibox '>
				<div class='ibox-content'>
					<div class='tab-content'>
						<% if users.present? %>

							<% users.each_with_index do |org_user, index| %>
								<% profile = org_user.profile %>
								<% user = org_user.user %>
								<div id='<%= org_user.user.username %>' class='tab-pane <%= 'active' if index == 0 %>'>
									<div class='row m-b-lg'>
										<div 	class='col-lg-4 text-center'>
											<h3><%= org_user.profile.present? ? org_user.profile.fullname : org_user.user.fullname %></h3>
											<div class='m-b-sm'>
												<%= image_tag(org_user.profile_image('original'), alt: 'Logo', class: 'img-circle', style: 'width:62px;') %>
											</div>
										</div>
										<div class='col-lg-8'>
											<strong>About me</strong>
											<p><%= profile.try(:about_me) %></p>
											<button type='button' class='btn btn-primary btn-sm btn-block'>
												<i class='fa fa-envelope'></i> Send Message
											</button>
										</div>
									</div>
									<div class='client-detail'>
										<% if profile.try(:designation) %>
											<h3 class='text-center'><%= profile.try(:designation) %></h3>
											<h5 class='text-center'><%= role_for_current_organization(org_user.user, @current_organization) %></h5>
										<% end %>
										<strong>Personal Information</strong>
										<ul class='list-group clear-list'>
											<li class='list-group-item fist-item'>
												<span class='pull-right'><%= user.username %></span>
												Username
											</li>
											<li class='list-group-item'>
												<span class='pull-right'><%= user.email %></span>
												Email
											</li>											
											<% if profile.try(:joining_date) %>
												<li class='list-group-item'>
													<span class='pull-right'><%= profile.joining_date %></span>
													Joining Date
												</li>
											<% end %>
											<% if profile.try(:birth_date) %>
												<li class='list-group-item'>
													<span class='pull-right'><%= profile.birth_date %></span>
													Birth Date
												</li>
											<% end %>
											<% if profile.try(:marriage_date) %>
												<li class='list-group-item'>
													<span class='pull-right'><%= profile.marriage_date %></span>
													Marriage Date
												</li>
											<% end %>
											<% if profile.try(:resign_date) %>
												<li class='list-group-item'>
													<span class='pull-right'><%= profile.resign_date %></span>
													Resign Date
												</li>	
											<% end %>
											<% if profile.try(:created_at) %>
												<li class='list-group-item'>
													<span class='pull-right'><%= local_time(profile.try(:created_at)) %></span>
													Created At
												</li>
											<% end %>
										</ul>

										<strong>Contact Information</strong>
										<ul class='list-group clear-list'>
											<li class='list-group-item fist-item'>
												<span class='pull-right'><%= profile.try(:phone_number) %></span>
												Phone Number
											</li>
											<li class='list-group-item'>
												<span class='pull-right'><%= profile.try(:mobile_number) %></span>
												Mobile Number
											</li>
											<li class='list-group-item'>
												<span class='pull-right'><%= profile.try(:home_number) %></span>
												Home Number
											</li>
											<li class='list-group-item'>
												<span class='pull-right'><%= profile.try(:website) %></span>
												Website
											</li>	
										</ul>
										<strong>Address Information</strong>
										<ul class='list-group clear-list'>
											<li class='list-group-item fist-item'>												
												<%= profile.try(:to_address) || 'Undefine' %>
											</li>
										</ul>
									</div>
								</div>
							<% end %>

						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>