<div class="lock-word animated fadeInDown">
  <span class="first-word">LOCKED</span><span>SCREEN</span>
</div>

<div class="middle-box text-center lockscreen animated fadeInDown">
  <div>
    <div class="m-b-md">
      <%= image_tag(current_user.profile_image('medium'), class: 'img-circle circle-border', alt: 'Logo' ) %>      
    </div>
    <h3><%= current_user.fullname %></h3>
    <p>
      Your are in lock screen. <br/> 
      You do not have permission to access the requested organization.
    </p>
  </div>
</div>  
