$('.user-fa-pencil-edit').html("<%= escape_javascript(render partial: '/users/new') %>")
$("#newUserInvite").modal('show')

$(".org-user-new").validate({
	rules: {
		'invitation[invite_email]': {
			required: true,
			email: true,
			remote: {
				type: 'get',
				url: '/invitations/existMember',
				dataType: 'json'
			}
		},
		'invitation[role_id]': {
			required: true
		}
	},
	messages: {
		'invitation[invite_email]':{
			required: "Email can't be blank !",
			remote: 'The user is already member of your organization !'
		},
		'invitation[role_id]': {
			required: "Role can't be blank !"
		}
	}
})