<table class='body-wrap'>
	<tr>
    <td></td>
    <td class='container' width='600'>
      <div class='content'>
        <table class='main' width='100%' cellpadding='0' cellspacing='0'>
          <tr>
            <td class='content-wrap'>
              <table cellpadding='0' cellspacing='0'>
                <tr>
                  <td><%= image_tag('http://www.mytesting.in/assets/header.jpg', class: 'img-responsive') %></td>
                </tr>
                <tr>
                  <td class='content-block'>
                    <h3> Hello <%= @invitation.invite_email %>, </h3><br/>
                    Welcome to Project Management System !
                  </td>
                </tr>
                <tr>
                  <td class='content-block'>
                    This request is send by <strong><%= @invitation.invited_by_organization.name %></strong> organization. <br/>
                    To join <strong><%= @invitation.invited_by_organization.name %></strong> organization click below button ! 
                  </td>
                </tr>
                <tr>
                  <td class='content-block aligncenter'>                    
                    <%= link_to 'Join Organization', "http://#{@invitation.invited_by_organization.name}.mytesting.in" + "/invitations/accept?token=#{@invitation.token}", class: 'btn-primary' %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <div class='footer'>
          <table width='100%'>
            <tr>
              <td class='aligncenter content-block'>
                Project Management System
              </td>
            </tr>
          </table>
        </div>
      </div>
    </td>
    <td></td>
	</tr>
</table>
