<div class='flash-message col-lg-6 col-lg-offset-6 col-sm-8 col-sm-offset-4'>
	<% flash.each do |type, message| %>
		<% if type.present? && message.present? && flash_class(type).present? && message.to_s != true %>
		  <div class="alert <%= flash_class(type) %>">
		    <button class="close" data-dismiss="alert"><i class="fa fa-remove"></i></button>
		    <i class="fa fa-<%= bootstrap_icon_for(type) %>"></i> <%= message %>
		  </div>
		<% end %>
	<% end %>
</div>