<nav class='navbar navbar-static-top' role='navigation'>
  <div class='navbar-header'>
    <button aria-controls='navbar' aria-expanded='false' data-target='#navbar' data-toggle='collapse' class='navbar-toggle collapsed' type='button'>
      <i class='fa fa-reorder'></i>
    </button>
    <a href='#' class='navbar-brand'>Project Management</a>
  </div>
  <div class='navbar-collapse collapse' id='navbar'>
    <ul class='nav navbar-nav'>
      <% if current_user.organizations.count >= 2 %>
        <li class='dropdown'>
          <a aria-expanded='false' role='button' href='#' class='dropdown-toggle' data-toggle='dropdown'> 
            My Organizations <span class='caret'></span>
          </a>
          <ul role='menu' class='dropdown-menu'>
            <% current_user.organizations.each do |organization| %>
              <li><%= link_to organization.title_or_name, "http://#{organization.name}.#{Rails.application.secrets.base_domain}/" %></li>              
            <% end %>
          </ul>
        </li>
      <% else %>
        <li class="<%= (controller.controller_name == 'users' && controller.action_name == 'dashboard') ? 'active' : '' %>">
          <%= link_to 'Home', user_dashboard_path, data: {disable_with: loader}%>          
        </li>      
      <% end %>
      <% if current_user.projects.present? %>
        <li class="dropdown <%= (controller.controller_name == 'projects') ? 'active' : '' %>">
          <a aria-expanded='false' role='button' href='#' class='dropdown-toggle' data-toggle='dropdown'> 
            My Projects <span class='caret'></span>
          </a>
          <ul role='menu' class='dropdown-menu'>
            <% current_user.projects.each do |project| %>
              <li class='dropdown'>
                <%= link_to project.name, secure_project_path(project), data: {disable_with: loader} %>
              </li>
            <% end %>
            <li class='divider'></li>
            <li><%= link_to 'View All Projects', secure_projects_path, data: {disable_with: loader} %></li>
          </ul>
        </li>
      <% end %>
      <% if is_hr_manager? %>
        <li class="dropdown <%= ['holidays', 'employees'].include?(controller.controller_name) ? 'active' : '' %>">
          <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Settings <span class="caret"></span></a>
          <ul role="menu" class="dropdown-menu">
            <li><%= link_to 'Holiday', holidays_path, data: {disable_with: loader } %></li>
            <li><%= link_to 'Employee', employees_path, data: {disable_with: loader } %></li>
            <li><%= link_to 'Letters', letters_path, data: {disable_with: loader } %></li>            
            <li><a href="javascript:void(0);">Pending</a></li>
          </ul>
        </li>      
      <% else %>
        <li class="<%= (controller.controller_name == 'holidays') ? 'active' : '' %>">
          <%= link_to 'Holiday', holidays_path, data: {disable_with: loader } %>
        </li>
      <% end %>
    </ul>
    <ul class='nav navbar-top-links navbar-right'>
      <li class='dropdown'>
        <a aria-expanded='false' role='button' href='#' class='dropdown-toggle' data-toggle='dropdown'> 
          <i class='fa fa-user'></i> <%= current_user.fullname %>
          ( <%= @current_role %> )
          <span class='caret'></span>
        </a>
        <ul role='menu' class='dropdown-menu'>
          <li><%= link_to 'Profile', edit_user_registration_path, data: {disable_with: loader } %></li>
          <li class='divider'></li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, data: {disable_with: "<i class='fa fa-spin fa-spinner'></i> wait...".html_safe, confirm: 'Are you sure want to logout?'} do %>
              <i class='fa fa-sign-out'></i> Logout
            <% end %>
          </li>          
        </ul>
      </li>
    </ul>
  </div>
</nav>
