<div class='modal inmodal fade' id='editClient<%= client.id %>' tabindex='-1' role='dialog'  aria-hidden='true'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
        <h4 class='modal-title'>Edit Client </h4>        
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>