<%= form_for [:project, client], html: { class: 'form-horizontal new-project-client-page' }, remote: true do |form| %>
  <div class='modal-body'>
    <div class="col-lg-12">
      <div class='form-group'>
        <%= form.label :fullname, class: 'col-sm-2 control-label' %>
        <div class='col-sm-4'>        
          <%= form.text_field :fullname, placeholder: 'Fullname', class: 'form-control', tabindex: 1 %>
        </div>

        <%= form.label :company_name, class: 'col-sm-2 control-label' %>
        <div class='col-sm-4'>        
          <%= form.text_field :company_name, placeholder: 'Company Name', class: 'form-control required', tabindex: 2 %>
        </div>      
      </div>

      <div class='form-group'>
        <%= form.label :email, class: 'col-sm-2 control-label' %>
        <div class='col-sm-4'>        
          <%= form.email_field :email, placeholder: 'Email', class: 'form-control', tabindex: 3 %>
        </div>

        <%= form.label :email2, class: 'col-sm-2 control-label' %>
        <div class='col-sm-4'>        
          <%= form.email_field :email2, placeholder: 'Email 2', class: 'form-control', tabindex: 4 %>
        </div>    
      </div>

      <div class='form-group'>
        <%= form.label :phone_number, class: 'col-sm-2 control-label' %>
        <div class='col-sm-4'>        
          <%= form.text_field :phone_number, placeholder: 'XXX-XXX-XXXX', class: 'form-control phone-number', tabindex: 5 %>
        </div>

        <%= form.label :mobile_number, class: 'col-sm-2 control-label' %>
        <div class='col-sm-4'>        
          <%= form.text_field :mobile_number, placeholder: 'XXX-XXX-XXXX', class: 'form-control phone-number', tabindex: 6 %>
        </div>    
      </div>

      <div class='form-group'>
        <%= form.label :skype, class: 'col-sm-2 control-label' %>
        <div class='col-sm-4'>        
          <%= form.text_field :skype, placeholder: 'Skype ID', class: 'form-control', tabindex: 7 %>
        </div>

        <%= form.label :address, class: 'col-sm-2 control-label' %>
        <div class='col-sm-4'>
          <%= form.text_field :address, placeholder: 'Address', class: 'form-control', tabindex: 8 %>
        </div>      
      </div>

      <div class='line-btn-text'><span>OR</span></div>

      <div class='form-group'>
        <%= form.label :user_id, 'Client', class: 'col-sm-4 control-label' %>
        <div class='col-sm-4'>
          <%= form.select :user_id, options_for_select(@current_organization.organizations_users.collect{|org_usr| [org_usr.user.fullname, org_usr.user_id] }, form.object.user_id), {include_blank: 'Search Client'}, {class: 'form-control chosen-select', style: 'width:50%;', tabindex: 9} %>
        </div>
      </div>

    </div>
    <div class="clearfix"></div>
  </div>

  <div class='modal-footer'>
    <button type='button' class='btn btn-white' data-dismiss='modal'>Close</button>          
    <%= button_tag 'Save', class: 'btn btn-primary', data: { disable_with: loader} %>
  </div>

<% end %>
