<div class='client-icon'>
  <%= link_to 'javascript:void(0);', class: 'btn btn-xs btn-danger delete-client pull-right', data: {behavior: 'delete', href: project_client_path(project, client)} do %>
    <i class="fa fa-trash"></i>
  <% end %>
	<%= link_to edit_project_client_path(project, client), class: 'btn btn-white btn-xs pull-right', data: {disable_with: icon_loader}, title: 'Edit', remote: true do %>
		<i class='fa fa-edit'></i>
	<% end %>
</div>
<a href='javascript:void(0);'>
  <div class='col-sm-4'>
    <div class='text-center'>
      <% if client.user_id? %>
      	<%= image_tag(client.user.profile_image(size='small'), class: 'img-circle m-t-xs img-responsive img-center width64') %>
      <% else %>
      	<%= image_tag('noimage.png', class: 'img-circle m-t-xs img-responsive img-center') %>
      <% end %>
      <div class='m-t-xs font-bold'>
      	<%= client.user_id? ? client.user.fullname : client.fullname %>
      </div>
    </div>
  </div>
  <div class='col-sm-8'>
    <h3><strong><%= client.company_name %></strong></h3>
    <% if client.client_phone_number.present? %>
    	<p><i class='fa fa-phone'></i> <%= client.client_phone_number %></p>
    <% end %>
   	<% if client.client_emails.present? %>
    	<p><i class='fa fa-envelope'></i> <%= client.client_emails %></p>
    <% end %>
    <% if client.skype? %>
    	<p><i class='fa fa-skype'></i> <%= client.skype %></p>
    <% end %>
    <p><%= client.address %></p>
  </div>
  <div class='clearfix'></div>
</a>
