$('.project-pop-dply').html("<%= escape_javascript(render partial: '/clients/edit') %>")
$("#editClient"+'<%= params[:id] %>').modal({backdrop: 'static', keyboard: false});
$('.chosen-select').chosen({
	no_results_text: 'No results matched',
	width: '100%'
});
$(".phone-number").mask("(999) 999-9999");