$('.project-pop-dply').html("<%= escape_javascript(render partial: '/clients/new') %>")
$("#newClient").modal({backdrop: 'static', keyboard: false});
$('.chosen-select').chosen({
	no_results_text: 'No results matched',
	width: '100%'
});
$(".phone-number").mask("(999) 999-9999");

$('.new-project-client-page').validate({

	rules: {
		'client[fullname]': {
			required: {
				depends: function() {
					return ($('#client_user_id').val() == '');
				}
			}
		},
		'client[company_name]': {
			required: true
		},
		'client[email]': {
			required: {
				depends: function() {
					return ($('#client_user_id').val() == '');
				}
			}
		}
	},
	messages: {
		'client[fullname]': {
			required: "Full name can't be blank !"
		},
		'client[company_name]': {
			required: "Company name can't be blank !"
		},
		'client[email]': {
			required: "Email can't be blank !"
		}
	}


})