$('#<%= client.uniq_number %>').html("<%= escape_javascript(render partial: '/clients/view', locals: {client: client, project: client.project}) %>")
$("#editClient"+'<%= params[:id] %>').modal('hide')