<table class='body-wrap'>
	<tr>
    <td></td>
    <td class='container' width='600'>
      <div class='content'>
        <table class='main' width='100%' cellpadding='0' cellspacing='0'>
          <tr>
            <td class='content-wrap'>
              <table cellpadding='0' cellspacing='0'>
                <tr>
                  <td><%= image_tag('http://www.mytesting.in/assets/header.jpg', class: 'img-responsive') %></td>
                </tr>
                <tr>
                  <td class='content-block'>
                    <h3> Hello <%= @email %>, </h3><br/>
                    Welcome to Project Management System !
                  </td>
                </tr>
                <% if @resource.organization_id.present? %>
                  <tr>
                    <td class='content-block'>
                      Thank you for signup with <%= @resource.organization.plan.name %>(<%= @resource.organization.plan.plan_amount %>) account in project management system.
                    </td>
                  </tr>
                
                  <tr>
                    <td class='content-block aligncenter'>                    
                      <%= link_to 'Confirm My Account', "http://#{@resource.organization.name}.mytesting.in" + confirmation_path(@resource, confirmation_token: @token), class: 'btn-primary' %>
                    </td>
                  </tr>
                <% else %>
                  <tr>
                    <td class='content-block aligncenter'>                    
                      <%= link_to 'Confirm My Account', "http://#{@resource.organization.name}.mytesting.in" + confirmation_path(@resource, confirmation_token: @token), class: 'btn-primary' %>
                    </td>
                  </tr>                  
                <% end %>
              </table>
            </td>
          </tr>
        </table>
        <div class='footer'>
          <table width='100%'>
            <tr>
              <td class='aligncenter content-block'>
                Project Management System
              </td>
            </tr>
          </table>
        </div>
      </div>
    </td>
    <td></td>
	</tr>
</table>
