<table class='body-wrap'>
	<tr>
    <td></td>
    <td class='container' width='600'>
      <div class='content'>
        <table class='main' width='100%' cellpadding='0' cellspacing='0'>
          <tr>
            <td class='content-wrap'>
              <table cellpadding='0' cellspacing='0'>
                <tr>
                  <td><%= image_tag('http://www.mytesting.in/assets/header.jpg', class: 'img-responsive') %></td>
                </tr>
                <tr>
                  <td class='content-block'>
                    <h3> Hello <%= @resource.email %>, </h3><br/>                    
                  </td>
                </tr>
                <tr>
                  <td class='content-block'>
                    We're contacting you to notify you that your password has been changed.
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <div class='footer'>
          <table width='100%'>
            <tr>
              <td class='aligncenter content-block'>
                Project Management System
              </td>
            </tr>
          </table>
        </div>
      </div>
    </td>
    <td></td>
	</tr>
</table>
