<table class='body-wrap'>
	<tr>
    <td></td>
    <td class='container' width='600'>
      <div class='content'>
        <table class='main' width='100%' cellpadding='0' cellspacing='0'>
          <tr>
            <td class='content-wrap'>
              <table cellpadding='0' cellspacing='0'>
                <tr>
                  <td><%= image_tag('http://www.mytesting.in/assets/header.jpg', class: 'img-responsive') %></td>
                </tr>
                <tr>
                  <td class='content-block'>
                    <h3> Hello <%= @resource.email %>, </h3><br/>
                    Welcome to Project Management System !
                  </td>
                </tr>
                <tr>
                  <td class='content-block'>
                    Someone has requested a link to change your password. You can do this through the link below.
                  </td>
                </tr>
                <tr>
                  <td class='content-block aligncenter'>
                    <%= link_to 'Change My Password', "http://#{@resource.organization.name}.mytesting.in" + edit_password_path(@resource, reset_password_token: @token), class: 'btn-primary' %>
                  </td>
                </tr>
                <tr>
                	<td class='content-block'>
                		If you didn't request this, please ignore this email.
                		<br/>
                		Your password won't change until you access the link above and create a new one.
                	</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <div class='footer'>
          <table width='100%'>
            <tr>
              <td class='aligncenter content-block'>
                Project Management System
              </td>
            </tr>
          </table>
        </div>
      </div>
    </td>
    <td></td>
	</tr>
</table>
