<div class='navbar-wrapper'>
  <nav class='navbar navbar-default navbar-fixed-top' role='navigation'>
    <div class='container'>
      <div class='navbar-header page-scroll'>
        <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' href='#'>Project Management System</a>
      </div>
      <div id='navbar' class='navbar-collapse collapse'>
        <ul class='nav navbar-nav navbar-right'>
          <li><a class='page-scroll' href='#page-top'>Home</a></li>
          <li><a class='page-scroll' href='#features'>Features</a></li>
          <li><a class='page-scroll' href='#team'>Team</a></li>
          <li><a class='page-scroll' href='#testimonials'>Testimonials</a></li>
          <li><a class='page-scroll' href='#pricing'>Pricing</a></li>
          <li><a class='page-scroll' href='#contact'>Contact</a></li>
          <li><a class='page-scroll' href='/users/sign_in' data-disable-with='Loading...'>Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
