<section id='pricing' class='pricing'>
  <div class='container'>
    <div class='row m-b-lg'>
      <div class='col-lg-12 text-center'>
        <div class='navy-line'></div>
        <h1>App Pricing</h1>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
      </div>
    </div>
    <div class='row'>
      <% if plans.present? %>
        <% plans.each_with_index do |plan, index| %>
          <div class='col-lg-3 wow zoomIn'>
            <ul class="pricing-plan list-unstyled <%= 'selected' if plan.primary? %>">
              <li class='pricing-title'>
                <%= plan_name(plan.name) %>
              </li>
              <li class='pricing-desc'>
                <small><%= plan.title %></small>
              </li>
              <li class='pricing-price'><span><%= plan_price(plan.price )%></span></li>
              <li><%= plan_department(plan.users) %></li>
              <li><%= plan_storage(plan.storage) %></li>
              <li><%= link_to 'Signup', new_user_registration_path(plan: plan.name), data: {disable_with: "<i class='fa fa-spin fa-spinner'></i> Loading..." }, class: 'btn btn-primary btn-xs' %></li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>        
  </div>
</section>

<section id='contact' class='gray-section contact'>
  <div class='container'>
    <div class='row m-b-lg'>
      <div class='col-lg-12 text-center'>
        <div class='navy-line'></div>
        <h1>Contact Us</h1>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
      </div>
    </div>
    <div class='row m-b-lg'>
      <div class='col-lg-3 col-lg-offset-3'>
        <address>
          <strong><span class='navy'>Dipak Panchal</span></strong><br/>
          795 Folsom Ave, Suite 600<br/>
          San Francisco, CA 94107<br/>
          <abbr title='Phone'>P:</abbr> (123) 456-7890
        </address>
      </div>
      <div class='col-lg-4'>
        <p class='text-color'>
          Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-12 text-center'>
        <a href='mailto:11dipak.contact@gmail.com' class='btn btn-primary'>Send us mail</a>
        <p class='m-t-sm'>Or follow us on social platform</p>
        <ul class='list-inline social-icon'>
          <li><a href='#'><i class='fa fa-twitter'></i></a></li>
          <li><a href='#'><i class='fa fa-facebook'></i></a></li>
          <li><a href='#'><i class='fa fa-linkedin'></i></a></li>
        </ul>
      </div>
    </div>
    
    <div class='row'>
      <div class='col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg'>
        <p><strong>&copy; 2016-2017 Project Management System</strong></p>
      </div>
    </div>
  </div>
</section>
