<% content_for :title, "Welcome" %>
<%= render partial: '/welcome/header' %>
<!-- Sliders -->
<%= render partial: '/welcome/slider' %>
<!-- Features -->
<%= render partial: '/welcome/features' %>
<!-- Testimonials and Comments -->
<%= render partial: '/welcome/testimonials' %>
<!-- Pricing and Contact us -->
<%= render partial: '/welcome/pricing' %>
