<% content_for :title, "Thank You" %>
<div class="row">
  <div class='flash-message col-lg-12'>
    <% flash.each do |type, message| %>
      <% if type.present? && message.present? && flash_class(type).present? && message.to_s != true %>
        <div class="alert <%= flash_class(type) %>">
          <button class="close" data-dismiss="alert"><i class="fa fa-remove"></i></button>
          <i class="fa fa-<%= bootstrap_icon_for(type) %>"></i> <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>  
  <div class="col-md-12">
    <h2 class="font-bold text-center">Welcome to Project Management System</h2>
    <hr>    
    <h2 class="text-center">Your organization successfully created</h2>        
    <br />
    <div class='text-center'>
      <p>You will receive an email with instructions for how to confirm your email address in a few minutes. </p>
      <p>Thank you for creating an account!</p>
      <p>
        After confirm your account, You can log in to your account at 
          <%= link_to "http://#{@domain}", "http://#{@domain}" %>
      </p>        
    </div>
  </div>
</div>