<div class='col-lg-3'>
  <div class='ibox float-e-margins'>
    <div class='ibox-content'>
      <div class='file-manager'>
        <h5><%= project_status(project) %></h5>           
        <%= link_to 'Create Task', new_secure_project_task_path(project), class: 'btn btn-primary btn-block', data: {disable_with: loader, remote: true } %>            
        <div class='hr-line-dashed'></div>
        <div id='new-secure-project'></div>
        <ul class='folder-list' style='padding: 0'>
          <li>
            <%= link_to secure_project_path(project), data: {disable_with: loader} do %>
              <i class='fa fa-tasks'></i> Issues
            <% end %>
          </li>
          <li>                
            <%= link_to secure_agile_boards_path(project), data: {disable_with: loader} do %>
              <i class='fa fa-columns'></i> Agile Board
            <% end %>
          </li>
          <li>                
            <%= link_to reports_secure_project_path(project), data: {disable_with: loader} do %>
              <i class='fa fa-area-chart'></i> Reports
            <% end %>
          </li>                            
        </ul>
        <h5>Find Filters</h5>
        <ul class='folder-list' style='padding: 0'>
          <li>
            <% if params[:project_id] && params[:id].present? %>
              <%= link_to secure_project_path(project, task: task, status: 1), data: {disable_with: loader} do %>
                Open Issues
              <% end %>
            <% else %>
              <%= link_to secure_project_path(project, status: 1), data: {disable_with: loader} do %>
                Open Issues
              <% end %>            
            <% end %>
          </li>
          <li>                
            <% if params[:project_id] && params[:id].present? %>
              <%= link_to secure_project_path(project, status: 6, task: task), data: {disable_with: loader} do %>
                Done Issues
              <% end %>
            <% else %>
              <%= link_to secure_project_path(project, status: 6), data: {disable_with: loader} do %>
                Done Issues
              <% end %>            
            <% end %>
          </li>
          <li>                
            <% if params[:project_id] && params[:id].present? %>
              <%= link_to secure_project_path(project, task: task, status: 4), data: {disable_with: loader} do %>
                Review/Resolved Issues
              <% end %>
            <% else %>
              <%= link_to secure_project_path(project, status: 4), data: {disable_with: loader} do %>
                Review/Resolved Issues
              <% end %>            
            <% end %>
          </li>              
          <li>                
            <% if params[:project_id] && params[:id].present? %>
              <%= link_to secure_project_task_path(project, task), data: {disable_with: loader} do %>
                All Issues
              <% end %>
            <% else %>
              <%= link_to secure_project_path(project), data: {disable_with: loader} do %>
                All Issues
              <% end %>
            <% end %>
          </li>                            
        </ul>            
        <% if project.keywords.present? %>
          <h5 class='tag-title'>Keywords</h5>
          <ul class='tag-list' style='padding: 0'>
            <% project.keywords.reject{|t| !t.present?}.each do |keyword| %>
              <li><%= link_to keyword, 'javascript:void(0);' %></li>
            <% end %>
          </ul>
        <% end %>
        <div class='clearfix'></div>
      </div>
    </div>
  </div>
</div>
