<div class="ibox float-e-margins">
	<div class="ibox-title">
  	<h5>Pie Chart Report</h5>&nbsp;
  	<small>Issues for a project/filter grouped by a issue type.</small>
	</div>				
	<div class="ibox-content">
		<div class="flot-chart text-center">
			<%= form_tag reports_secure_project_path(project, type: 'report2'), class: 'form-inline', method: :get, remote: true do %>
				<label for="start-date" class="sr-only">Start Date</label>
				<div class="input-group date col-md-4">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <%= text_field_tag :start_date, params[:start_date], class: 'form-control col-md-5', placeholder: 'DD/MM/YYYY'%>
        </div>

        <label for="end-date" class="sr-only">End Date</label>
				<div class="input-group date col-md-4">
        	<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <%= text_field_tag :end_date, params[:end_date], class: 'form-control', placeholder: 'DD/MM/YYYY'%>
        </div>
        <%= button_tag 'Search', class: 'btn btn-white', data: { disable_with: loader} %>
			<% end %>
			<br/>
			<% if @report2.present? %>
				<div class="flot-chart-pie-content col-lg-7" id="project-2-flot-pie-chart"></div>
				<div class="col-lg-5 pull-right text-center">			
					<table class="table">
						<thead>
							<th>Status</th>
							<th># of issues</th>
						</thead>
						<tbody>
							<% @report2.each do |task| %>
								<tr>
									<td><%= task[:label]%></td>
									<td><%= task[:data]%></td>
								</tr>
							<% end %>
							<tr>
								<td><strong> Total </strong></td>
								<td><strong> <%= @report2.map{|t| t[:data]}.sum %></strong></td>
							</tr>
						</tbody>
					</table>				
				</div>
			<% else %>
				<div class="flot-chart-pie-content">
					 No Data Found !
				</div>
			<% end %>
			<div class="clearfix"></div>
		</div>
	</div>
</div>			
