<div class="col-md-1">                  
  <%= link_to secure_project_path(project), class: 'btn btn-white btn-sm', data: {disable_with: loader} do %>
    <i class='fa fa-refresh'></i> Refresh
  <% end %>
</div>
<div class="col-md-11">
  <%= form_tag [:secure, project], method: :get do %>
    <div class="input-group">                      
      <%= text_field_tag 'search', params[:search], placeholder: 'Search', class: 'input-sm form-control' %>
      <span class="input-group-btn">                        
        <button type='submit' class='btn btn-primary btn-sm' data-disable-with="<i class='fa fa-spin fa-spinner'></i> Searching...">
          <i class='fa fa-search'></i> Search
        </button>
      </span>
    </div>
  <% end %>
</div>
