<% content_for :title, "Projects" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-6'>
    <%= show_breadcrumb('Projects') %>
  </div>
</div>

<div class="row wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<% if projects.present? %>
			<% projects.each do |project| %>
				<div class="col-lg-4">
					<div class="contact-box">
						<%= link_to [:secure, project] do %>
							<div class="col-sm-12">
								<h3><strong><%= project.name %> <small> ( <%= project.key %> ) </small></strong></h3>
								<p>
									<i class="fa fa-calendar"></i> 
									<%= project.to_start_date %> &nbsp;&nbsp;<b>to</b>&nbsp;&nbsp; <%= project.to_end_date %>
								</p>
								<% if project.keywords.present? %>
									<div class='project-tags'>
										<% project.keywords.each do |keyword| %>
											<span class="label label-primary"><%= keyword %></span>
										<% end %>
									</div>
								<% end %>
								<br/>
								<div class="team-members">
									<% project.users.each do |user| %>										
										<%= image_tag(user.profile_image('small'), class: 'img-circle', alt: 'profile', title: user.fullname) %>
									<% end %>
              	</div>
							</div>
							<div class="clearfix"></div>
						<% end %>
					</div>
				</div>
			<% end %>
		<% else %>
			<div class="col-lg-12">
				<h4> No projects assigned to you yet !</h4>
			</div>
		<% end %>
	</div>
</div>