<% content_for :title, "Projects" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-6'>
    <%= show_breadcrumb('Reports') %>
  </div>
</div>

<div class="row wrapper wrapper-content animated fadeInRight project-report">
	<div class="row">

		<div class="col-lg-6 report-2-projects-p-chart">
			<%= render partial: '/secure/projects/report2' %>
		</div>		
		
		<div class="col-lg-6 report-1-projects-p-chart">
    	<%= render partial: '/secure/projects/report1' %>
		</div>
		
	</div>
</div>

