<% if params[:type].present? && params[:type].to_s == 'report2' %>
  $(".report-2-projects-p-chart").html("<%= escape_javascript(render partial: '/secure/projects/report2') %>")
  data = $.parseJSON('<%=raw @report2.to_json %>');
  if(data.length > 0){
    //Flot Pie Chart
    var plotObj = $.plot($("#project-2-flot-pie-chart"), data, {
      series: {
        pie: { show: true }
      },
      grid: {
        hoverable: true
      },
      tooltip: true,
      tooltipOpts: {
        content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
        shifts: {
          x: 20,
          y: 0
        },
        defaultTheme: false
      }
    });    
  }
<% else %>
  $(".report-1-projects-p-chart").html("<%= escape_javascript(render partial: '/secure/projects/report1') %>")
  data = $.parseJSON('<%=raw @pieChartReportForProject.to_json %>');
  if(data.length > 0){
    //Flot Pie Chart
    var plotObj = $.plot($("#project-flot-pie-chart"), data, {
      series: {
        pie: { show: true }
      },
      grid: {
        hoverable: true
      },
      tooltip: true,
      tooltipOpts: {
        content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
        shifts: {
          x: 20,
          y: 0
        },
        defaultTheme: false
      }
    });    
  }
<% end %>

$('.date').datepicker({
  todayBtn: "linked",
  keyboardNavigation: false,
  forceParse: false,
  calendarWeeks: true,
  autoclose: true,
  format: "dd/mm/yyyy"
});
