<% content_for :title, "View Project" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-6'>
    <%= show_breadcrumb("Project : #{project.name} ( #{project.key} )") %>
  </div>
</div>

<div class='row wrapper wrapper-content'>
  <div class='row'>
    <%= render partial: '/secure/projects/left_menu' %>
    
    <div class='col-lg-9 animated fadeInRight padleft0'>
      <div class='row'>
        <div class='col-lg-12 project-search-secure'>
      		<div class='ibox float-e-margins'>
        		<div class='ibox-content'>
              
              <div class="row m-b-sm m-t-sm">
                <%= render partial: '/secure/projects/search1' %> 
                <div class="col-md-12 tasks-search">
                  <%= render partial: '/secure/tasks/search' %> 
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      
      <div class='row'>
        <div class='col-lg-12 project-search-secure'>
          <div class='ibox float-e-margins'>
            <div class='ibox-content'>

              <div class="project-list">
                <table class="table table-hover">
                  <tbody>
                    <% if tasks.present? %>
                      <% tasks.each do |task| %>
                        <tr>
                          <td class="project-status col-lg-1" title='<%= task.task_priority %>'>
                            <%= task_code(task.priority, task.code) %>
                          </td>
                          <td class="project-title col-lg-11">
                            <%= link_to [:secure, project, task] do %>
                              <%= task.summary %>
                              <% if task.children? %>
                                <small class='pull-right'>
                                  sub task(s) <span class="badge"><%= task.children.count %></span>
                                </small>
                              <% end %>
                            <% end %>                     
                          </td>
                        </tr>
                      <% end %>
                    <% else %>
                      No tasks found !
                    <% end %>
                  </tbody>
                </table>
              </div>

        		</div>
        	</div>
        </div>
      </div>
		</div>    

  </div>
</div>
