<div class='modal-body'>
	<% if invitation.new_record? %>
		<p class='text-center'> 
			You already invited to <strong><%= invitation.invite_email %></strong>.
		</p>
	<% else %>
		<p class='text-center'>
			<strong>Hurry!,</strong> 
			Invitation successfully send to <strong> <%= invitation.invite_email %></strong> !
		</p>
	<% end %>
</div>
<div class='modal-footer'>
  <button type='button' class='btn btn-white' data-dismiss='modal'>Ok</button>
</div>