<% content_for :title, "Invitation" %>
<div class="body-wrap">
  <div class="container">    
    <div class='wrapper wrapper-content animated fadeInRight'>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <%= image_tag('header.jpg', class: 'img-responsive', alt: 'Logo', style: 'width:100%;') %>
          <div class="ibox float-e-margins">            
            <div class="ibox-content">
              <h3>Hello <%= @invitation.invite_email %>,</h3>
              <h4>This invitation send by <i><%= @current_organization.title_or_name %></i> as a role of <i><%= @invitation.role %></i>. </h4>
              <h4>To join the organization kindly fill up the below detail.</h4>
              <%= form_for(@user, url: {controller: 'invitations', action: 'accept_invitation'}, html: {class: 'form-horizontal user-invitation' }, method: :post) do |form| %>
                <div class="form-group">
                  <div class="col-sm-6">
                    <%= form.text_field :firstname, placeholder: 'First Name', class: 'form-control' %>
                  </div>
                  <div class="col-sm-6">
                    <%= form.text_field :lastname, placeholder: 'Last Name', class: 'form-control' %>
                  </div>
                </div>
                <div class="form-group hide">
                  <%= hidden_field_tag :token, params[:token] %>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <%= form.text_field :username, placeholder: 'Username', class: 'form-control' %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-6">
                    <%= form.password_field :password, placeholder: 'Password', class: 'form-control' %>
                  </div>
                  <div class="col-sm-6">
                    <%= form.password_field :password_confirmation, placeholder: 'Password Confirmation', class: 'form-control' %>
                  </div>
                </div>                
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <div class="col-sm-12">                    
                    <button type='submit' class='btn btn-primary m-b' data-disable-with="<i class='fa fa-spin fa-spinner'></i> Please Wait...">
                      Save
                    </button>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>