$("#new_invitation").html("<%= escape_javascript(render partial: '/invitations/create', locals: {invitation: @invitation}) %>")
<% if !@invitation.new_record? %>
	$('.users-invitations-list').html("<%= escape_javascript(render partial: '/users/invitations') %>")
<% end %>
$.getScript('/assets/invitations.js')