<% content_for :title, "Invitation" %>
<div class='body-wrap'>
  <div class='container'>    
    <div class='wrapper wrapper-content animated fadeInRight'>
      <div class='row'>
        <div class='col-lg-6 col-lg-offset-3'>
          <%= image_tag('header.jpg', class: 'img-responsive', alt: 'Logo', style: 'width:100%;') %>
          <div class='ibox float-e-margins'>            
            <div class='ibox-content'>              
              <div class='text-center'>
                
                <h2>Invitation Accepted !</h2><br/>

                <% if @existMember == 'Yes' %>
                  <h3>Welcome to our organization !</h3>
                  <%= link_to 'Click Here', new_user_session_path, data: {disable_with: loader} %>
                      to signin your account.
                <% else %>
                  <h4>You will receive an email with instructions for how to confirm your email address in a few minutes. </h4>
                  <h4>Thank you for creating an account!</h4>
                  <br/> <br/>
                  <p>
                    After confirm your account, 
                      <%= link_to 'Click Here', new_user_session_path, data: {disable_with: loader} %>
                      to signin your account.
                  </p> 
                <% end %>  
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>