<% project.clients.each do |client| %>		
	<div id='<%= client.uniq_number %>' class='col-lg-6'>
		<div class='contact-box client-view'>
			<%= render partial: '/clients/view', locals: {client: client} %>
		</div>
	</div>
<% end %>
