<div class='col-lg-12'>
	<%= link_to "<i class='fa fa-plus'></i> Add Client".html_safe, new_project_client_path(project), data: {disable_with: loader}, remote: true %>
</div>
<hr>
<% if project.clients.present? %>
	<div class="clients">
		<%= render partial: '/projects/client-list' %>
	</div>
<% else %>
	<p> No Client For Current Project ! </p>
<% end %>