<div class='modal inmodal' id='new_project_popup' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content animated bounceInRight'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
        <h4 class='modal-title'>Add New Project</h4>
        <small class="font-bold">
          you can plan, track and report on all of your work within a project. <br/>
          You can also track all the work activity as transitions through a streamlined process.
        </small>
      </div>
      <%= form_for project, html: {class: 'form-horizontal new-project'} do |form| %>
        <div class='modal-body'>

          <div class="form-group">
            <%= form.label :name, 'Project Name', class: 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= form.text_field :name, placeholder: 'Project Name', class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= form.label :description, 'Description', class: 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= form.text_area :description, placeholder: 'Project Description', class: 'form-control', rows: 4 %>
            </div>
          </div>
          
          <span class='help-block m-b-none text-center'>
            <b>Note :</b> You can add more detail for project on the edit page.
          </span>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-white' data-dismiss='modal'>Close</button>                    
          <button type='submit' class='btn btn-primary m-b' data-disable-with="<i class='fa fa-spin fa-spinner'></i> Please Wait...">
            Save
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>