<%= form_for project, html: {class: 'form-horizontal edit-project-detail'} do |form| %>

  <div class='form-group'>
    <%= form.label :name, class: 'col-sm-2 control-label' %>
    <div class='col-sm-10'>        
      <%= form.text_field :name, placeholder: 'Write your project name here ... ', class: 'form-control' %>
    </div>
  </div>

  <div class='form-group'>
    <%= form.label :description, class: 'col-sm-2 control-label' %>
    <div class='col-sm-10'>
      <%= form.text_area :description, class: 'summernote' %>
    </div>
  </div>

  <div class='form-group'>
    <%= form.label :keywords, class: 'col-sm-2 control-label' %>
    <div class='col-sm-10'>
      <%= form.select :keywords, options_for_select(Rails.application.secrets.keywords, form.object.keywords), {}, {class: 'chosen-select', multiple: true} %>
    </div>
  </div>

  <div class='form-group'>
    <%= form.label :url, 'URL', class: 'col-sm-2 control-label' %>
    <div class='col-sm-10'>        
      <%= form.url_field :url, placeholder: 'Project Live/Staging URL', class: 'form-control' %>
    </div>
  </div>

  <div class='form-group'>
    <%= form.label :start_date, 'Start Date', class: 'col-sm-2 control-label' %>
    <div class='col-sm-3'>
      <div class="input-group date">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>              
        <%= form.text_field :start_date, value: form.object.start_date.present? ? form.object.start_date.strftime('%d/%m/%Y') : '', class: 'form-control', placeholder: 'DD/MM/YYYY' %>
      </div>
    </div>

    <%= form.label :end_date, 'End Date', class: 'col-sm-2 control-label' %>
    <div class='col-sm-3'>
      <div class="input-group date">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>              
        <%= form.text_field :end_date, value: form.object.end_date.present? ? form.object.end_date.strftime('%d/%m/%Y') : '', class: 'form-control', placeholder: 'DD/MM/YYYY' %>
      </div>
    </div>
  </div>

  <div class='form-group'>
    <%= form.label :status_id, 'Status', class: 'col-sm-2 control-label' %>
    <div class='col-sm-3'>
      <%= form.select :status_id, options_for_select(Rails.application.secrets.project_statuses.invert.to_a, form.object.status_id ), {include_blank: false }, {class: 'form-control'} %>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class='hr-line-dashed'></div>
    
  <div class='form-group'>
    <div class='col-sm-8 col-sm-offset-2'>
      <%= button_tag 'Update', class: 'btn btn-primary', data: { disable_with: loader} %>
    </div>
  </div>

<% end %>
