<% content_for :title, "Edit Project" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-6'>
    <%= show_breadcrumb("Edit Project - #{project.name} - (#{project.key})") %>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
  <div class="row">
    <div class="col-lg-12">
      <div class="tabs-container">
        <ul class="nav nav-tabs">
          <li class="active">
          	<a data-toggle="tab" href="#project-detail-tab-1"> Project Detail</a>
          </li>
          <li class="">
          	<a data-toggle="tab" href="#client-info-tab-2"> Client Information </a>
          </li>
          <li class="">
          	<a data-toggle="tab" href="#finance-detail-tab-3"> Finance Detail </a>
          </li>
          <li class="">
          	<a data-toggle="tab" href="#document-tab-4"> Documents</a>
          </li>
        </ul>
        <div class="tab-content">
         	<div id="project-detail-tab-1" class="tab-pane active">
            <div class="panel-body">
            	<%= render partial: '/projects/project_details' %>       
            </div>
          </div>
          
          <div id="client-info-tab-2" class="tab-pane">
            <div class="panel-body">
            	<%= render partial: '/projects/client_info' %>
            </div>
          </div>
          
          <div id="finance-detail-tab-3" class="tab-pane">
          	<div class="panel-body">
							<div class="table-responsive">
								<%= render partial: '/projects/finance_detail' %>
            	</div>
            </div>
          </div>
          
          <div id="document-tab-4" class="tab-pane">
            <div class="panel-body">
            	<%= render partial: '/projects/documents' %>
           </div>
          </div>

          <div class='project-pop-dply'></div>
        </div>
      </div>
    </div>
  </div>
</div>

                            
