<% content_for :title, "Projects" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-6'>
    <%= show_breadcrumb('Projects') %>
  </div>
</div>

<div class='row'>
	<div class='col-lg-12'>
  	<div class='wrapper wrapper-content animated fadeInUp'>
      <div class='ibox'>
        <div class='ibox-title'>
          <h5>All projects associated to this organization</h5>
          <div class='new-project-popup'></div>
          <div class='ibox-tools'>          	
          	<%= link_to new_project_path, class: 'btn btn-primary btn-xs', data: {disable_with: loader}, remote: true do %>
          		Create New Project</i>
          	<% end %>            
          </div>
        </div>        
        <div class='ibox-content'>
          <% if projects.present? %>
            <div class='row m-b-sm m-t-sm'>
              <div class='col-md-1'>
                <button type='button' id='loading-example-btn' class='btn btn-white btn-sm' ><i class='fa fa-refresh'></i> Refresh</button>
              </div>
              <div class='col-md-11'>
                <div class='input-group'>
                	<input type='text' placeholder='Search' class='input-sm form-control'>
                	<span class='input-group-btn'>
                  	<button type='button' class='btn btn-sm btn-primary'> <i class='fa fa-search'></i> Search</button>
                  </span>
                </div>
              </div>
            </div>
            <div class='project-list'>
              <table class='table table-hover'>
                <tbody>
                  <% projects.each do |project| %>
                    <tr>
                      <td class='project-status'><%= project_status(project) %></td>
                    	<td class='project-title'>                        
                        <%= link_to project.name, project %><br/>
                        <%= project_created_at(project.created_at) %>
                      </td>
                      <td class='project-completion'>
                        <small>Completion with: 0%</small>
                        <div class='progress progress-mini'>
                          <div style='width: 0%;' class='progress-bar'></div>
                        </div>
                      </td>
                      <% if project.users.present? %>
                        <td class='project-people'>
                          <% project.users.limit(5).each do |user| %>
                            <%= link_to 'javascript:void(0);' do %>
                              <%= image_tag(user.profile_image('small'), class: 'img-circle', title: user.fullname) %>
                            <% end %>
                          <% end %>
                        </td>
                      <% end %>
                      <td class='project-actions'>
                        <%= link_to project, class: 'btn btn-white btn-sm', data: {disable_with: loader} do %>
                          <i class='fa fa-folder'></i> View
                        <% end %>
                        <%= link_to edit_project_path(project), class: 'btn btn-white btn-sm', data: {disable_with: loader} do %>
                          <i class='fa fa-pencil'></i> Edit
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
               	</tbody>
              </table>
            </div>
          <% else %>
            <p> No Projects Found !</p>
          <% end %>            
        </div>
      </div>
    </div>
 	</div>
</div>