$('.new-project-popup').html("<%= escape_javascript(render partial: '/projects/new') %>")
$('#new_project_popup').modal({backdrop: 'static', keyboard: false});


$('.new-project').validate({
	rules: {
		'project[name]': {
			required: true,
			remote: {
				type: 'get',
				url: '/projects/getProNameUniq',
				dataType: 'json'
			}
		},
		'project[description]': {
			required: true
		}
	},
	messages: {
		'project[name]': {
			required: "Project name can't be blank !",
			remote: 'Already exist please you another !'
		},
		'project[description]': {
			required: "Description can't be blank !"
		}		
	}

})