<% content_for :title, "View Project" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-6'>
    <%= show_breadcrumb("Project - #{project.name}") %>
  </div>
</div>

<div class='row'>
	<div class='col-lg-9'>
		<div class='wrapper wrapper-content animated fadeInUp'>
			<div class='ibox'>
				<div class='ibox-content'>
					<div class='row'>
						<div class='col-lg-12'>
							<div class='m-b-md'>
								<%= link_to edit_project_path(project), class: 'btn btn-white btn-xs pull-right', data: {disable_with: loader} do %>
                  <i class='fa fa-pencil'></i> Edit Project
                <% end %>								
								<h2><%= project.name %></h2>
							</div>
							
							<dl class='dl-horizontal'>
								<dt>Status:</dt> 
								<dd><%= project_status(project) %></dd>								
							</dl>
						</div>
						<% if project.description.present? %>
							<div class='col-lg-12'>
								<dl class='dl-horizontal'>
									<dt>Description:</dt>
									<dd><%= project.description.html_safe %></dd>
								</dl>
							</div>
						<% end %>
					</div>
					<div class='row'>
						<div class='col-lg-5'>
							<dl class='dl-horizontal'>
								<dt>Created by:</dt> <dd><%= project.organization.name %></dd>
								<dt>Messages:</dt> <dd>  000</dd>
								<% if project.clients.present? %>
									<dt>Client:</dt> 
									<% project.clients.each do |client| %>
										<dd><%= link_to client.fullname, 'javascript:void(0);', class: 'text-navy' %></dd>
									<% end %>									
								<% end %>
								<dt>Version:</dt> <dd> 	v1.4.2 </dd>
							</dl>
						</div>
						<div class='col-lg-7' id='cluster_info'>
							<dl class='dl-horizontal'>
								<dt>Last Updated:</dt> <dd><%= project.last_updated %></dd>
								<dt>Created:</dt> <dd> <%= project.created_date %> </dd>
								<% if project.user_ids.present? %>
									<dt>Members:</dt>
									<dd class='project-people'>
										<% project.users.each do |user| %>
											<a href='javascript:void(0);'>												
												<%= image_tag(user.profile_image('small'), title: user.fullname, class: 'img-circle') %>
											</a>
										<% end %>
									</dd>
								<% end %>
							</dl>
						</div>
					</div>
					
					<div class='row'>
						<div class='col-lg-12'>
							<dl class='dl-horizontal'>
								<dt>Completed:</dt>
								<dd>
									<div class='progress progress-striped active m-b-sm'>
										<div style='width: 60%;' class='progress-bar'></div>
									</div>
									<small>Project completed in 
										<strong>60%</strong>. 
										Remaining close the project, sign a contract and invoice.
									</small>
								</dd>
							</dl>
						</div>
					</div>

					<div class='row m-t-sm'>
						<div class='col-lg-12'>
							<div class='panel blank-panel'>
								<div class='panel-heading'>
									<div class='panel-options'>
										<ul class='nav nav-tabs'>
											<li class='active'><a href='#project-member-tab-1' data-toggle='tab' aria-expanded='true'>Project Members</a></li>
											<li class=''><a href='#tab-1' data-toggle='tab' aria-expanded='true'>Users messages</a></li>
											<li class=''><a href='#tab-2' data-toggle='tab' aria-expanded='false'>Last activity</a></li>
										</ul>
									</div>
								</div>

								<div class='panel-body padtop0'>
									<div class='tab-content'>

										<div class='tab-pane active' id='project-member-tab-1'>
											<% if project.user_ids.present? %>
												<div class='table-responsive'>
	                        <table class='table table-striped table-hover'>
	                          <tbody>
	                          	<% project.users.each do |user| %>
		                            <tr id='<%= user.slug %>'>
		                              <td class='client-avatar'>
		                              	<%= image_tag(user.profile_image('small')) %>
		                              </td>
		                              <td>
		                              	<a data-toggle='tab' href='javascript:void(0);' class='client-link'><%= user.fullname %></a>
		                              </td>
		                              <td><%= role_for_current_organization(user, @current_organization) %></td>
		                              <td class='contact-type'><i class='fa fa-envelope'></i></td>
		                              <td><%= user.email %></td>
		                            </tr>
	                            <% end %>
	                          </tbody>
	                        </table>
	                      </div>
	                    <% else %>
	                    	<h4>No members found for this project !</h4>
	                    <% end %>
										</div>

										<div class='tab-pane' id='tab-1'>
											<div class='feed-activity-list'>
												<div class='feed-element'>
													<a href='#' class='pull-left'>
														<img alt='image' class='img-circle' src='/assets/a2.jpg'>
													</a>
													<div class='media-body '>
														<small class='pull-right'>2h ago</small>
														<strong>Mark Johnson</strong> posted message on <strong>Monica Smith</strong> site. <br>
														<small class='text-muted'>Today 2:10 pm - 12.06.2014</small>
														<div class='well'>
															Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
															Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
														</div>
													</div>
												</div>
												<div class='feed-element'>
													<a href='#' class='pull-left'>
														<img alt='image' class='img-circle' src='/assets/a3.jpg'>
													</a>
													<div class='media-body '>
														<small class='pull-right'>2h ago</small>
														<strong>Janet Rosowski</strong> add 1 photo on <strong>Monica Smith</strong>. <br>
														<small class='text-muted'>2 days ago at 8:30am</small>
													</div>
												</div>
												<div class='feed-element'>
													<a href='#' class='pull-left'>
														<img alt='image' class='img-circle' src='/assets/a4.jpg'>
													</a>
													<div class='media-body '>
														<small class='pull-right text-navy'>5h ago</small>
														<strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
														<small class='text-muted'>Yesterday 1:21 pm - 11.06.2014</small>
														<div class='actions'>
															<a class='btn btn-xs btn-white'><i class='fa fa-thumbs-up'></i> Like </a>
															<a class='btn btn-xs btn-white'><i class='fa fa-heart'></i> Love</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<div class='tab-pane' id='tab-2'>
											<table class='table table-striped'>
												<thead>
													<tr>
														<th>Status</th>
														<th>Title</th>
														<th>Start Time</th>
														<th>End Time</th>
														<th>Comments</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>
															<span class='label label-primary'>
																<i class='fa fa-check'></i> Completed
															</span>
														</td>
														<td> Create project in webapp </td>
														<td> 12.07.2014 10:10:1 </td>
														<td> 14.07.2014 10:16:36 </td>
														<td>
															<p class='small'>
																Lorem Ipsum is.
															</p>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class='col-lg-3 pad0'>
		<div class='wrapper wrapper-content project-manager'>
			<div class='ibox-content'>
				<h4>Project Invitation</h4>
				
				<%= form_tag invitation_project_path(project), method: :post, class: 'project-invitation' do |form| %>
          <div class='form-group'>
            <%= select_tag 'project[user_ids]', options_for_select(@current_organization.users.collect{|t| [t.fullname_with_designation(@current_organization), t.id] }), {include_blank: 'Select User', class: 'form-control'} %>
            <span class='help-block m-b-none view-user-info-for-invitation text-center hide'>
            	<p><%= image_tag(current_user.profile_image('small'), class: 'img-circle img-center') %></p>
            	<h4></h4>
            	<h5></h5>
            </span>
          </div>

				  <div class='clearfix'></div>

			    <div class='hr-line-dashed'></div>
			    
			    <div class='form-group'>
			      <div class='text-center'>			      	
			        <%= button_tag 'Send', class: 'btn btn-primary', data: { disable_with: loader} %>
			      </div>
			    </div>

        <% end %>

			</div>
		</div>
	</div>
</div>