<%= comment.content.html_safe %>
<% if comment.attachment_ids.present? %>
  <% comment.attachments.each do |attachment| %>  	
    <span class="label label-primary"><%= attachment.document_file_name %></span>
  <% end %>
<% end %>
