<div class='modal inmodal' id='new-secure-project-popup' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content animated bounceInRight'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
        <h4 class='modal-title'> <i class="fa fa-comment"></i> Comment </h4>
      </div>
      <%= nested_form_for [:secure, comment.new_record? ? :project : comment.project, comment], html: {class: 'form-horizontal new-secure-project-form'}, remote: true do |form| %>      
        <div class='modal-body'>
          <div class="form-group">
            <%- if task.present? %>
              <%= hidden_field_tag :task_id, task.slug %>
            <% end %>
            <%= form.label :content, 'Content', class: 'col-sm-2 control-label' %>
            <div class="col-sm-9">
              <%= form.text_area :content, class: 'form-control summernote required' %>
              <div for="comment_content" class="error comment_content"></div>
            </div>
          </div>

          <% if task.present? && task.task_attachments.present? %>
            <div class="form-group">
              <%= form.label 'Attachment', class: 'col-sm-2 control-label' %>
              <div class="col-sm-9">
                <%= form.select :attachment_ids, options_for_select(task.task_attachments.collect{|t| ["#{t.document_file_name}", t.id]}, form.object.attachment_ids), {include_blank: false}, {class: 'form-control multiselect-dropdown', multiple: true} %>
              </div>
            </div>
          <% end %>
        </div>

        <div class='modal-footer'>          
          <button type='submit' class='btn btn-primary m-b-2' data-disable-with="<%= loader %>"> <%= comment.new_record? ? 'Create' : 'Update'%> </button>
          <button type='button' class='btn btn-white m-b' data-dismiss='modal'>Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
