<% if @comment.id? %>
	$('#new-secure-project-popup').modal('hide');
	<% if @comment.task_id? %>
		$('#comments-tab-1').html("<%= escape_javascript(render partial: '/secure/tasks/task_comments', locals: {comment: @comment}) %>")
	<% end %>
	$.getScript('/assets/secure/comments.js')
	toastr.success('Comment added successfully.')	
<% else %>
	$('.comment_content').removeClass('hide').html("Can't be blank!")
<% end %>