<% if my_comment.valid? %>
	$('#new-secure-project-popup').modal('hide');	
	$('.comment-<%= my_comment.id %>').html("<%= escape_javascript(render partial: '/secure/comments/content', locals: {comment: my_comment}) %>")
	toastr.success('Comment updated successfully !')	
<% else %>
	$('.comment_content').removeClass('hide').html("Can't be blank!")
<% end %>