<%= form_for letter, html: { class: 'add-new-letter' } do |form| %>

  <div class='form-group'>
    <%= form.label :title, class: '' %>
    <%= form.text_field :title, placeholder: 'Title', class: 'form-control' %>	  
	</div>

  <div class='form-group'>
    <%= form.label :description, class: 'control-label' %>
    <%= form.text_area :description, placeholder: 'Description', class: 'form-control summernote-letter' %>
	</div>

  <div class="hr-line-dashed"></div>
  
  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-2">
      <%= link_to 'Cancel', letters_path, data: {disable_with: loader }, class: 'btn btn-white' %>
      <button type='submit' class='btn btn-primary m-b' data-disable-with="<i class='fa fa-spin fa-spinner'></i> Save Changes...">
        <%= form.object.new_record? ? 'Create' : 'Update' %>
      </button>
    </div>
  </div>
  <div class="clearfix"></div>
<% end %>
