<div class='modal inmodal' id='view-generate-pdf-form-popup' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content animated bounceInRight'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
        <h4 class='modal-title'>          
          Generate PDF for <%= letter.title %>
        </h4>
      </div>
      <%= form_for letter, url: {controller: 'letters', action: 'download_pdf' }, html: { class: 'generate-pdf-letter-validation' } do |form| %>
        <div class='modal-body'>

          <% if !@current_organization.title.present? && letter.description.scan('[COMPANY]').present? %>
            <div class='form-group'>
              <label>Name of Organization</label>
              <%= text_field_tag 'letter[organization_title]', nil, placeholder: 'Name of organization', class: 'form-control' %>
            </div>
          <% end %>

          <div class='form-group'>
            <label>Employee <span class="danger">*</span></label>
            <%= select_tag 'letter[employee_id]', options_for_select(@current_organization.organizations_users.collect{|u| ["#{u.profile.fullname} (#{u.profile.designation})", u.user_id] }), prompt: 'Select Employee', class: 'form-control required' %>
          </div>
          
          <div class='employee-info'></div>

          <% if letter.description.scan('[SUPERVISOR]').present? || letter.description.scan('[SUPERVISOR-POSITION]').present? %>
            <div class='form-group'>
              <label>Supervisor <span class="danger">*</span></label>
              <%= select_tag 'letter[supervisor_id]', options_for_select(@current_organization.organizations_users.collect{|u| ["#{u.profile.fullname} (#{u.profile.designation})", u.user_id] }), prompt: 'Select Supervisor', class: 'form-control required' %>
            </div>
          <% end %>

          <% if letter.description.scan('[SENDER-NAME]').present? %>
            <div class='form-group'>
              <label>Sender Name <span class="danger">*</span></label>
              <%= text_field_tag 'letter[sender_name]', nil, placeholder: 'Sender Name', class: 'form-control required' %>
            </div>
          <% end %>

          <% if letter.description.scan('[SALARY]').present? %>
            <div class='form-group'>
              <label>Salary <span class="danger">*</span></label>
              <%= text_field_tag 'letter[salary]', nil, placeholder: 'Salary', class: 'form-control required' %>
            </div>          
          <% end %>
        </div>

        <div class='modal-footer'>          
          <button type='submit' class='btn btn-primary m-b' data-disable-with="<i class='fa fa-spin fa-spinner'></i> Generating PDF">
            Generate PDF
          </button>          
        </div>
      <% end %>
    </div>
  </div>
</div>
