<div class="ibox right-panel-letter-box">
	<div class="ibox-content">
		<div class="">
			<% if controller.action_name == 'edit' %>				
				<%= link_to 'Generate PDF', generate_pdf_letter_path(letter), class: 'btn btn-primary btn-rounded', data: {disable_with: loader, remote: true} %>
				<div class="pull-right">
					<%= link_to 'View', letter_path(letter), class: 'btn btn-white btn-sm', data: {disable_with: loader} %>
					<% if !letter.is_default? %>
						<%= link_to 'Delete', letter_path(letter), class: 'btn btn-danger btn-sm', data: {disable_with: loader, confirm: 'Are you sure want to delete this letter? '}, method: :delete %>
					<% end %>
				</div>
				<hr/>
			<% elsif controller.action_name == 'show' %>
				<%= link_to 'Generate PDF', generate_pdf_letter_path(letter), class: 'btn btn-primary btn-rounded', data: {disable_with: loader, remote: true} %>
				<div class="pull-right">
					<%= link_to 'Edit', edit_letter_path(letter), class: 'btn btn-white btn-sm', data: {disable_with: loader} %>
					<% if !letter.is_default? %>
						<%= link_to 'Delete', letter_path(letter), class: 'btn btn-danger btn-sm', data: {disable_with: loader, confirm: 'Are you sure want to delete this letter? '}, method: :delete %>
					<% end %>
				</div>
				<hr/>
			<% end %>						
		</div>		
		<h3><i class="fa fa-sticky-note"></i> Note</h3>
		<p>Before generate PDF for letter, Employee basic profile needs to be 100% complete. </p>

		<h3><i class="fa fa-info-circle"></i> Help</h3>
		
		<p> You can use below keywords in your letter that will replace with original value.</p>

		<ul>
			<li>
				<b>[FULL-NAME]</b>
				<p> Employee fullname </p>
			</li>
			
			<li>
				<b>[POSITION]</b> 
				<p> Employee designation</p>
			</li>
			
			<li>
				<b>[COMPANY]</b> 
				<p>Organization name (Title)</p>
			</li>
			
			<li>
				<b>[APPOINTMENT-TYPE]</b>
				<p>Employee appointment type</p>
			</li>
			
			<li>
				<b>[SUPERVISOR]</b>
				<p>Supervisor fullname </p>
			</li>

			<li>
				<b>[SUPERVISOR-POSITION]</b>
				<p>Supervisor designation</p>	
			</li>

			<li>
				<b>[JOINING-DATE]</b>
				<p>Employee joining date</p>
			</li>

			<li>
				<b>[SENDER-NAME]</b>
				<p>Sender fullname</p>
			</li>

			<li>
				<b>[SALARY]</b>
				<p>Employee salary</p>
			</li>
		</ul>
	</div>
</div>      
<div class='view-generate-pdf-form'></div>