<% if not @employee.profile.designation.present? %>
  <div class='form-group'>
    <label>Employee Designation</label>
    <%= text_field_tag 'profile[designation]', nil, placeholder: "Designation name of employee - #{@employee.profile.fullname}", class: 'form-control' %>
  </div>

<% end %>