<% content_for :title, "Edit Letter" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-6'>
    <%= show_breadcrumb('Edit Letter') %>
  </div>
</div>

<div class='row letters-list'>
	<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
    	<div class="col-lg-8">
				<div class="ibox float-e-margins">
          <div class="ibox-content">
          	<%= render 'form' %>
			  	</div>
			  </div>
    	</div>
      <div class="col-lg-4">
        <%= render partial: '/letters/help' %>
      </div>
    </div>
  </div>
</div>