$(".view-generate-pdf-form").html("<%= escape_javascript(render partial: '/letters/generate_pdf') %>")
$("#view-generate-pdf-form-popup").modal({backdrop: 'static', keyboard: false})

$("#letter_employee_id").change(function(){
	$.ajax({
		url: '/letters/user_info',
		method: 'post',
		data: {employee_id: $(this).val() },
		dataType: 'script'
	})
})

$('.generate-pdf-letter-validation').validate()