<% content_for :title, "Letters" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-6'>
    <%= show_breadcrumb('Letters') %>
  </div>
</div>

<div class='row letters-list'>
	<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      
      <div class="col-lg-3">
        <div class="contact-box">
        	<%= link_to new_letter_path do %>		          
            <div class="col-sm-12">
              <h3 class="truncate">
              	<strong><center>
              		<i class="fa fa-plus"></i> Add Letter
              	</center></strong>
              </h3>
            </div>
           	<div class="clearfix"></div>
          <% end %>
        </div>
      </div>

      <% if letters.present? %>
      	<% letters.each do |letter| %>
		      <div class="col-lg-3">
		        <div class="contact-box">
		        	<%= link_to letter do %>		          
		            <div class="col-sm-12">
		              <h3 class="">
		              	<strong><center>
		              		<div class='truncate'> <%= letter.title %></div>
                      <small>Updated : <%= local_time(letter.updated_at) %></small>
		              	</center></strong>
		              </h3>
		            </div>
		           	<div class="clearfix"></div>
		          <% end %>
		        </div>
		      </div>
		    <% end %>
		  <% end %>

		</div>          
  </div>	
</div>