<% content_for :title, "View Letter" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-6'>
    <%= show_breadcrumb("View Letter - #{letter.title}") %>
  </div>
</div>

<div class='row letters-list'>
	<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
      <div class="col-lg-8">
        <div class="ibox">
          <div class="ibox-content">
            <div class="text-center article-title">
            	<h2><%= letter.title %></h2>
            	<hr>
            	<%= letter.description.html_safe %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
      	<%= render partial: '/letters/help' %>
      </div>
    </div>
  </div>
</div>