<div class='modal inmodal' id='new-secure-project-popup' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content animated bounceInRight'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
        <h4 class='modal-title'>
          <i class="fa fa-bug"></i>
          Assignee
        </h4>
      </div>
      
      <%= nested_form_for [:secure, project, task], url: {controller: :assigns, action: :create}, html: {class: 'form-horizontal new-secure-project-form'}, method: :post, remote: true do |form| %>
        <div class='modal-body'>

          <div class="form-group">
            <%= form.label 'Assignee', class: 'col-sm-2 control-label' %>
            <div class="col-sm-9">
              <%= form.select :user_ids, options_for_select(project.users.collect{|t| ["#{t.fullname} [ #{role_for_current_organization(t, @current_organization)} ] - #{t.email} - #{t.slug}", t.id]}, form.object.user_ids), {include_blank: false}, {class: 'form-control multiselect-dropdown', multiple: true} %>
              <span class="help-block m-b-none">You can select multiple assignee for different roles in the same task.</span>              
            </div>
          </div>

          <div class="form-group">
            <%= form.fields_for :comments, form.object.comments.build do |comment_form| %>
              <%= comment_form.hidden_field :user_id, value: current_user.id %>
              <%= comment_form.hidden_field :project_id, value: project.id %>
              <%= comment_form.label :content, 'Comment', class: 'col-sm-2 control-label' %>
              <div class="col-sm-9">
                <%= comment_form.text_area :content, class: 'form-control summernote required' %>
                <div for="comment_content" class="error comment_content"></div>
              </div>
            <% end %>
          </div>

        </div>

        <div class='modal-footer'>          
          <button type='submit' class='btn btn-primary m-b-2' data-disable-with="<%= loader %>"> <%= task.new_record? ? 'Create' : 'Update'%> </button>
          <button type='button' class='btn btn-white m-b' data-dismiss='modal'>Close</button>
        </div>
      <% end %>

    </div>
  </div>
</div>
