<% if task.valid? %>
	$('.task-assignee-list').html("<%= escape_javascript(render partial: '/secure/tasks/assignee') %>")
	$('.task-comment-feed-act-list').prepend("<%= escape_javascript(render partial: '/secure/tasks/comment_info', locals: {comment: task.comments.first}) %>")
	$('#new-secure-project-popup').modal('hide');
<% else %>
	$('.comment_content').removeClass('hide').html("Can't be blank!")
<% end %>	
