$('#new-secure-project').html("<%= escape_javascript(render partial: '/secure/assigns/form') %>")
$('#new-secure-project-popup').modal({backdrop: 'static', keyboard: false})

// Step 1 - Load Wyswyg Editor
$('.summernote').summernote({
	placeholder: 'Write here...',
	callbacks: {
		onChange: function(contents, $editable){
			isInvalid = $(contents).text() == ''
			if(isInvalid == true){
				$('.comment_content').removeClass('hide').html("Can't be blank!")
			}else{
				$('.comment_content').addClass('hide').html("Can't be blank!")
			}
		}
	},
	toolbar: [
		['style', ['bold', 'italic', 'underline', 'fontname', 'hr']],	    
    ['fontsize', ['color', 'fontsize', 'ul', 'ol', 'paragraph', 'height', 'help']],	    
	]
});

// Step 2 - Dropdown with Search
$(".chosen-select").chosen({
    no_results_text: 'No results matched',
    width: '100%'
});

// Step 3 - Multiselect Dropdown
$('.multiselect-dropdown').multiselect({
	includeSelectAllOption: false,
  enableFiltering: true,
  numberDisplayed: 1	
});
