<label class="col-lg-3 control-label">Assignee : </label>
<div class="col-lg-9 fgcl">
  <% if task.user_ids.present? %>
    <ul class='pad0'>
      <% task.users.each do |user| %>
        <li>
          <%= user.fullname %>
          <% if user == current_user %>
            <strong>(You)</strong>
          <% end %>
          [ <%= role_for_current_organization(user, @current_organization) %> ]
        </li>
      <% end %>
    </ul>
  <% end %>
</div>