<div id='task-comment-<%= comment.id %>' class="feed-element">
  <%= link_to 'javascript:void(0);', class: 'pull-left' do %>
    <% if comment.user_id? %>
      <%= image_tag(comment.user.profile_image, alt: 'Image', class: 'img-circle') %>
    <% end %>
  <% end %>
  <div class="media-body">
    <small class="pull-right">
      <%= local_time_ago(comment.created_at) %>
    </small>
    <strong><%= comment.user.fullname if comment.user_id?%> [ <%= role_for_current_organization(comment.user, @current_organization) %> ]</strong> 
    added a comment
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="" data-toggle="dropdown" href="#" aria-expanded="true">
          <i class="fa fa-wrench"></i>
        </a>
        <ul class="dropdown-menu dropdown-alerts">
          <li>
            <% if comment.task_id? %>
              <%= link_to edit_secure_project_comment_path(comment.project, comment, task_id: comment.task), data: {disable_with: loader, remote: true } do %>
                <i class='fa fa-pencil fa-fw'></i> Edit
              <% end %>
            <% else %>
              <%= link_to edit_secure_project_comment_path(comment.project, comment), data: {disable_with: loader, remote: true } do %>
                <i class='fa fa-pencil fa-fw'></i> Edit
              <% end %>                  
            <% end %>
            <%= link_to 'javascript:void(0);', data: {behavior: 'delete', href: secure_project_comment_path(comment.project, comment)} do %>
              <i class='fa fa-trash fa-fw'></i> Delete
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
    <div class="well comment-<%= comment.id %>">
      <%= render partial: '/secure/comments/content', locals: {comment: comment} %>
    </div>
  </div>
</div>
