<div class='task-detail-section col-lg-7 pad0'>
  <div class='text-with-line'><h4> Detail </h4></div>
  
  <div class="form-group">
    <label class="col-lg-5 control-label">Type : </label>
    <div class="col-lg-7 fgcl">
      <%= task_type_with_icon(task) %>                    
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-5 control-label">Status :</label>
    <div class="col-lg-7 fgcl">
      <%= show_task_status(task) %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-5 control-label">Priority :</label>
    <div class="col-lg-7 fgcl">
      <label class="control-label">
        <%= task_priority_icon(task.task_priority) %>
        <%= task.task_priority %>
      </label>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-5 control-label">Resolution :</label>
    <div class="col-lg-7 fgcl">
      <label class="control-label"><%= task.task_resolution %></label>
    </div>
  </div>
</div>

<div class='task-date-section col-lg-5'>
  <div class='date-with-line'><h4> Dates </h4></div>
  <div class="form-group">
    <label class='control-label'>Created :</label> <br/>
    <label class='fgcl'><%= task.created_on %></label>
  </div>   

  <div class="form-group">
    <label class='control-label'>Updated :</label> <br/>
    <label class='fgcl'><%= local_time_ago(task.updated_at) %></label>
  </div>                
</div>
