<div class='modal inmodal' id='new-secure-project-popup' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content animated bounceInRight'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
        <h4 class='modal-title'>
          <i class="fa fa-bug"></i>
          <%= task.new_record? ? 'Create Issue' : 'Update Issue' %>
        </h4>
      </div>
      
      <%= nested_form_for [:secure, :project, task], html: {class: 'form-horizontal new-secure-project-form'} do |form| %>
        <div class='modal-body'>

          <div class="form-group">
            <%= form.label :summary, "Summary <span class='danger'>*</span>".html_safe, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= form.text_field :summary, placeholder: 'Summary of the task', class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= form.label :issue_type_id, 'Issue Type', class: 'col-sm-3 control-label' %>
            <div class="col-sm-5">
              <%= form.select :issue_type_id, options_for_select(Rails.application.secrets.task_issue_types.invert.to_a, form.object.issue_type_id), {include_blank: true}, {class: 'form-control chosen-select'} %>
            </div>
          </div>
          <% if form.object.new_record? %>
            <div class='form-group hide'>
              <%= hidden_field_tag :token, @token %>
            </div>
          <% end %>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
            <%= form.label :reporter_id, 'Reporter', class: 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= form.select :reporter_id, options_for_select(project.users.collect{|t| ["#{t.fullname} [ #{role_for_current_organization(t, @current_organization)} ] - #{t.email} - #{t.slug}", t.id]}, form.object.reporter_id), {include_blank: true}, {class: 'form-control chosen-select'} %>
              <span class="help-block m-b-none">Start typing to get a list of possible matches.</span>
            </div>
          </div>

          <%= form.fields_for :task_attachments, form.object.task_attachments.build do |task_attachment| %>
            <div class="form-group">
              <%= task_attachment.label :document, 'Attachment', class: 'col-sm-3 control-label' %>
              <div id='dropzoneForm' class="col-sm-9 dropzone">
                <div class='fallback form-control'>
                  <%= task_attachment.file_field :document, multiple: true %>
                </div>
              </div>
            </div>
          <% end %>

          <div class="form-group">
            <%= form.label :description, 'Description', class: 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= form.text_area :description, class: 'form-control summernote' %>
            </div>
          </div>

          <div class="form-group">
            <%= form.label 'Assignee', class: 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= form.select :user_ids, options_for_select(project.users.collect{|t| ["#{t.fullname} [ #{role_for_current_organization(t, @current_organization)} ] - #{t.email} - #{t.slug}", t.id]}, form.object.user_ids), {include_blank: false}, {class: 'form-control multiselect-dropdown', multiple: true} %>
              <span class="help-block m-b-none">You can select multiple assignee for different roles in the same task.</span>              
            </div>
          </div>

          <div class="form-group">
            <%= form.label :priority, 'Priority', class: 'col-sm-3 control-label' %>
            <div class="col-sm-5">
              <%= form.select :priority, options_for_select(Rails.application.secrets.priorities.invert.to_a, form.object.priority), {include_blank: true}, {class: 'form-control chosen-select'} %>
            </div>
          </div>

        </div>

        <div class='modal-footer'>          
          <button type='submit' class='btn btn-primary m-b-2' data-disable-with="<%= loader %>"> <%= task.new_record? ? 'Create' : 'Update'%> </button>
          <button type='button' class='btn btn-white m-b' data-dismiss='modal'>Close</button>
        </div>
      <% end %>

    </div>
  </div>
</div>
