<% if task.histories.present? %>
  <div class="ibox-content">
    <div>
      <% task.histories.each do |history| %>
        <div class="feed-activity-list">
          <div class="feed-element">
            <%= link_to 'javascript:void(0);', class: 'pull-left' do %>
              <%= image_tag(history.user.profile_image, alt: 'Image', class: 'img-circle') %>
            <% end %>
            <% case history.change_type %>
            <% when 'TaskCreate' %>
              <div class="media-body ">
                <small class="pull-right"><%= local_time_ago(history.created_at) %></small>
                <strong><%= history.user.fullname %> [ <%= role_for_current_organization(history.user, @current_organization) %> ] </strong> 
                <%= history.message.html_safe %>. <br>
                <small class="text-muted"><%= local_time(history.created_at, :long) %></small>
              </div>            
            <% when 'SummaryUpdate', 'TaskUpdate' %>
              <div class="media-body ">
                <small class="pull-right"><%= local_time_ago(history.created_at) %></small>
                <strong><%= history.user.fullname %> [ <%= role_for_current_organization(history.user, @current_organization) %> ] </strong> 
                <%= history.message.html_safe %>                
              </div>            
            <% end %>            
          </div>
        </div>
      <% end %>
    </div>
  </div>                        
<% end %>
