<%= form_tag "", class: 'form-inline', role: 'form', method: :get do %>
  <div class="form-group">
    <%= select_tag :sort_by, options_for_select({created_at: 'Created', priority: 'Priority', issue_type_id: 'Type', status_id: 'Status', resolution: 'Resolution'}.invert.to_a, params[:sort_by]), {include_blank: 'Order by', class: 'form-control input-sm'} %>
  </div>                
  <div class="form-group">
    <%= select_tag :priority, options_for_select(Rails.application.secrets.priorities.invert.to_a, params[:priority]), {include_blank: 'Priority: All', class: 'form-control input-sm'} %>
  </div>
  <div class="form-group">
    <%= select_tag :type, options_for_select(Rails.application.secrets.task_issue_types.invert.to_a, params[:type]), {include_blank: 'Types: All', class: 'form-control input-sm'} %>
  </div>
  <div class="form-group">
    <%= select_tag :status, options_for_select(Rails.application.secrets.task_statuses.invert.to_a, params[:status]), {include_blank: 'Status: All', class: 'form-control input-sm'} %>
  </div>
  <div class="form-group">
    <%= select_tag :resolution, options_for_select(Rails.application.secrets.task_resolutions.invert.to_a, params[:resolution]), {include_blank: 'Resolution : All', class: 'form-control input-sm'} %>
  </div>
  <%= button_tag class: 'btn btn-primary input-sm', data: {disable_with: loader} do %>
    <i class="fa fa-search"></i> Search
  <% end %>
<% end %>