<div class="table-responsive">
  <table class="table table-hover issue-tracker">
    <tbody>
      <% task.children.each do |subtask| %>
        <tr>
          <td class="project-status col-lg-1" title='<%= task.task_priority %>'>
            <%= task_code(subtask.priority, subtask.code) %>
          </td>
          <td class="project-title col-lg-10 truncate">
            <%= link_to [:secure, subtask.project, subtask] do %>
              <%= subtask.summary %>
            <% end %>                          
          </td>
          <td class="col-lg-1">
            <%= show_task_status(subtask) %>
          </td>         
        </tr>
      <% end %>
    </tbody>
  </table>
</div>