<% case task.status_id %>
<% when 1 %> 
	<%= link_to 'In Process', secure_project_task_path(project, task, task: {status_id: 2}), class: 'btn btn-default btn-xs', data: {disable_with: loader }, method: :put, remote: true %>
	<%= link_to 'Review', secure_project_task_path(project, task, task: {status_id: 4}), class: 'btn btn-default btn-xs', data: {disable_with: loader }, method: :put, remote: true %>
<% when 2 %>
	<%= link_to 'Stop Process', secure_project_task_path(project, task, task: {status_id: 1}), class: 'btn btn-default btn-xs', data: {disable_with: loader }, method: :put, remote: true %>
	<%= link_to 'Review', secure_project_task_path(project, task, task: {status_id: 4}), class: 'btn btn-default btn-xs', data: {disable_with: loader }, method: :put, remote: true %>
<% when 3 %>
	<%= link_to 'To Do', secure_project_task_path(project, task, task: {status_id: 1}), class: 'btn btn-default btn-xs', data: {disable_with: loader }, method: :put, remote: true %>
<% when 4 %>
	<%= link_to 'Testing', secure_project_task_path(project, task, task: {status_id: 5}), class: 'btn btn-default btn-xs', data: {disable_with: loader }, method: :put, remote: true %>
	<%= link_to 'Done', secure_project_task_path(project, task, task: {status_id: 6}), class: 'btn btn-default btn-xs', data: {disable_with: loader }, method: :put, remote: true %>
	<%= link_to 'Re-Open', secure_project_task_path(project, task, task: {status_id: 7}), class: 'btn btn-default btn-xs', data: {disable_with: loader }, method: :put, remote: true %>
<% when 5 %>
	<%= link_to 'Re-Open', secure_project_task_path(project, task, task: {status_id: 7}), class: 'btn btn-default btn-xs', data: {disable_with: loader }, method: :put, remote: true %>
	<%= link_to 'Done', secure_project_task_path(project, task, task: {status_id: 6}), class: 'btn btn-default btn-xs', data: {disable_with: loader }, method: :put, remote: true %>
<% when 6 %>
	<%= link_to 'Re-Open', secure_project_task_path(project, task, task: {status_id: 7}), class: 'btn btn-default btn-xs', data: {disable_with: loader }, method: :put, remote: true %>		
<% when 7 %>
	<%= link_to 'In Process', secure_project_task_path(project, task, task: {status_id: 2}), class: 'btn btn-default btn-xs', data: {disable_with: loader }, method: :put, remote: true %>
	<%= link_to 'Review', secure_project_task_path(project, task, task: {status_id: 4}), class: 'btn btn-default btn-xs', data: {disable_with: loader }, method: :put, remote: true %>
<% end %>
