<% if task.comments.present? %>
  <div class="task-comment-feed-act-list feed-activity-list">
    <% task.comments.each do |comment| %>
      <%= render partial: '/secure/tasks/comment_info', locals: {comment: comment} %>
    <% end %>
  </div>
<% end %>