<span class="badge badge-info">
  <%= link_to task.watchers.count, new_secure_project_task_watcher_path(project, task), data: {disable_with: icon_loader}, remote: true %>
</span>
<% watcher = task.watchers.find_by(user_id: current_user.id) %>
<% if watcher.present? %>
	<%= link_to 'Stop watching this issue', secure_project_task_watchers_path(project, task), data: {disable_with: loader, remote: true}, method: :post %>
<% else %>
	<%= link_to 'Start watching this issue', secure_project_task_watchers_path(project, task), data: {disable_with: loader, remote: true}, method: :post %>
<% end %>
