$('#new-secure-project').html("<%= escape_javascript(render partial: '/secure/tasks/form') %>")
$('#new-secure-project-popup').modal({backdrop: 'static', keyboard: false})


// Step 1 - Load Dropzone
var myDropzone = new Dropzone("div#dropzoneForm", { 
	url: '/secure/projects/' + '<%= project.slug %>' + '/tasks/store_attachments/?id='+'<%= task.slug %>',
	dictDefaultMessage: "<i class='fa fa-cloud-upload'></i> <strong>Drop files here or click to upload. </strong>",
	maxFilesize: 10, //MB
	paramName: 'file'
});

// Step 2 - Load Wyswyg Editor
$('.summernote').summernote({
	toolbar: [
		['style', ['bold', 'italic', 'underline', 'fontname', 'hr']],	    
    ['fontsize', ['color', 'fontsize', 'ul', 'ol', 'paragraph', 'height', 'help']],	    
	]
});

// Step 3 - Dropdown with Search
$(".chosen-select").chosen({
    no_results_text: 'No results matched',
    width: '100%'
});

// Step 4 - Multiselect Dropdown
$('.multiselect-dropdown').multiselect({
	includeSelectAllOption: false,
  enableFiltering: true,
  numberDisplayed: 1	
});

// Step 5 - Jquery validation
$('.new-secure-project-form').validate({
	rules: {
		'task[summary]': {
			required: true
		}
	}, 
	messages: {
		'task[summary]': {
			required: "Can't be blank !"
		}	
	}
})