<% content_for :title, "Task" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-6'>
    <%= show_breadcrumb("Project : #{project.name} ( #{project.key} )") %>
  </div>
</div>

<div class='row wrapper wrapper-content'>
  <div class='row'>
    <%= render partial: '/secure/projects/left_menu' %>

    <div class='col-lg-9 animated fadeInRight padleft0'>
      <div class='row'>
        <div class='col-lg-12 project-search-secure'>
          <div class='ibox float-e-margins'>
            <div class='ibox-content tasks-search'>
              <%= render partial: '/secure/tasks/search' %>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='col-lg-3 animated fadeInRight pad0'>
      <div class='row'>
        <div class='col-lg-12'>
          <div class='ibox float-e-margins task-mgt'>
            <div class='ibox-content'>
              <div class="project-list">
                <table class="table table-hover table-stl">
                  <tbody>            
                    <% if tasks.present? %>
                      <% tasks.each do |ptask| %> 
                        <tr class="<%= 'active' if task == ptask %>">
                          <td class="task-code col-lg-12">
                            <%= link_to [:secure, project, ptask] do %>
                              <% if ptask.ancestry? %>
                                <%= task_priority_icon(ptask.parent.task_priority) %>
                                <%= ptask.parent.code %> / 
                              <% end %>
                              <%= task_priority_icon(ptask.task_priority) %>
                              <%= ptask.code %><br/>
                              <small class='project-task-summary-<%= ptask.slug %>'><%= ptask.summary %></small>
                            <% end %>                          
                          </td>
                        </tr>                        
                      <% end %>
                    <% else %>
                      <center><h4>No tasks found !</h4></center>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>

    <div class='col-lg-6 animated fadeInRight'>
      <div class='row'>
        <div class='col-lg-12'>
          <div class='ibox float-e-margins'>
            <div class='ibox-content'>                                    
              <div class='infont col-lg-1 pad0'>
                <i class='font42 fa fa-arrow-circle-up <%= task.task_priority.downcase %>' title='<%= task.task_priority %>'></i> 
              </div>
              <div class='col-lg-11 inline-edfm-task pad0'>
                <%= link_to task.project_name, '#' %> / 
                <% if task.ancestry? %>
                  <%= link_to task.parent.code, secure_project_tasks_path(project, task.parent), data: {disable_with: loader} %> / 
                <% end %>
                <%= link_to task.code, '#' %> 
                
                <li class="dropdown pull-right">
                  <a aria-expanded="true" role="button" href="#" class="dropdown-toggle btn btn-default btn-xs" data-toggle="dropdown"> 
                    <i class='fa fa-ellipsis-h'></i>
                  </a>
                  <ul role="menu" class="dropdown-menu">
                    <li><%= link_to 'Agile Board', 'javascript:void(0);', data: {disable_with: loader} %></li>
                    <li class="task-watchers-list">
                      <%= render partial: '/secure/tasks/watcher' %>
                    </li>
                    <li class="divider"></li>
                    <% if not task.ancestry? %>
                      <li><%= link_to 'Create sub-task', subtask_secure_project_task_path(project, task), data: {disable_with: loader, remote: true} %></li>
                      <li><%= link_to 'Convert to sub-task', 'javascript:void(0);', data: {disable_with: loader} %></li>
                    <% end %>
                    <li class="divider"></li>
                    <li><%= link_to 'Delete', secure_project_task_path(project, task), data: {disable_with: loader, confirm: 'Are you sure want to delete this task ?'}, method: :delete %></li>
                  </ul>
                </li>

                <br/>                
                <h3>
                  <a href='javascript:void(0);' class='in-task-summary-et' data-type="text" data-resource="task" data-name="summary" data-url="/secure/projects/<%= project.slug %>/tasks/<%= task.slug %>" data-original-title="Summary">
                    <%= task.summary %>
                  </a>                  
                </h3>                
              </div>
              <div class='clearfix'></div>

              <%= link_to edit_secure_project_task_path(project, task), class: 'btn btn-default btn-xs', data: {disable_with: loader }, remote: true do %>
                <i class='fa fa-pencil'></i> Edit
              <% end %>

              <%= link_to new_secure_project_task_assign_path(project, task), class: 'btn btn-default btn-xs', data: {disable_with: loader }, remote: true do %>
                <i class='fa fa-user'></i> Assign
              <% end %>

              <%= link_to new_secure_project_comment_path(project, task_id: task), class: 'btn btn-default btn-xs', data: {disable_with: loader }, remote: true do %>
                <i class='fa fa-comment'></i> Comment
              <% end %>

              <% if task.user_ids.include?(current_user.id.to_i) %>
                <div data-toggle='buttons-checkbox' class='btn-group task-statuses-btns'>
                  <%= render partial: 'task_status_btns' %>
                </div>
              <% end %>
              
              <div class='details_n_dates'>
                <%= render partial: 'details_n_dates' %>
              </div>

              <div class='clearfix'></div>
              <% if @current_organization.track_timing_for_task? %>
                <div class='task-detail-section col-lg-12 pad0'>
                  <div class='text-with-line'><h4> Time Tracking </h4></div>

                  <div class='col-lg-6 pad0'>
                    <div class="form-group in-task-estimate-time-edt">
                      <label class="col-lg-6 control-label">Estimate Time : </label>
                      <label class="col-lg-6 control-label">
                        <a href="javascript:void(0);" class='in_task_estimate_time_edt' data-id='<%= task.slug %>' data-type="time" data-resource="task" data-name="estimate_time" data-url="/secure/projects/<%= project.slug %>/tasks/<%= task.slug %>">
                          <%= task.estimate_time %>
                        </a>
                      </label>
                    </div>
                  </div>
                  <div class='col-lg-6 pad0'>
                    <div class="form-group">
                      <label class="col-lg-5 control-label">Work Log : </label>
                      <label class="col-lg-6 control-label">
                        <span class="watch-<%= task.slug %>" title='HH:MM:SS'><%= task.my_hours(current_user) %></span>                        
                      </label>
                    </div>
                  </div>
                  <div class='clearfix'></div>
                  <div class='col-lg-6 pad0'>
                    <div class="form-group">
                      <label class="col-lg-6 control-label">Total Time : </label>
                      <label class="col-lg-6 control-label">
                        <span class="watch-<%= task.slug %>" title='HH:MM:SS'><%= task.total_time %></span>                        
                      </label>
                    </div>
                  </div>
                </div>                
                <div class='clearfix'></div>
              <% end %>

              <div class='task-description-section'>                
                <div class='text-with-line'><h4> Description </h4></div>
                <%= task.description.try(:html_safe) %>                
              </div>

              <% if task.children? %>
                <div class='task-sub-section'>                
                  <div class='text-with-line'><h4> Sub Tasks </h4></div>
                  <%= render partial: '/secure/tasks/subtasks_list' %>
                </div>
              <% end %>


              <div class='task-people-section'>
                <div class='text-with-line'><h4> People </h4></div>
                <div class='col-lg-12 pad0'>
                  <div class="form-group task-assignee-list">
                    <%= render partial: '/secure/tasks/assignee' %>
                  </div>
                </div>
                <div class='clearfix'></div>
                <div class='col-lg-12 pad0'>
                  <div class="form-group">
                    <label class="col-lg-3 control-label">Reporter : </label>
                    <div class="col-lg-9 fgcl pad0">
                      <a href="javascript:void(0);" class='in_task_reporter_edt' data-id='<%= task.slug %>' data-type="select" data-resource="task" data-name="reporter_id" data-url="/secure/projects/<%= project.slug %>/tasks/<%= task.slug %>">
                        <% if task.reporter_id? %>
                          <%= task.reporter.fullname %> 
                          [ <%= role_for_current_organization(task.reporter, @current_organization) %> ]
                          <%= task.reporter.email %>
                        <% else %>
                          Undefine
                        <% end %>
                      </a>
                    </div>
                  </div>
                </div>
                <div class='clearfix'></div>
                <div class='col-lg-12 pad0'>
                  <div class="form-group">
                    <label class="col-lg-3 control-label">Watchers : </label>
                    <div class="col-lg-9 fgcl pad0 task-watchers-list">
                      <%= render partial: '/secure/tasks/watcher' %>
                    </div>
                  </div>                
                </div>

                <div class='clearfix'></div>
              </div>

              <div class='task-description-section'>
                <div class='text-with-line'><h4> Attachments </h4></div>
                <%= form_tag store_attachments_secure_project_tasks_path(project, id: task.slug), class: 'dropzone dropzone2', id: 'dropzoneForm' do %>
                  <div class="fallback">
                    <%= file_field_tag 'file', multiple: true %>
                  </div>
                <% end %>
                <div class="attachment task-attachment">
                  <% if task.task_attachments.present? %>
                    <% task.task_attachments.each do |attachment| %>
                      <div class="file-box <%= attachment.uniq_number %>">
                        <div class="file">                          
                          <%= link_to secure_project_task_task_attachment_download_path(project, task, attachment), class: 'attachment', title: 'Click to download attachment', target: '_self' do %>
                            <%= attachment_thumbnail_display(attachment) %>
                          <% end %>
                          <div class="file-name truncate" title='<%= attachment.document_file_name %>'>
                            <%= attachment.document_file_name %> <br>
                            <small>Added: <%= attachment.created_on %><br/>
                            Size: <%= number_to_human_size(attachment.document_file_size) %></small>
                            <span class='pull-right'>                              
                              <%= link_to "<i class='fa fa-trash'></i>".html_safe, secure_project_task_task_attachment_path(project, task, attachment), data: {disable_with: icon_loader, remote: true, confirm: 'Are you sure want to delete ?'}, method: :delete, title: 'Delete Attachment' %>
                            </span>
                          </div>
                        </div>
                      </div>                      
                    <% end %>
                  <% end %>
                  <div class="clearfix"></div>
                </div>
              </div>

              <div class='task-description-section'>
                <div class='text-with-line'><h4> Activities </h4></div>
                  
                <div class="tabs-container">
                  <ul class="nav nav-tabs">
                    <li class="active">
                      <a data-toggle="tab" href="#comments-tab-1" aria-expanded="true">Comments</a>
                    </li>
                    <li class="">
                      <a data-toggle="tab" href="#work-log-tab-2" aria-expanded="false">Work Logs</a>
                    </li>
                    <li class="">
                      <a data-toggle="tab" href="#activity-tab-4" aria-expanded="false">Activity</a>
                    </li>                    
                  </ul>
                  <div class="tab-content">
                    <div id="comments-tab-1" class="tab-pane active">
                      <%= render partial: '/secure/tasks/task_comments' %>
                    </div>
                    
                    <div id="work-log-tab-2" class="tab-pane">
                    </div>

                    <div id="activity-tab-4" class="tab-pane">                      
                      <%= render partial: '/secure/tasks/histories' %>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>