// Update Task Statuses
toastr.options = {
  "closeButton": false,
  "debug": false,
  "progressBar": false,
  "preventDuplicates": false,
  "positionClass": "toast-top-right",
  "onclick": null,
  "showDuration": "400",
  "hideDuration": "1000",
  "timeOut": "7000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}

$('.task-statuses-btns').html("<%= escape_javascript(render partial: '/secure/tasks/task_status_btns') %>")
$('.details_n_dates').html("<%= escape_javascript(render partial: '/secure/tasks/details_n_dates') %>")
toastr.success('<%= task.code %> has been updated.')
