	                      <div class='feed-activity-list'>
	                        <div class='feed-element'>
	                        	<a href='#' class='pull-left'>
	                          	<img alt='image' class='img-circle' src='/assets/a3.jpg'>
	                          </a>
	                          <div class='media-body '>
	                            <small class='pull-right'>2h ago</small>
	                            <strong>Janet Rosowski</strong> add 1 photo on <strong>Monica Smith</strong>. <br>
	                            <small class='text-muted'>2 days ago at 8:30am</small>
	                          </div>
	                        </div>          
	                        
	                        <div class='feed-element'>
	                          <a href='#' class='pull-left'>
	                            <img alt='image' class='img-circle' src='/assets/a7.jpg'>
	                          </a>
	                          <div class='media-body '>
	                            <small class='pull-right'>46h ago</small>
	                            <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
	                            <small class='text-muted'>3 days ago at 7:58 pm - 10.06.2014</small>
	                          </div>
	                        </div>
	                      </div>
