<div class="ibox float-e-margins">
  <div class="ibox-content">
    <%= form_for([:admin, organization], html: { method: :put, class: 'form-horizontal' }) do |f| %>

      <div class="form-group">
        <%= f.label :logo, class: 'col-sm-3 control-label' %>
        <div class="col-sm-7">
          <%= f.file_field :logo, placeholder: 'Upload Organiztion Logo' %>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :title, 'Name', class: 'col-sm-3 control-label' %>
        <div class="col-sm-7">
          <%= f.text_field :title, placeholder: 'Enter your organization name', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :name, 'Domain', class: 'col-sm-3 control-label' %>
        <div class="col-sm-7">
          <%= f.text_field :name, placeholder: 'Enter your domain name', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, class: 'col-sm-3 control-label' %>
        <div class="col-sm-7">
          <%= f.email_field :email, placeholder: 'Enter your organization email', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :address, class: 'col-sm-3 control-label' %>
        <div class="col-sm-7">
          <%= f.text_area :address, placeholder: 'Enter your domain name', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :contact_number, class: 'col-sm-3 control-label' %>
        <div class="col-sm-7">
          <%= f.text_field :contact_number, placeholder: 'Contact Number', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :website, class: 'col-sm-3 control-label' %>
        <div class="col-sm-7">
          <%= f.text_field :website, placeholder: 'Website', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :status_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-7">
          <%= f.select :status_id, options_for_select(Rails.application.secrets.organization_statuses.invert.to_a, f.object.status_id), {prompt: 'Select Status'}, {class: 'form-control'} %>
        </div>
      </div>      
      
      <div class="form-group">
        <%= f.label :about_us, 'Organiztion Info.', class: 'col-sm-3 control-label' %>
        <div class="col-sm-7">
          <%= f.text_area :about_us, placeholder: 'Write something about your organization here...', class: 'form-control' %>
        </div>
      </div>

      <div class="hr-line-dashed"></div>
      
      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
          <%= link_to 'Cancel', admin_organizations_path, data: {disable_with: loader }, class: 'btn btn-white' %>
          <button type='submit' class='btn btn-primary m-b' data-disable-with="<i class='fa fa-spin fa-spinner'></i> Save Changes...">
            Save Changes
          </button>
        </div>
      </div>
    <% end %>
  
  </div>
</div>
