<div class="form-horizontal org-owner-profile">
	<legend><small>Personal Information</small></legend>
	<div class="col-xs-12 col-sm-12 col-md-3">
		<div class="form-group">	  	
	  	<div class="col-md-12 col-xs-12 col-sm-12">
        <% if organization.owner.profile.present? && organization.owner.profile.avatar.url.present? %>
          <%= image_tag(organization.owner.profile.avatar, class: 'img-circle circle-border m-b-md', alt: 'Profile Picture', style: 'width:140px;') %>
        <% else %>
        	<%= image_tag('No_image_available.svg', class: 'img-circle circle-border m-b-md', alt: 'Profile', style: 'width:140px;') %>          
        <% end %>	    	
	  	</div>
		</div>	
	</div>	
	<div class="col-xs-12 col-sm-12 col-md-9">
		<div class="form-group">
	  	<label class="col-xs-12 col-sm-12 col-md-12 control-label textleft">About Me</label>
	  	<div class="col-md-12 col-xs-12 col-sm-12">
	    	<p class="form-control-static"><%= organization.about_me %></p>
	  	</div>
		</div>	
	</div>
	<div class="clearfix"></div>
	
	<div class="col-xs-12 col-sm-6 col-md-6">
		<div class="form-group">
	  	<label class="col-xs-12 col-sm-4 col-md-4 control-label">First Name</label>
	  	<div class="col-md-8 col-xs-12 col-sm-6">
	    	<p class="form-control-static"><%= organization.owner.firstname %></p>
	  	</div>
		</div>	
		<div class="form-group">
	  	<label class="col-xs-12 col-sm-4 col-md-4 control-label">Birth Date</label>
	  	<div class="col-md-8 col-xs-12 col-sm-6">
	    	<p class="form-control-static"><%= organization.birthdate %></p>
	  	</div>
		</div>		
		<div class="form-group">
	  	<label class="col-xs-12 col-sm-4 col-md-4 control-label">Designation</label>
	  	<div class="col-md-8 col-xs-12 col-sm-6">
	    	<p class="form-control-static"><%= organization.designation %></p>
	  	</div>
		</div>
		<div class="form-group">
	  	<label class="col-xs-12 col-sm-4 col-md-4 control-label">Last Update</label>
	  	<div class="col-md-8 col-xs-12 col-sm-6">
	    	<p class="form-control-static"><%= local_time(organization.owner.updated_at) %></p>
	  	</div>
		</div>					
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-6">
		<div class="form-group">
	  	<label class="col-xs-12 col-sm-4 col-md-4 control-label">Last Name</label>
	  	<div class="col-md-8 col-xs-12 col-sm-6">
	    	<p class="form-control-static"><%= organization.owner.lastname %></p>
	  	</div>
		</div>	
		<div class="form-group">
	  	<label class="col-xs-12 col-sm-4 col-md-4 control-label">Mrg. Date</label>
	  	<div class="col-md-8 col-xs-12 col-sm-6">
	    	<p class="form-control-static"><%= organization.marriage_date %></p>
	  	</div>
		</div>
		<div class="form-group">
	  	<label class="col-xs-12 col-sm-4 col-md-4 control-label">Created At</label>
	  	<div class="col-md-8 col-xs-12 col-sm-6">
	    	<p class="form-control-static"><%= local_time(organization.owner.created_at) %></p>
	  	</div>
		</div>
	</div>
	<div class="clearfix"></div>

	<legend><small> Contact Information</small></legend>
	<div class="col-xs-12 col-sm-6 col-md-6">	
		<div class="form-group">
	  	<label class="col-xs-12 col-sm-4 col-md-4 control-label">Phone #</label>
	  	<div class="col-md-8 col-xs-12 col-sm-6">
	    	<p class="form-control-static"><%= organization.phone_number %></p>
	  	</div>
		</div>

		<div class="form-group">
	  	<label class="col-xs-12 col-sm-4 col-md-4 control-label">Home #</label>
	  	<div class="col-md-8 col-xs-12 col-sm-6">
	    	<p class="form-control-static"><%= organization.home_number %></p>
	  	</div>
		</div>
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-6">	
		<div class="form-group">
	  	<label class="col-xs-12 col-sm-4 col-md-4 control-label">Mobile #</label>
	  	<div class="col-md-8 col-xs-12 col-sm-6">
	    	<p class="form-control-static"><%= organization.mobile_number %></p>
	  	</div>
		</div>

		<div class="form-group">
	  	<label class="col-xs-12 col-sm-4 col-md-4 control-label">Website</label>
	  	<div class="col-md-8 col-xs-12 col-sm-6">
	    	<p class="form-control-static"><%= organization.website %></p>
	  	</div>
		</div>		
	</div>

	<legend><small>Address Information</small></legend>	

	<div class="col-xs-12 col-sm-6 col-md-6">
		<div class="form-group">
	  	<label class="col-xs-12 col-sm-4 col-md-4 control-label">Address</label>
	  	<div class="col-md-8 col-xs-12 col-sm-6">
	    	<p class="form-control-static"><%= organization.address %></p>
	  	</div>
		</div>
		<div class="form-group">
	  	<label class="col-xs-12 col-sm-4 col-md-4 control-label">State</label>
	  	<div class="col-md-8 col-xs-12 col-sm-6">
	    	<p class="form-control-static"><%= organization.state %></p>
	  	</div>
		</div>
		<div class="form-group">
	  	<label class="col-xs-12 col-sm-4 col-md-4 control-label">Zipcode</label>
	  	<div class="col-md-8 col-xs-12 col-sm-6">
	    	<p class="form-control-static"><%= organization.zipcode %></p>
	  	</div>
		</div>		
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6">
		<div class="form-group">
	  	<label class="col-xs-12 col-sm-4 col-md-4 control-label">City</label>
	  	<div class="col-md-8 col-xs-12 col-sm-6">
	    	<p class="form-control-static"><%= organization.city %></p>
	  	</div>
		</div>
		<div class="form-group">
	  	<label class="col-xs-12 col-sm-4 col-md-4 control-label">Country</label>
	  	<div class="col-md-8 col-xs-12 col-sm-6">
	    	<p class="form-control-static"><%= organization.country %></p>
	  	</div>
		</div>		
	</div>

</div>