<div class='col-lg-3'>
  <div class='wrapper wrapper-content project-manager'>
    <h4>Organization Overview</h4>    
    <%= image_tag(image_show(organization.logo.url), class: 'img-responsive') %>
    <br/>
    <p class='small'>
      <%= organization.about_us || 'No Description' %>
    </p>
    <div class='text-center m-t-md'>
      <a href='#' class='btn btn-xs btn-primary'>SEND MESSAGE</a>
    </div>
  </div>
</div>