	                      <table class='table table-striped'>
	                        <thead>
	                          <tr>
	                            <th>Status</th>
	                            <th>Title</th>
	                            <th>Start Time</th>
	                            <th>End Time</th>
	                            <th>Comments</th>
	                          </tr>
	                        </thead>
		                      <tbody>
		                      	<tr>
		                          <td>
		                            <span class='label label-primary'>
		                            	<i class='fa fa-check'></i> Completed
		                            </span>
		                          </td>
		                          <td>Create project in webapp</td>
		                          <td>12.07.2014 10:10:1</td>
		                          <td>14.07.2014 10:16:36</td>
		                          <td>
		                            <p class='small'>
		                              Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
		                            </p>
		                          </td>
		                        </tr>
		                        
		                        <tr>
		                          <td>
		                            <span class='label label-primary'><i class='fa fa-check'></i> Sent</span>
		                          </td>
		                          <td>Contrary to popular</td>
		                          <td>12.07.2014 10:10:1</td>
		                          <td>14.07.2014 10:16:36</td>
		                         	<td>
		                            <p class='small'>
		                              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
		                            </p>
		                          </td>
		                        </tr>
		                      </tbody>
		                    </table>
