<% content_for :title, "Edit Organization" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-6'>
    <%= show_breadcrumb("Edit - #{organization.title_or_name}") %>
  </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-9">
      <%= render 'form' %>    
    </div>
    <%= render partial: '/admin/organizations/profile' %>
  </div>
</div>