<% content_for :title, "Organization List" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-4'>
    <%= show_breadcrumb('Organizations') %>
  </div>
</div>

<div class='row'>
  <div class='col-lg-12'>
    <div class='wrapper wrapper-content animated fadeInUp'>
      <div class='ibox'>
        <div class='ibox-title'>
          <h5>All organizations for project management system.</h5>
        </div>
        <div class='ibox-content'>
          <div class='row m-b-sm m-t-sm'>
            <div class='col-md-1'>
              <%= link_to admin_organizations_path, data: {disable_with: wait_loader}, class: 'btn btn-white btn-sm' do %>
                <i class='fa fa-refresh'></i> Refresh
              <% end %>
            </div>
            <div class='col-md-11'>
              <%= form_tag admin_organizations_path, method: :get do %>
                <div class='input-group'>
                <%= text_field_tag :search, params[:search], class: 'input-sm form-control', placeholder: 'Search by organization name or title ... ' %>
                  <span class='input-group-btn'>
                    <button type='submit' class='btn btn-sm btn-primary' data-disable-with="<%= icon_loader %>" > Go!</button>
                  </span>
                </div>
              <% end %>
            </div>
          </div>
          <% if organizations.present? %>
            <div class='project-list'>
              <table class='table table-hover'>
                <tbody>
                  <% organizations.each do |organization| %>
                    <tr id='data-<%= organization.slug %>'>
                      <td class='project-status'>
                        <%= organization_status(organization.status.humanize) %>
                      </td>
                      <td class='project-title'>
                        <%= link_to organization.title_or_name, [:admin, organization], data: {disable_with: loader} %>                      
                        <br>
                        <%= organization_created_at(organization) %>
                      </td>
                      <td class='project-completion'>
                        <small>Completion with: 48%</small>
                        <div class='progress progress-mini'>
                          <div style='width: 48%;' class='progress-bar'></div>
                        </div>
                      </td>
                      <td class='project-actions'>
                        <%= link_to [:admin, organization], class: 'btn btn-white btn-sm', data: {disable_with: loader } do %>
                          <i class='fa fa-folder'></i> View
                        <% end %>
                        <%= link_to edit_admin_organization_path(organization), class: 'btn btn-white btn-sm', data: {disable_with: loader} do %>
                          <i class='fa fa-pencil'></i> Edit
                        <% end %>                        
                        <% if @current_organization.name.to_s != organization.name.to_s %>
                          <%= link_to 'javascript:void(0);', class: 'btn btn-sm btn-danger delete-organization', data: {behavior: 'org-delete', href: admin_organization_path(organization)} do %>
                            <i class="fa fa-trash"></i> Delete
                          <% end %>                                       
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% else %>
            <p>No organization found with <b><%= params[:search] %></b></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>