<% content_for :title, "View Organization" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-4'>
  	<%= show_breadcrumb('Organization Profile') %>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class='row'>
		
		<div class='col-lg-9'>
	    <div class='wrapper wrapper-content animated fadeInUp'>
	      <div class='ibox'>
	        <div class='ibox-content'>
	          
	          <div class='row'>
	            <div class='col-lg-12'>
	              <div class='m-b-md'>
	              	<%= link_to 'Edit', edit_admin_organization_path(organization), class: 'btn btn-white btn-xs pull-right', data: {disable_with: loader } %>
	                <h2><%= organization.title_or_name %></h2>
	              </div>
	              	
              	<dl class='dl-horizontal'>
                	<dt>Status:</dt>
                	<dd><%= organization_status(organization.status) %></dd>
              	</dl>
	            </div>	            
	          </div>
	          
	          <div class='row'>
	            <div class='col-lg-5'>
	              <dl class='dl-horizontal'>
	                <dt>Created by:</dt> <dd><%= organization.owner.try(:fullname) %></dd>
	                <dt>Website:</dt><dd><%= organization.try(:website) %></dd>
	                <dt>Address:</dt><dd><%= organization.try(:address) %></dd>	                
	              </dl>
	            </div>
	            <div class='col-lg-7' id='cluster_info'>
	              <dl class='dl-horizontal'>	                
	                <dt>Contact Number:</dt><dd><%= organization.try(:contact_number)%></dd>
	                <dt>Last Updated:</dt> <dd><%= local_time_ago(organization.updated_at) %></dd>
	                <dt>Created:</dt> <dd><%= local_time_ago(organization.created_at) %></dd>
	                <dt>Email :</dt><dd><%= organization.try(:email) %></dd>
	              </dl>
	            </div>
	          </div>
	          
	          <div class='row'>
	            <div class='col-lg-12'>
	              <dl class='dl-horizontal'>
	                <dt>Completed:</dt>
	              	<dd>
	                  <div class='progress progress-striped active m-b-sm'>
	                    <div style='width: 60%;' class='progress-bar'></div>
	                  </div>
	                  <small>
	                  	Project completed in <strong>60%</strong>. 
	                  	Remaining close the project, sign a contract and invoice.
	                  </small>
	                </dd>
	              </dl>
	            </div>
	          </div>

	          <div class='row m-t-sm'>
	            <div class='col-lg-12'>
	              <div class='panel blank-panel'>
	                
	                <div class='panel-heading'>
	                  <div class='panel-options'>
	                    <ul class='nav nav-tabs'>
	                    	<li class='active'>
	                    		<a href='#user-profile-tab-1' data-toggle='tab' aria-expanded='true'>Owner Profile</a>
	                    	</li>
	                      <li>
	                      	<a href='#transaction-tab-2' data-toggle='tab' aria-expanded='true'>Transactions</a>
	                      </li>
	                      <li class=''>
	                      	<a href='#activity-tab-3' data-toggle='tab' aria-expanded='false'>Activity</a>
	                      </li>
	                    </ul>
	                  </div>
	                </div>

	                <div class='panel-body'>
	                  <div class='tab-content'>
	                    
	                    <div class='tab-pane active' id='user-profile-tab-1'>
	                    	<%= render partial: '/admin/organizations/owner_profile' %>
	                    </div>

	                    <div class='tab-pane' id='transaction-tab-2'>
	                    	<%= render partial: '/admin/organizations/transactions' %>
	                  	</div>
	                    
	                    <div class='tab-pane' id='activity-tab-3'>
	                    	<%= render partial: '/admin/organizations/activities' %>
	                    </div>

		                </div>
									</div>

		            </div>
		          </div>
		        </div>

		      </div>
		    </div>
		  </div>
		</div>
		<%= render partial: '/admin/organizations/profile' %>
	</div>
</div>