<div class="ibox float-e-margins">
  <div class="ibox-content">
    <%= form_for([:admin, plan], html: { class: 'form-horizontal plan-edit-new' }, data: {plan_id: plan.try(:id) }) do |f| %>
      
      <% if plan.new_record? %>
        <div class="form-group">
          <%= f.label :name, 'Plan Name', class: 'col-sm-3 control-label' %>
          <div class="col-sm-8">
            <%= f.text_field :name, placeholder: 'Enter your plan name', class: 'form-control' %>
            <span class="help-block m-b-none">
              <i class='fa fa-info-circle'></i> Not allow space for plan name. <br/> 
              <i class='fa fa-info-circle'></i> Before submit check name of plan because plan name will not be editable.
            </span>
          </div>
        </div>
      <% else %>
        <div class="form-group">
          <label class="col-lg-3 control-label">Plan Name</label>
          <div class="col-lg-8">
            <p class="form-control-static"><%= plan.name %></p>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :title, 'Plan Description', class: 'col-sm-3 control-label' %>
        <div class="col-sm-8">
          <%= f.text_area :title, placeholder: 'Write your plan description here...', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :price, class: 'col-sm-3 control-label' %>
        <div class="col-sm-3">
          <%= f.text_field :price, placeholder: 'Plan Price', class: 'form-control' %>
        </div>

        <%= f.label :users, 'Allow # of users', class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= f.number_field :users, placeholder: 'Allow # of users', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :storage, 'Allow Storage', class: 'col-sm-3 control-label' %>
        <div class="col-sm-3">
          <%= f.number_field :storage, placeholder: 'Storage', class: 'form-control' %>
          <span class="help-block m-b-none">
            <small>This will be convert into GB.</small>
          </span>
        </div>

        <%= f.label :primary, 'Is primary ?', class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">          
          <label><%= f.check_box :primary, class: 'i-checks' %></label>
        </div>
      </div>

      <div class="hr-line-dashed"></div>
      
      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
          <%= link_to 'Cancel', admin_plans_path, data: {disable_with: loader }, class: 'btn btn-white' %>
          <button type='submit' class='btn btn-primary m-b' data-disable-with="<i class='fa fa-spin fa-spinner'></i> Save Changes...">
            Save Changes
          </button>
        </div>
      </div>
    <% end %>
  
  </div>
</div>
