<% content_for :title, "Plan List" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-8'>
    <%= show_breadcrumb('Plans') %>
  </div>
	<div class="col-lg-4">
    <div class="title-action">
    	<%= link_to new_admin_plan_path, class: 'btn btn-white', data: {disable_with: loader} do %>
    		<i class="fa fa-plus"></i> Add Plan
    	<% end %>     	
    </div>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">  	
  	<% plans.each do |plan| %>
	    <div id='data-<%= plan.id %>' class='col-lg-3'>
	      <div class="contact-box center-version">
	      	<%= link_to [:admin, plan] do %>
	      		<h3 class='m-b-xs'><strong><%= plan_name(plan.name) %></strong></h3>
	      		<div class='font-bold'><%= plan.title %></div><br/>
	      		<p><span><%= plan_price(plan.price )%></span></p>
            <p><%= plan_department(plan.users) %></p>
            <p><%= plan_storage(plan.storage) %></p>
	      	<% end %>
	        <div class="contact-box-footer">
	          <div class="m-t-xs btn-group">
	          	<%= link_to [:admin, plan], class: 'btn btn-xs btn-white', data: {disable_with: wait_loader} do %>
	          		<i class="fa fa-eye"></i> View
	          	<% end %>
		          <%= link_to edit_admin_plan_path(plan), class: 'btn btn-xs btn-white', data: {disable_with: wait_loader} do %>
	          		<i class="fa fa-pencil"></i> Edit
	          	<% end %>
		          <%= link_to 'javascript:void(0);', class: 'btn btn-xs btn-danger delete-plan', data: {behavior: 'delete', href: admin_plan_path(plan)} do %>
	          		<i class="fa fa-trash"></i> Delete
	          	<% end %>	          	
	          </div>
	        </div>
	      </div>
	    </div>
    <% end %>
  </div>
</div>