<% content_for :title, "Plan" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-6'>
    <%= show_breadcrumb("Plan - <strong> #{plan.name}</strong>".html_safe) %>
  </div>
	<div class="col-lg-6">
		<div class="title-action">
			<%= link_to edit_admin_plan_path(plan), class: 'btn btn-white', data: {disable_with: loader} do %>
			<i class="fa fa-pencil"></i> Edit Plan
			<% end %>     	
		</div>
	</div>

</div>
