<% content_for :title, "Password" %>
<div class="row">
  <%= render partial: '/layouts/flash_message' %>
  <div class="col-md-12">
    <div class="ibox-content">
      <h2 class="font-bold">Change your password</h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form account-form', id: 'changed_password' }) do |f| %>
        <%= f.hidden_field :reset_password_token %>          
        <div class='form-group'>
          <%= f.password_field :password, class: 'form-control', placeholder: 'New Password' %>
          <%= devise_error_messages! %>
        </div>
        
        <div class='form-group'>
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm New Password' %>
        </div>

        <button type='submit' class='btn btn-primary block full-width m-b' data-disable-with='Loading...'>
          Change my password
        </button>
      <% end %>
    </div>
  </div>
</div>