<% content_for :title, "Password" %>
<div class="row">
  <%= render partial: '/layouts/flash_message' %>
  <div class="col-md-12">    
    <div class="ibox-content"> 
      <h2 class="font-bold">Forget Password</h2>
      <p>Enter your email address and your password will be reset and emailed to you. </p>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form account-form', id: 'forget_password_inst' }) do |f| %>
        <div class='form-group'>
          <%= f.email_field :email, placeholder: 'Enter your email address.', class: 'form-control' %>
          <%= devise_error_messages! %>
        </div>

        <button type='submit' class='btn btn-primary block full-width m-b' data-disable-with='Loading...'>
          Send me reset password instructions
        </button>
      <% end %>
    </div>
  </div>
</div>