      <div class="ibox ">
        <div class="ibox-content">
          <div class="tab-content">
            <div id="contact-1" class="tab-pane active">
              <div class="row m-b-lg">
                <div class="col-lg-4 text-center">
                  <h2>Nicki Smith</h2>
									<div class="m-b-sm">
                    <img alt="image" class="img-circle" src="/assets/a2.jpg" style="width: 62px">
                	</div>
								</div>
                <div class="col-lg-8">
                  <strong> About me </strong>
                  <p>tempor incididunt ut labore et dolore magna aliqua. </p>
                  <button type="button" class="btn btn-primary btn-sm btn-block">
                  	<i class="fa fa-envelope"></i> Send Message
                 	</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
