<% content_for :title, "Transaction List" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-6'>
    <%= show_breadcrumb("Transactions") %>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">

		<div class="col-sm-8">
      <div class="ibox">
      	<div class="ibox-content">
          <p>All transactions for the organizations.</p>
        
          <% if transactions.present? %>
						<div class="table-responsive">
	            <table class="table table-striped table-hover">
	            	<thead>
	            		<tr>
	            			<th>Subscription #</th>
	            			<th>Org. Name</th>
	            			<th>Created At</th>
	            			<th>Status</th>
	            		</tr>
	            	</thead>
	              <tbody>
	              	<% transactions.each do |transaction| %>
		                <tr>
		                  <td><%= link_to transaction.try(:subscription).try(:subscription_id), [:admin, transaction], data: {disable_with: loader} %></td>
		                  <td><%= transaction.try(:organization).try(:name) %></td>		                  	
		                  <td><%= local_time(transaction.created_at, '%b %d, %Y %l:%m %p') %></td>
		                  <td class="client-status"><%= transaction_status(transaction.status_name) %></td>
		                </tr>
	                <% end %>
								</tbody>
	            </table>
	          </div>
	        <% else %>
	        	<h3> No Transactions Found Yet !</h3>
	        <% end %>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
    	<%= render partial: 'admin/transactions/rightpanel' %>
    </div>

	</div>
</div>