<% content_for :title, "View Transaction" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-sm-6'>
    <%= show_breadcrumb("Transaction Detail # #{transaction.id}") %>
  </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">

		<div class="col-sm-8">
			<div class="ibox-content">

        <h2 class="font-bold m-b-xs">
          <%= transaction.try(:organization).try(:name).try(:humanize) %>
          <small class='pull-right'>
            <%= transaction_status(transaction.status_name) %>
          </small>
        </h2>
        
        <small>Transaction amount for the subscription - <%= transaction.my_subscription_id %>.</small>
        
        <div class="m-t-md">
          <h2 class="product-main-price">$ <%= transaction.amount %></h2>
        </div>
        
        <hr>

        <h4>Transaction Response</h4>
        <% if transaction.response.present? %>
          <div class="small text-muted">
            <pre><%= JSON.pretty_generate(transaction.response) %></pre>
          </div>
        <% else %>
          No response present for this transaction.
        <% end %>      
        <dl class="small m-t-md">
          <dt>Response Code</dt>
          <dd><%= transaction.response_code %></dd>
          
          <dt>Response Reason Text</dt>
          <dd><%= transaction.response_reason_text %></dd>          
          
          <dt>Transaction ID </dt>
          <dd><%= transaction.transaction_id %></dd>
        </dl>
         
        <hr>

        <div>
          <div class="btn-group">
          	<%= link_to admin_transactions_path, data: {disable_with: loader}, class: 'btn btn-sm btn-white' do %>
          		<i class="fa fa-arrow-left"></i> Back
          	<% end %>
          </div>
        </div>

			</div>
		</div>

    <div class="col-sm-4">
    	<%= render partial: 'admin/transactions/rightpanel' %>
    </div>

	</div>
</div>
