 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require other/bootstrap.min.css
 *= require font-awesome
 *= require animate/animate.css
 
 * File Upload 
 *= require dropzone/dropzone.css
 *= require jasny/jasny-bootstrap.min.css
 *= require codemirror/codemirror.css

 * Others
 *= require other/style.css
 *= require morris/morris-0.4.3.min.css
 *= require other/animate.css
 
 *= require_self
 
 * Checkbox
 *= require iCheck/custom.css
 *= require awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css
 
 * Sweat Alert
 *= require sweetalert/sweetalert.css
 
 * Date Picker
 *= require datapicker/datepicker3.css
 
 * Custom CSS with File.
 *= require users.css
 *= require hr/holidays.css
 
 * Wyswyg
 *= require summernote/summernote.css
 *= require summernote/summernote-bs3.css

 * Projects
 *= require projects.css

 * Toastr CSS
 *= require toastr

 * Calendar
 *= require fullcalendar

 * Choosen JS
 *= require chosen
 */

  /* CUSTOM CSS */

  /* ----------------------------   PROFILE PAGE --------------------------  */

	#error_explanation p{
		color: #cc5965;
		display: inline-block;
    margin-left: 5px;
    font-weight: 700;
	}
