 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require landing/bootstrap.min.css
 *= require landing/animate.min.css
 *= require font-awesome
 *= require landing/style.css
 *= require font-awesome/css/font-awesome.min.css
 *= require_self
 */

 li.pricing-title small{
 	font-size: 10px;
 }

 .pricing-plan{
   background: rgba(70, 63, 63, 0.01);
 }