 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require other/bootstrap.min.css
 *= require font-awesome
 *= require animate/animate.css
 *= require other/style.css
 *= require_self
 */

.padleft0{
	padding-left: 0px;
}
.padright0{
	padding-right: 0px;
}
#user_month_expire{
	padding: 5px 5px 5px 9px;
}
.pad0{
	padding: 0px;
}