 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require other/bootstrap.min.css
 *= require font-awesome
 *= require animate/animate.css
 
 * File Upload 
 *= require dropzone/basic.css
 *= require dropzone/dropzone.css
 *= require jasny/jasny-bootstrap.min.css
 *= require codemirror/codemirror.css

 * Others
 *= require other/style.css
 *= require morris/morris-0.4.3.min.css
 *= require other/animate.css
 
 *= require_self
 
 * Checkbox
 *= require iCheck/custom.css
 *= require awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css
 
 * Sweat Alert
 *= require sweetalert/sweetalert.css
 	
 * Date Picker
 *= require datapicker/datepicker3.css 
 
 * Wyswyg
 *= require summernote/summernote.css
 *= require summernote/summernote-bs3.css

 * Choosen JS
 *= require chosen

 * Multi select dropdown
 *= require bootstrap-multiselect

 *= bootstrap-editable.css

 * Toastr CSS
 *= require toastr

 * Clockpicker
 *= require bootstrap/clockpicker.min
 
 * Secure Css
 *= require secure/projects.css
 *= require secure/tasks.css
 
 * Calendar
 *= require fullcalendar

 * Custom
 *= require letters.css
 */

  /* CUSTOM CSS */

  /* ----------------------------   PROFILE PAGE --------------------------  */

	#error_explanation p{
		color: #cc5965;
		display: inline-block;
    margin-left: 5px;
    font-weight: 700;
	}

	.top-navigation .wrapper.wrapper-content{
		padding: 20px 0 0;
	}

	.pad0{
		padding: 0px !important;
	}

	.flash-msg{
		padding: 4px 5.5% 0;
	}

	.flash-msg .alert{
		margin-bottom: 0px;
	}

	.padleft0{
		padding-left: 0px !important;
	}
	.project-search-secure .ibox{
		margin-bottom: 5px !important;
	}
	
	.padrgt0{
		padding-left: 0px !important;
	}

	.padlft0{
		padding-right: 0px !important;
	}	


.fc-today-button, .fc-button{
	text-transform: capitalize;
}

.fc-event-container a{
	border-radius: 0px;
  text-align: center;
  padding: 5px;
}
.fc-event-container a{
	padding: 4px 6px;
	background-color: #1ab394;
	border-color: #1ab394;
}
.fc-unthemed .fc-today{
	background: #e7eaec !important;
}
.employees-list .contact-box div p{
	margin: 16px 0px 16px;	
}
.employees-list .contact-box div.text-center{
	display: block;
}
.img-center{
	margin: 0 auto !important;
}
.employees .file-box{
	width: 250px;
}
.employees .file .icon, .file .image{
	height: 120px;
}
.employees .file .icon{
	padding: 25px 10px;
}
.color-white{
	color: white;
}
.m-r-5{
	margin-right: 5px;
}
.project-list table tr td{
	padding: 7px 10px;
}