.line-btn-text{ 
	width:100%; 
	text-align:center; 
	border-bottom: 1px dotted #000; 
	line-height:0.1em; 
	margin:10px 0 20px; 
} 
.line-btn-text span { 
	background:#fff; 
	padding:0 10px; 
}
.edit-project-clients .chosen-container-single .chosen-single{
	border-radius: 0 !important;
	line-height: 27px !important;	
}

.edit-project-clients .chosen-container-single .chosen-single div b{
	margin: 3px !important;
}
.img-center{
	margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
.client-icon{
	position: absolute;
  top: 4px;
  right: 4%;
}
.client-icon a{
	margin-left: 2px;
}
.modal-dialog .modal-footer{
	margin-top: 0px;
}
.flash-message{
 	padding-right: 3%;
  position: absolute;	
}
.width64{
	width: 64px;
}
.pad0{
	padding: 0px;
}
.padtop0{
	padding-top: 0px;
}
.truncate{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.color-white{
	color: white;
}
.m-r-5{
	margin-right: 5px;
}