#edit_user legend small, .org-owner-profile legend small{
  font-size: 65% !important;
}
.org-owner-profile legend{
	margin-bottom: 5px !important;
}
.org-owner-profile .form-group{
	margin-bottom: 0px;
}
.textleft{
	text-align: left !important;
}
.org-user-edit legend{
	font-size: 17px;
}
.flash-message{
	position: absolute;
  top: 20px;
  z-index: 1;	
  padding-right: 3%;
}
.preview_user_avatar{
	width: 100%;
	height: 110px;
}
.ml8{
	margin-left: 8px;
}