<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Project Management System - <%= yield(:title) %></title>  
      <% Gon::Base.render_data %>
      <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'basic_dashboard', 'data-turbolinks-track': 'reload' %>
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
      <%= render partial: '/layouts/google' %>
      <link rel="shortcut icon" href="/assets/favicon.ico">
      <%= csrf_meta_tags %>
      <%= include_gon(init: true) %>  
    </head>
    <body class="fixed-nav fixed-nav-basic pace-done">    

      <div id="wrapper">
        <% if is_super_admin? %>
          <%= render partial: '/layouts/dashboard/admin_header' %>
        <% else %>
          <%= render partial: '/layouts/dashboard/header' %>
        <% end %>
        <div id="page-wrapper" class="gray-bg" style="min-height: 1279px;">
          <div class="row border-bottom">
            <%= render partial: '/layouts/dashboard/menu' %>
          </div>          
          <%= render partial: '/layouts/flash_message' %>
          <%= yield %>
          <%= render partial: '/layouts/dashboard/footer' %>
        </div>
        <%= render partial: '/layouts/dashboard/right-sidebar' %>
    </div>
    <%= javascript_include_tag 'dashboard', 'data-turbolinks-track': 'reload' %>
    <% if @current_organization.is_admin? %>
      <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
    <% else %>
      <%= javascript_include_tag 'normal', 'data-turbolinks-track': 'reload' %>
    <% end %>        
  </body>
</html>