<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='description' content='Project Management System'>
    <meta name='author' content='Dipak Panchal'>
    <!-- Add Your favicon here -->
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <title>Project Management System - <%= yield(:title) %></title>  
    <%= render partial: '/layouts/google' %>
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'></script>
    <script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js'></script>
    <![endif]-->
    <!-- Custom styles for this template -->
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <%= csrf_meta_tags %>    
  </head>
  <body id='page-top'>
    <%= yield %>
    <%= javascript_include_tag 'home', 'data-turbolinks-track': 'reload' %>
  </body>
</html>