<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Project Management System - <%= yield(:title) %></title>  
    <%= stylesheet_link_tag 'invitation', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'basic_dashboard', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <%= render partial: '/layouts/google' %>
    <%= csrf_meta_tags %>    
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'invitation', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
