<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Management System | Lock Screen</title>
    <%= render partial: '/layouts/google' %>
    <%= stylesheet_link_tag 'lock_screen', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="gray-bg">
    <%= yield %>
    <%= javascript_include_tag 'lock_screen', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
