<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Management System - <%= yield(:title) %></title>  
    <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <%= render partial: '/layouts/google' %>
    <%= csrf_meta_tags %>    
  </head>
  <body class="gray-bg">    
    <div class="<%= ['passwords', 'confirmations'].include?(controller.controller_name)? 'passwordBox' : 'loginColumns' %> animated fadeInDown">
      <%= yield %>
      <hr/>
      <div class="row">
        <div class="col-md-8">Copyright © Project Management System</div>
        <div class="col-md-4 text-right">
          <small>© 2016-2017</small>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'login', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
