<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Management System - <%= yield(:title) %></title>  
    <% Gon::Base.render_data %>
    <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'basic_dashboard', 'data-turbolinks-track': 'reload' %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= render partial: '/layouts/google' %>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <%= csrf_meta_tags %>
    <%= include_gon(init: true) %>  
  </head>
  <body class="top-navigation <%= controller.controller_name %>">
    <div id="wrapper">
      <div id="page-wrapper" class="gray-bg">        
        <div class="row border-bottom white-bg">
          <%= render partial: '/layouts/users/header' %>
        </div>

        <div class="row flash-msg">
          <%= render partial: '/layouts/users/flash_msg' %>
        </div>
        
        <div class="wrapper wrapper-content">
          <div class="container">
            <%= yield %>
          </div>
        </div>
        <%= render partial: '/layouts/users/footer' %>
      </div>
    </div>
    <%= javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'normal', 'data-turbolinks-track': 'reload' %>
  </body>
</html>