<div class='modal inmodal' id='new-secure-project-popup' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content animated bounceInRight'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
        <h4 class='modal-title'>
          <i class="fa fa-bug"></i>
          Add Watcher
        </h4>
      </div>
      
      <%= form_for Watcher.new, url: {controller: 'watchers', action: 'create'}, html: {class: 'form-horizontal'}, remote: true do |form| %>
        <div class='modal-body'>
          <div class="form-group">            
            <div class="col-sm-12">
              <%= form.select :user_id, options_for_select(project.users.collect{|t| ["#{t.fullname} [ #{role_for_current_organization(t, @current_organization)} ] - #{t.email} - #{t.slug}", t.id]}, form.object.user_id), {include_blank: true}, {class: 'form-control chosen-select'} %>
              <span class="help-block m-b-none">Start typing to get a list of possible matches.</span>
            </div>
          </div>
          <% if task.watchers.present? %>
            <legend>Watcher List</legend>
            <ol>
              <% task.watchers.each do |watcher| %>
                <li><%= "#{watcher.user.fullname} [ #{role_for_current_organization(watcher.user, @current_organization)} ] - #{watcher.user.email}" %></li>
              <% end %>
            </ol>
          <% end %>
        </div>

        <div class='modal-footer'>          
          <button type='submit' class='btn btn-primary m-b-2' data-disable-with="<%= loader %>">Add</button>
          <button type='button' class='btn btn-white m-b' data-dismiss='modal'>Close</button>
        </div>
      <% end %>

    </div>
  </div>
</div>
