$('#new-secure-project').html("<%= escape_javascript(render partial: '/secure/watchers/new') %>")
$('#new-secure-project-popup').modal({backdrop: 'static', keyboard: false})

// Step 3 - Dropdown with Search
$(".chosen-select").chosen({
    no_results_text: 'No results matched',
    width: '100%'
});
