<div class='panel-body'>
  <h3>Change Password</h3><hr>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>

    <div class='form-group'>
      <label class='col-lg-3 control-label'>Email</label>
      <div class='col-lg-7'>
        <p class='form-control-static'><%= current_user.email %></p>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class='form-group'>
        <label class='col-lg-3 control-label'></label>
        <div class='col-lg-7'>
          <strong> Currently waiting confirmation for: <%= resource.unconfirmed_email %> </strong>
        </div>
      </div>
    <% end %>

    <div class='form-group'>
      <label class='col-sm-3 control-label'>Current Password</label>
      <div class='col-sm-7'>
        <%= f.password_field :current_password, autocomplete: 'off', class: 'form-control', placeholder: 'Enter your current password' %>
        <%= devise_error_messages! %>
        <span class='help-block m-b-none'>
          We need your current password to confirm your changes.
        </span>        
      </div>
    </div>

    <hr>

    <div class='form-group'>
      <label class='col-sm-3 control-label'>Password</label>
      <div class='col-sm-7'>
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Enter your new password' %>
      </div>
    </div>

    <div class='form-group'>
      <label class='col-sm-3 control-label'>Password Confirmation</label>
      <div class='col-sm-7'>
        <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: 'Enter password again for confirmation' %>
      </div>
    </div>

    <div class='hr-line-dashed'></div>
    
    <div class='form-group'>
      <div class='col-sm-4 col-sm-offset-3'>
      <%= link_to 'Cancel', root_path, class: 'btn btn-white', data: {disable_with: 'Please Wait...'} %>
        <%= f.submit 'Save Changes', class: 'btn btn-primary', data: {disable_with: 'Please Wait...'} %>
      </div>
    </div>

  <% end %>
</div>
