<div class='panel-body'>
  <h3>Profile Setting</h3><hr>
  <%= nested_form_for(@profile, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal', id: 'profile-edit-user' }) do |profile| %>

	  	<div class='col-lg-6'>

		    <div class='form-group'>
		      <label class='col-sm-4 control-label'>Email</label>
		      <div class='col-sm-8'>
		      	<p class="form-control-static"><%= @profile.user.email %></p>		        
		      </div>
		    </div>	    

		    <div class='form-group'>
		      <label class='col-sm-4 control-label'>Firstname</label>
		      <div class='col-sm-8'>
		        <%= profile.text_field :firstname, class: 'form-control', placeholder: 'Write your firstname', tabindex: 1 %>
		      </div>
		    </div>

		    <div class='form-group'>
		      <label class='col-sm-4 control-label'>Designation</label>
		      <div class='col-sm-8'>
		        <%= profile.text_field :designation, class: 'form-control', placeholder: 'Write your designation', tabindex: 16 %>
		      </div>
		    </div>
	    </div>

	  	<div class='col-lg-6'>

		    <div class='form-group'>
		      <label class='col-sm-4 control-label'>Username</label>
		      <div class='col-sm-8'>
		      	<p class="form-control-static"><%= @profile.user.username %></p>		        
		      </div>
		    </div>	    
		    <div class='form-group'>
		      <label class='col-sm-4 control-label'>Lastname</label>
		      <div class='col-sm-8'>
		        <%= profile.text_field :lastname, class: 'form-control', placeholder: 'Write your lastname', tabindex: 2 %>
		      </div>
		    </div>
		  </div>

		  <legend><small>Address Information</small></legend>

			<div class='col-lg-12'>
		    <div class='form-group'>
		      <label class='col-sm-2 control-label'>Address</label>
		      <div class='col-sm-6'>
		        <%= profile.text_field :address, class: 'form-control', placeholder: 'Write your address here...', tabindex: 7 %>
		      </div>
		    </div>
			</div>

			<div class='col-lg-6'>
		    <div class='form-group'>
		      <label class='col-sm-4 control-label'>City</label>
		      <div class='col-sm-8'>
		        <%= profile.text_field :city, class: 'form-control', placeholder: 'City Name', tabindex: 8 %>
		      </div>
		    </div>			
		    <div class='form-group'>
		      <label class='col-sm-4 control-label'>Country</label>
		      <div class='col-sm-8'>
		        <%= profile.text_field :country, class: 'form-control', placeholder: 'Country Name', tabindex: 10 %>
		      </div>
		    </div>			
			</div>

			<div class='col-lg-6'>
		    <div class='form-group'>
		      <label class='col-sm-4 control-label'>State</label>
		      <div class='col-sm-8'>
		        <%= profile.text_field :state, class: 'form-control', placeholder: 'State Name', tabindex: 9 %>
		      </div>
		    </div>
		    <div class='form-group'>
		      <label class='col-sm-4 control-label'>Zipcode</label>
		      <div class='col-sm-8'>
		        <%= profile.number_field :zipcode, class: 'form-control', placeholder: 'Zipcode', tabindex: 11, minlength: 4, maxlength: 6 %>
		      </div>
		    </div>		    
			</div>

			<legend><small>Profile Picture</small></legend>

			<div class='col-lg-12'>
		    <div class='form-group'>
		      <label class='col-sm-2 control-label'>Logo</label>
		      <div class='col-sm-8'>
						<div class="fileinput fileinput-new input-group" data-provides="fileinput">
              <div class="form-control" data-trigger="fileinput">
              	<i class="glyphicon glyphicon-file fileinput-exists"></i>
              	<span class="fileinput-filename"></span>
              </div>
            	<span class="input-group-addon btn btn-default btn-file">
            		<span class="fileinput-new">Select file</span>
            		<span class="fileinput-exists">Change</span>
            		<input type="hidden">            		
            		<%= profile.file_field :avatar, tabindex: 12 %>
            	</span>
              <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
            </div>		        
		      </div>
		    </div>
			</div>

			<legend><small>Personal Information</small></legend>

			<div class='col-lg-12'>
				<div class='form-group'>
		      <label class='col-sm-2 control-label'>About Me</label>
		      <div class='col-sm-10'>
		      	<%= profile.text_area :about_me, class: 'form-control', placeholder: 'Write something about your self here...', tabindex: 13, maxlength: 260 %>
		      </div>
		    </div>
			</div>

			<div class='col-lg-6'>
				<div class='form-group'>
		      <label class='col-sm-4 control-label'>Birth Date</label>
		      <div class='col-sm-8'>		      
            <div class="input-group date">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>              
              <%= profile.text_field :birth_date, value: profile.object.birth_date.present? ? profile.object.birth_date.strftime('%d/%m/%Y') : '', class: 'form-control', placeholder: 'DD/MM/YYYY', tabindex: 14 %>
            </div>
		      </div>
		    </div>	

			</div>

			<div class='col-lg-6'>
				<div class='form-group'>
		      <label class='col-sm-4 control-label'>Marriage Date</label>
		      <div class='col-sm-8'>		      
            <div class="input-group date">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>              
              <%= profile.text_field :marriage_date, value: profile.object.marriage_date.present? ? profile.object.marriage_date.strftime('%d/%m/%Y') : '', class: 'form-control', placeholder: 'DD/MM/YYYY', tabindex: 15 %>
            </div>
		      </div>
		    </div>			
			</div>

			<div class='col-lg-6'>
			</div>			
		
	  
	  <legend><small>Contact Information</small></legend>

	  <div class="col-lg-6">
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Phone Number</label>
	      <div class='col-sm-8'>
	        <%= profile.text_field :phone_number, class: 'form-control phone-number', placeholder: '(XXX) XXX-XXXX', tabindex: 3 %>
	      </div>
	    </div>

	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Home Number</label>
	      <div class='col-sm-8'>
	        <%= profile.text_field :home_number, class: 'form-control home-number', placeholder: '(XX) XXX-XXX-XX', tabindex: 5 %>
	      </div>
	    </div>	  
	  </div>

	  <div class="col-lg-6">
	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Mobile Number</label>
	      <div class='col-sm-8'>
	        <%= profile.text_field :mobile_number, class: 'form-control phone-number', placeholder: '(XXX) XXX-XXXX', tabindex: 4 %>
	      </div>
	    </div>

	    <div class='form-group'>
	      <label class='col-sm-4 control-label'>Website</label>
	      <div class='col-sm-8'>
	        <%= profile.url_field :website, class: 'form-control', placeholder: 'http://www.google.co.in', tabindex: 6 %>
	      </div>
	    </div>	  
	  </div>

	  <div class="clearfix"></div>
		
		<hr>
		<div class='col-lg-8'>    
	    <div class='form-group'>
	      <label class='col-sm-3 control-label'>Current Password</label>
	      <div class='col-sm-8'>
	        <%= profile.password_field :current_password, autocomplete: 'off', class: 'form-control', placeholder: 'Enter your current password' %>
	        <span class='help-block m-b-none'>
	          We need your current password to confirm your changes.
	        </span>        
	      </div>
	    </div>
	  </div>

	  <div class="clearfix"></div>

    <div class='hr-line-dashed'></div>
    
    <div class='form-group'>
      <div class='col-sm-8 col-sm-offset-2'>
      	<%= link_to 'Cancel', root_path, class: 'btn btn-white', data: {disable_with: loader} %>
        <%= button_tag 'Save Changes', class: 'btn btn-primary', data: { disable_with: loader} %>
      </div>
    </div>

  <% end %>
</div>
