<% content_for :title, "Registrations" %>
<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-lg-10'>
    <h2>Profile</h2>
    <%= render_breadcrumbs %>
  </div>
  <div class='col-lg-2'></div>
</div>  
          
<div class='wrapper wrapper-content'>
  <div class='row m-b-lg m-t-lg'>
    <div class='col-md-6'>
      <div class='profile-image'>
        <% if @profile.present? && @profile.avatar.url.present? %>
          <%= image_tag(@profile.avatar, class: 'img-circle circle-border m-b-md', alt: 'Profile Picture') %>
        <% else %>
          <img src='/assets/No_image_available.svg' class='img-circle circle-border m-b-md' alt='profile'>
        <% end %>
      </div>
      <div class='profile-info'>
        <div class=''>
          <div>
            <h2 class='no-margins'><%= @profile.fullname.present? ? @profile.fullname : resource.fullname %></h2>
            <h4><%= @profile.try(:designation) || 'Undefine' %></h4>
            <small><%= @profile.try(:about_me) %></small>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <table class='table small m-b-xs'>
        <tbody>
          <tr>
            <td><strong>142</strong> Projects</td>
            <td><strong>22</strong> Followers</td>
          </tr>
          <tr>
            <td><strong>61</strong> Comments</td>
            <td><strong>54</strong> Articles</td>
          </tr>
          <tr>
            <td><strong>154</strong> Tags</td>
            <td><strong>32</strong> Friends</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='col-md-3'>
      <small>Sales in last 24h</small>
      <h2 class='no-margins'>206 480</h2>
      <div id='sparkline1'>
        <canvas style='display: inline-block; width: 236px; height: 50px; vertical-align: top;' width='236' height='50'></canvas>
      </div>
    </div>
  </div>

  <div class='ibox float-e-margins'>
    <div class='row'>
      <div class='col-lg-12'>
        <div class='tabs-container'>   
          <ul class='nav nav-tabs'>
            <li class='active'>
              <a data-toggle='tab' href='#tab-1-profile-settings' aria-expanded='false'> 
                <i class='fa fa-user'></i> Profile Settings 
              </a>
            </li>
            <li class=''>
              <a data-toggle='tab' href='#tab-2-change-password' aria-expanded='false'>
                <i class='fa fa-lock'></i> Changed Password
              </a>
            </li>
            <li class=''>
              <a data-toggle='tab' href='#tab-3' aria-expanded='false'>
                <i class='fa fa-bullhorn'></i> Notification
              </a>
            </li>
            <li class=''>
              <a data-toggle='tab' href='#tab-4' aria-expanded='false'>
                <i class='fa fa-dollar'></i> Payment Settings
              </a>
            </li>
            <li class=''>
              <a data-toggle='tab' href='#tab-5-cancel-account' aria-expanded='false'>
                <i class='fa fa-close'></i> Cancel My Account
              </a>
            </li>            
          </ul>
          
          <div class='tab-content '>
            <div id='tab-1-profile-settings' class='tab-pane active'>
              <%= render partial: '/users/registrations/profile_setting' %>
            </div>
            
            <div id='tab-2-change-password' class='tab-pane'>
              <%= render partial: '/users/registrations/change_password' %>
            </div>
            
            <div id='tab-3' class='tab-pane'>
            </div>
            
            <div id='tab-4' class='tab-pane'>
            </div>

            <div id='tab-5-cancel-account' class='tab-pane'>
              <div class='panel-body'>
                <h3>Cancel My Account</h3><hr>
                <p>
                  Unhappy? <%= link_to 'Cancel my account', registration_path(resource_name), data: {confirm: 'Are you sure want to cancel your account?', disable_with: 'Please Wait...'}, method: :delete, class: 'btn btn-danger btn-xs' %>
                </p>
              </div>
            </div>

          </div>        

        </div>
      </div>
    </div>
  </div>
</div>
