<% content_for :title, "Registrations" %>
<div class="row">
  <%= render partial: '/layouts/flash_message' %>
  <div class="col-md-6">
    <h2 class="font-bold">Welcome to <br/>Project Management System</h2>
    <p>All your projects needs all under one roof...</p>
    <br />
    <h3>Get Started with a Free Account.</h3>    
  </div>
  <div class="col-md-6">    
    <div class="ibox-content"> 
      <h3 class="font-bold">Get started with a Free Account</h3>
      <h5>Sign up in 30 seconds. No credit card required.</h5>
      <%- paid_registration = params[:plan].downcase != 'free' ? 'paid_registration' : '' %>
      <%= nested_form_for resource, as: resource_name, url: registration_path(resource_name), html: {class: "#{params[:plan]} form account-form #{paid_registration}", id: "new_#{params[:plan]}_registration"} do |f| %>
        <div class='form-group'>
          <%= f.text_field :organization_name, placeholder: 'Organization Name', class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.text_field :username, placeholder: 'Username', class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.email_field :email, placeholder: 'Your email', class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
        </div>
        
        <div class='form-group'>
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %>
        </div>
        
        <% if params[:plan] != 'free' %>
          <h5>
            Credit/Debit Card Information
            <span class='pull-right'><%= plan_price(@plan.price) %></span>
          </h5>
          <div class='form-group col-lg-8 padleft0'>
            <%= f.text_field :credit_card, class: 'form-control col-md-8', placeholder: 'XXXX XXXX XXXX XXXX', minlength: 8, maxlength: 19 %>
          </div>
          <div class='form-group col-lg-4 padright0'>
            <%= f.text_field :csc, class: 'form-control col-md-4', placeholder: 'CVV', minlength: 3, maxlength: 4 %>
          </div>
          <div class='form-group col-lg-6 padleft0'>
            <%= f.text_field :card_holder_name, class: 'form-control col-md-8', placeholder: 'Card Holder Name' %>
          </div>
          <div class='form-group col-lg-2 padright0 pad0'>
            <%= f.select :month_expire, options_for_select((Time.zone.now.month..12).to_a), {}, class: 'form-control col-md-3' %>
          </div>
          <div class='form-group col-lg-4 padright0'>
            <%= f.select :year_expire, options_for_select((Time.zone.now.year..(Time.zone.now.year+10)).to_a), {}, class: 'form-control col-md-3' %>
          </div>

        <% end %>

        <button type='submit' class='btn btn-primary block full-width m-b' data-disable-with='Loading...'>
          Create My Account
        </button>
      
        <p class="text-muted text-center"><small>Already have an account?</small></p>
        <%= link_to 'Login', new_session_path(resource_name), data: {disable_with: loader}, class: 'btn btn-sm btn-white btn-block' %>
      <% end %>
    </div>
  </div>
</div>
